.page-content{
    padding-bottom: 55px;
}
.jqx-tabs-content-olbius {
    height: 90% !important;
}
.campaign-tab-content{
	overflow-x: hidden;
}

.widget-header-info{
	background: #438eb9;
	color: #FFF;
}
.control-action{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 20001;
}

.no-resize{
	margin-top: 0; resize: none
}
.custom-cell-grid{
	margin: 4px !important;
}
.tabs-left .tab-content{
	padding-top: 0;
}
.page-content{
	min-height: 630px;
}
.jqx-input-group-addon{
	padding: 0 !important;
}
