@import "../lib/ionic/scss/variables";

$header : 44px;
$size : 56px;
$size-mini : 40px;
$margin: 16px;
$top: 10px;
$font-size: 1.5rem;
$font-size-min: 1rem;

$paddingInput : 10px;
$margin-input : 10px;
$height-input : 40px;
$font-size-icon-circle: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-icon-quantity: 25px;
$border-color: #EAEAEA;
$olbius-outside: #66CCFF;
$olbius-inside: #0099CC;
$citem-padding: 8px;
$pdEmpty : 16px;
$default-color: #333;
$bg-color: #EEE;
$bg-default: #FFF;
$avatar-width: 80px;
$avatar-width-small: 60px;
$avatar-big-width: 160px;
$padding-thumb-left: $avatar-width + $paddingInput * 2;
$input-right-width: 200px;

$login-input-color: #EEE;
$bg-login-item: rgba(255,255,255,0.2);

$product-image-size: 80px;
$product-image-small: 60px;
$width-quantity : 80px;
$wreg-quantity: 25px;
$minXSmallMobile : 320px;
$minSmallMobile : 480px;
$minMediumMobile : 640px;
$login-container-height : 285px;
$mintablet : 768px;