.titleText { width: 100%;}
.titleText > span {
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px!important;
}
.valueTotal { color: #FFFFFF; font-weight: bold;}
.valueTotal > span { color: #FFFFFF; font-weight: bold;}
.description {
    margin-bottom: 0;
    bottom: 0;
    font-style: italic;
    color: #FFFFFF;
}
.testtest { background: #6FB3E0;}
div.testtest:hover { background: #6F87E0;}
div.testtest2:hover { background: #D68CDF;}
div.testTopStore:hover { background: #1B9288;}
div.testtest5:hover { background: #DF8CAA;}
div.testtest4:hover { background: #27D481;}
div.testtest3:hover { background: #FF2D2D;}
div.testtest, div.testtest2, div.testtest3, div.testtest4, div.testTopStore, div.testtest5 {
	-moz-user-select: -moz-none;
 	-moz-user-select: none;
 	-o-user-select: none;
 	-khtml-user-select: none;
 	-webkit-user-select: none;
 	-ms-user-select: none;
	height: 100%;
    cursor: pointer;
}
.testtest2 { background: #9585BF;}
.testtest3 { background: #D53F40;}
.testtest4 { background: #42B27C; overflow-y: hidden;}
.testTopStore{ background:  #1b926c;}
.testtest5 { background: #D68CDF;}
.testtest > i.fa.fa-bar-chart, .testtest2 > i.fa.fa-truck, .testtest3 > i.fa.fa-thumbs-o-down, .testtest4 > i.fa.fa-thumbs-o-up, .testTopStore > i.fa.fa-line-chart, .testtest5 > i.fa.fa-shopping-cart, .testApproveOrder > i.fa.fa-exclamation-triangle {
    font-size: 40px;
    color: white;
    width: 25%;
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 7%;"
}
.valuee {
    width: 70%;
    float: right;
    padding: 15px 5px;
    display: inline-block;
}
#row00completeOrderGrid > div > input.jqx-input-olbius, #row00cancelOrderGrid > div > input.jqx-input-olbius, #row00intransitOrderGrid > div> input.jqx-input-olbius, #row00approveOrderGrid > div > input.jqx-input-olbius{
	margin: 0!important;
	width: 100%!important;
	height:100%!important;
}
/* new version */
div.test-value-total { background: #6FB3E0;}
div.test-intransit-order { background: #9585BF;}
div.test-approve-order {background: #F89406;}
div.test-complete-order { background: #42B27C;}
div.test-cancel-order { background: #D53F40;}

div.test-value-total:hover { background: #6F87E0;}
div.test-intransit-order:hover { background: #D68CDF;}
div.test-approve-order:hover { background: #F8C606;}
div.test-complete-order:hover { background: #27D481;}
div.test-cancel-order:hover { background: #FF2D2D;}

div.test-approve-order, div.test-intransit-order, div.test-value-total, div.test-complete-order, div.test-cancel-order {color: #fff; height: 100%;}
div.icon{height: 100%; display: flex!important;}
div.icon > i.content-icon {margin: auto; font-size: 40px;}
div.content{    
	font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    height: 100%;
    display: flex!important;
}
div.content-text{margin: auto 0px;}
div.test-intransit-order, div.test-approve-order, div.test-value-total, div.test-complete-order, div.test-cancel-order {
	-moz-user-select: -moz-none;
 	-moz-user-select: none;
 	-o-user-select: none;
 	-khtml-user-select: none;
 	-webkit-user-select: none;
 	-ms-user-select: none;
	height: 100%;
    cursor: pointer;
}