@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'),
		url(../font/NYDWBdD4gIq26G5XYbHsFFtXRa8TVwTICgirnJhmVJw.woff2)
		format('woff2'), url(NYDWBdD4gIq26G5XYbHsFD8E0i7KZn-EPnyo3HZu7kw.woff)
		format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
		url(../font/N_9Jp7AwAheF7LtLH7gZjQ.woff2) format('woff2'),
		url(../font/HV_H5nosKj8mZupFxrHqHA.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'),
		url(../font/mbmhprMH69Zi6eEPBYVFhVtXRa8TVwTICgirnJhmVJw.woff2)
		format('woff2'),
		url(../font/mbmhprMH69Zi6eEPBYVFhT8E0i7KZn-EPnyo3HZu7kw.woff)
		format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'),
		url(../font/PwZc-YbIL414wB9rB1IAPVtXRa8TVwTICgirnJhmVJw.woff2)
		format('woff2'),
		url(../font/PwZc-YbIL414wB9rB1IAPT8E0i7KZn-EPnyo3HZu7kw.woff)
		format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
		url(../font/7m8l7TlFO-S3VkhHuR0at0qs5AeeBmydKTXp2rSeyjU.woff2)
		format('woff2'),
		url(../font/7m8l7TlFO-S3VkhHuR0at0bnXQ06sCSpaytluCdpFnY.woff)
		format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Italic'), local('Roboto-Italic'),
		url(../font/K23cxWVTrIFD6DJsEVi07fesZW2xOQ-xsNqO47m55DA.woff2)
		format('woff2'),
		url(../font/siQR0c1plrd8i43rIfDOFfesZW2xOQ-xsNqO47m55DA.woff)
		format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 500;
	src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
		url(../font/OLffGBTaF0XFOW1gnuHF0Uqs5AeeBmydKTXp2rSeyjU.woff2)
		format('woff2'),
		url(../font/OLffGBTaF0XFOW1gnuHF0UbnXQ06sCSpaytluCdpFnY.woff)
		format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
		url(../font/t6Nd4cfPRhZP44Q5QAjcC0qs5AeeBmydKTXp2rSeyjU.woff2)
		format('woff2'),
		url(../font/t6Nd4cfPRhZP44Q5QAjcC0bnXQ06sCSpaytluCdpFnY.woff)
		format('woff');
}

body {
	font-family: 'Roboto', sans-serif;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td,
	.table tbody>tr>td, .table tfoot>tr>td {
	vertical-align: middle;
}

.row {
	margin: 0;
}

.content {
	position: relative;
	padding: 10px 0;
	background: #F1F1F1 url("../img/main-back.png") repeat;
	z-index: 2;
}

#poslogo {
	margin: 10px 195px 10px 10px;
}

button.btn-center, th.th-center {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.tr-active td {
	background: #ffffcc !important;
}

.pos-align-left {
	text-align: left;
}

.pos-align-right {
	text-align: right;
}

.pos-checkout>.col-md-12 {
	padding: 0;
}

.pos-checkout>.col-md-12>.col-md-6 {
	padding-left: 0;
}

.pos-checkout, .pos-keyboard {
	margin-top: 10px;
	display: block;
}

.pos-checkout-total {
	font-size: 26px;
	color: #d43f3a;
	font-weight: bold;
	line-height: 40px;
}

.order-info {
	font-size: 16px;
	font-weight: 400;
}

.pos-right {
	padding-right: 0;
}

.pos-left {
	padding-left: 0;
}

.button-checkout {
	border: 1px solid #0088cc;
	border-radius: 8px;
	padding: 10px 5px;
	text-align: center;
	margin: 4px 0;
	font-size: 17px;
	font-weight: 700;
	background: #0099cc;
	color: #FFF;
	height: 65px;
}

.group-button-checkout {
	margin-top: -15px;
}

.button-checkout a {
	color: #fff;
}

.button-checkout:active {
	background-color: #0099ff;
}

.product-info>.row>.col-md-2, .customer-info>.row>.col-md-3,
	.group-button-checkout>.row>.col-md-4 {
	padding: 0 10px 0 0;
}

.product-info>.row>.col-md-10, .customer-info>.row>.col-md-9,
	.group-button-checkout>.row>.col-md-4:last-child {
	padding-right: 0;
}

.product-info>.row-fluid>.col-md-2, .customer-info>.row>.col-md-3,
	.group-button-checkout>.row>.col-md-4 {
	padding: 0;
}

.product-info>.row-fluid>.col-md-10, .customer-info>.row>.col-md-9,
	.group-button-checkout>.row>.col-md-4:last-child {
	padding-right: 0;
}

.product-info .product-image {
	width: 152px;
	height: 117px;
}

.product-info .product-image img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.product-qty {
	width: 50px;
	height: 20px;
	padding: 0px 10px;
	font-size: 12px;
	text-align: center;
}

.w5 {
	width: 5%;
}

.w7 {
	width: 7%;
}

.w8 {
	width: 8%;
}

.w10 {
	width: 10%;
}

.w15 {
	width: 15%;
}

.w16 {
	width: 16%;
}

.w18 {
	width: 18%;
}

.w20 {
	width: 20%;
}

.w30 {
	width: 30%;
}

.w25 {
	width: 25%;
}

.w45 {
	width: 45%;
}

.w47 {
	width: 47%;
}

.w50 {
	width: 50%;
}

.w70 {
	width: 70%;
}

.w100 {
	width: 100%;
}

.w33 {
	width: 33%;
}

#table-list-header {
	overflow-y: scroll;
}

#table-list-items {
	overflow-y: scroll;
}

#list-items table {
	display: block;
	width: 100%;
}

#list-items thead {
	display: table;
	width: 100%;
}

#list-items thead tr {
	display: table-row;
	width: 100%;
}

#list-items tbody {
	display: table;
	width: 100%;
}

#list-items tbody tr {
	display: table-row;
	width: 100%;
}

.dropdown-big .dropdown-menu h5, .dropdown-big .dropdown-menu h6,
	.dropdown-big .dropdown-menu h5 a, .dropdown-big .dropdown-menu h6 a {
	font-family: 'Open Sans';
	font-weight: bold;
}

.category-product {
	background: #0099ff;
	background-image: linear-gradient(to bottom, #66ccff, #0099ff);
	position: absolute;
	right: 20px;
	bottom: 0px;
	width: 31.5%;
	height: 50px;
	padding: 12px 25px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	float: right;
	border-radius: 5px 5px 0 0;
}

.category-product a {
	color: #FFF;
}

.category-product:active {
	background-image: linear-gradient(to bottom, #0099ff, #66ccff);
	text-decoration: none;
}

.modal {
	overflow-x: auto;
	overflow-y: auto;
}

#pos-show-hold-cart .modal-dialog {
	width: 100%;
	height: 100%
}

#pos-show-hold-cart .modal-footer {
	margin-top: 0;
}

#pos-show-hold-cart .col-md-3 {
	padding-left: 0;
}

#pos-show-hold-cart .col-md-9 {
	padding: 0;
}

.list-categories {
	overflow: auto;
	height: 65vh;
	border-right: 1px solid #CCC;
}

.list-categories ul {
	list-style: none;
	margin-bottom: 0;
	padding-left: 10px;
}

.list-categories li {
	line-height: 30px;
	margin: 5px 0;
}

.list-categories li a {
	color: #0099ff;
}

.list-categories li.active a {
	color: #d43f3a;
}

.list-products {
	overflow: auto;
	height: 65vh;
}

.modal {
	overflow-x: auto;
	overflow-y: auto;
}

#pos-hold-cart .modal-dialog {
	width: 1170px;
}

#pos-hold-cart .modal-footer {
	margin-top: 0;
}

#pos-hold-cart .col-md-3 {
	padding-left: 0;
}

#pos-hold-cart .col-md-9 {
	padding: 0;
}

.pos-table-hold-cart-list {
	overflow: auto;
	height: 65vh;
	border-right: 1px solid #CCC;
	padding-right: 10px;
}

.pos-holdcart-order-overview {
	overflow: auto;
	height: 65vh;
}

p.product-name {
	text-align: center;
	margin-bottom: 10px;
}

.navbar-form .form-group {
	width: 220px;
}

.pos-red {
	color: #cc0000;
}

.align-center {
	text-align: center;
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}

.align-right {
	text-align: right;
	display: block;
}

.align-left {
	text-align: left;
	display: block;
}

#table-list-items {
	height: 60vh;
}

.product-info, .customer-info {
	padding: 9px;
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 3px;
	margin-top: 10px;
	line-height: 1.5em;
	height: 160px;
}

.product-name-active, .total-money {
	color: #cc0000;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.return-money {
	color: #0099cc;
	font-size: 22px;
	font-weight: bold;
}

.form-control {
	font-size: 16px;
}

.product-image img {
	border: 1px solid #eee;
}

.product-info-active {
	font-size: 20px;
	line-height: 1.8em;
}

.blue {
	color: #0099cc;
}

.product-name-active {
	margin-top: 5px;
}

input.blue {
	margin: 0 0 5px 0;
	line-height: 1.5em;
}

.no-margin-left {
	margin-left: 0;
}

.no-margin-right {
	margin-right: 0;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.margin-top-20 {
	margin-top: 20px;
}

table tr td {
	vertical-align: middle;
}

.pos-holdcart-header {
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
}

span.grey-text {
	color: #999;
	line-height: 30px;
}

.blue-bold {
	color: #0099ff;
	font-weight: bold;
}

.icon-info-circle:before {
	content: "\f05a";
}

.form-control:focus {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px #0099ff;
	border-color: #6bb8ff;
	border-width: 2px;
}

#dialogPayCash input[type='text'] {
	font-size: 24px;
	font-weight: bold;
	color: #cc0000;
	width: 100%;
	text-align: right;
}

#pos-show-sale-history .modal-dialog {
	width: 100%;
	padding: 0;
	overflow: auto;
	height: 100vh;
}

#pos-show-sale-history .modal-content {
	height: 100%
}

#pos-show-sale-history .modal-footer {
	margin-top: 0;
}

#pos-show-sale-history .col-md-3 {
	padding-left: 0;
}

#pos-show-sale-history .col-md-9 {
	padding: 0;
}

.pos-sale-history-list {
	overflow: auto;
	height: 81vh;
	border-right: 1px solid #CCC;
	padding-right: 10px;
}

#search-history-order {
	margin: 0 0px 10px 0px;
}

#pos-show-sale-history .form-control {
	font-size: 13px;
}

.boder-bottom {
	border-bottom: 1px solid #EEE;
	padding: 5px 10px;
}

#adjustmentOrder {
	width: 140px;
	display: inline;
}

#pos-table-saled-order-list {
	overflow: auto;
	max-height: 67vh;
}

.asterisk::after {
	content: " *";
	color: red;
}

.margin-bottom10 {
	margin-bottom: 10px;
}
/* test */
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td,
	.table tbody>tr>td, .table tfoot>tr>td {
	padding: 6px !important;
}

.expired {
	background-color: #eeeeee !important;
}

.expired.jqx-widget-olbius .expired.jqx-grid-cell-selected-olbius,
	.jqx-widget-olbius .expired.jqx-grid-cell-hover-olbius {
	background-color: #eeeeee !important;
}
.available {
	background-color: #bce8f1 !important;
}

.available.jqx-widget-olbius .available.jqx-grid-cell-selected-olbius,
	.jqx-widget-olbius .available.jqx-grid-cell-hover-olbius {
	background-color: #bce8f1 !important;
}

.navbar-collapse .pos-help {
	margin: 12px 18px;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background: white;
}
.navbar-collapse .pos-help i {
	font-size: 22px;
	margin: 5px;
}
#jqxwindowHelpCenter .jqx-window-content {
	padding: 20px;
}
#jqxwindowHelpCenter h1, h2, h3, h4, h5, h6 {
	padding: 2px 0px;
	margin: 2px 0px;
	color: black;
}
#jqxwindowHelpCenter h5 {
	padding: 3px 0px;
}
#jqxwindowHelpCenter h4 {
	font-weight: bold;
}
#jqxwindowHelpCenter hr {
	width: 85%;
	margin: 10px 0px 0px 0px;
	border-top: 0.5px solid grey;
	border-bottom: none;
}

#CartHeader {
	margin-bottom: 15px;
}