/*#7cc143 #007145 #0099CC*/
::-webkit-scrollbar {
    display: none;
}
.block {
	display: block;
}
.asterisk::after{
 content: " *";
 color: red;
}
.ng-scope {
	position: relative;
}
.modal-backdrop {
	z-index: 1;
}
.url-config {
	position: absolute;
	bottom: 0;
	left: 5px;
	width: calc(100% - 10px);
	padding: 5px;
}
.url-config input {
	padding: 10px;
}
.url-config .url-config-reload {
	position: absolute;
	bottom: 6px;
	right: 6px;
	width: 40px;
	height: 40px;
}
.main-menu {
	background: #004050;
}
.main-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1051;
}
#mainAction {
	padding-top: 10px;
}
.main-bg {
	/*background: rgb(0, 113, 69);*/
}
.main-container {
	height: -webkit-calc(100% - 0px);
	padding-top: 45px;
	width: 100%;
	overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.main-content {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.main-container:before {
	background: none;
}

body:before {
	background: none;
}

body:active {
	color: #e4e6e9 !important;
}

body {
	position: relative;
	background: none;
	font-family: 'Open Sans';
	font-size: 13px;
	color: #393939;
	-webkit-user-select: none;
	margin-bottom: -10px;
	overflow: hidden;
}

.wrapper {
	/*position: relative;
	 z-index: 1050;
	 -webkit-transform: translate3d(0, 0, 0);
	 transform: translate3d(0, 0, 0);
	 -webkit-transition: -webkit-transform 0.1s ease-out;
	 transition: transform 0.1s ease-out;*/
	background: rgb(242, 242, 242);
	/*overflow: hidden;*/
}

.translate-right {
	-webkit-transform: translate3d(80%, 0, 0);
	transform: translate3d(80%, 0, 0);
}
.row, div, ul, li, span, a, i, label, table, tr, td, h1, h2, h3, h4, h5, select, option, b {
	color: #393939;
}
.row-none {
	margin: 0;
}
.order-statistic {
	background: #FFF;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 10px;
}
.default-color {
	color: #393939 !important;
}
.theme-color {
	color: #007145 !important;
}

.error-color {
	color: #F61818 !important;
}
.white-color {
	color: #FFF !important;
}
.green-color {
	color: rgb(0, 113, 69) !important;
}
.red-color {
	color: #FA3E3E !important;
}
.sizeRadio {
	width: 20px;
	height: 20px;
	border-radius: 20px;
}
.nav-tabs > li > a {
	padding: 10px 12px 10px;
}
.right {
	float: right !important;
}
.align-right {
	text-align: right;
}
.edit {
	position: absolute;
	top: 0;
	width: 30px;
	height: 100%;
	right: 0;
}
.edit-bt {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 3px;
	font-size: 15px;
	color: #FFF;
}

.done {
	-webkit-animation: vibrate 0.5s linear infinite;
}
.customer-table {
	margin-bottom: 50px;
}
.icon-text {
	float: left;
	margin-right: 3px;
}
.icon {
	float: left;
	width: 20px;
	height: 20px;
	border: 1px solid #E4E4E4;
}
.road {
	background-color: #B7E0B5;
	height: 30px;
	padding: 5px 10px;
	border-radius: 10px;
}
.road1 {
	background-color: #F9FFDF;
}
.road1 td {
	background-color: #F9FFDF !important;
}

.road2 {
	background-color: #F4FDC9;
}
.road2 td {
	background-color: #F4FDC9 !important;
}

@-webkit-keyframes vibrate{
100%{
-webkit-transform: rotate(45deg);
}
50%{
-webkit-transform: rotate(-45deg);
}
0%{
-webkit-transform: rotate(45deg);
}
}
.left {
	float: left !important;
}

.error {
	color: #F61818 !important;
	border: 1px solid #F61818 !important;
}
.modal-content {
	border-radius: 5px;
}
.modal-body {
	position: relative;
	padding: 15px;
	max-height: 380px;
	overflow: auto;
}
.modal.in .modal-dialog {
	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0);
}
h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
}

input[type=date]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	display: none;
}

.forgot-password {
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%
}

.login-layout {
	width: 100%;
	height: 100%;
	background-color: #0099CC;
	background-image: -webkit-radial-gradient(center center, circle cover, #66CCFF, #0180AB);
}

.login-layout .main-container {
	padding-top: 0;
	height: 100%;
}

.login-layout .page-content {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
}

.login-screen .page-content {
	position: relative;
}

.login-logo {
	width: 296px;
	margin-bottom: 80px;
}

.login-form-container {
	width: 100%;
	height: 410px;
	position: absolute;
	top: 50%;
	margin-top: -300px;
}

.login-form {
	margin-bottom: 10px;
}

.login-button-action {
	margin-top: 10px;
	margin-bottom: 0;
}

.login-form .login-input {
	height: 50px;
	width: 100%;
	padding: 10px 20px;
	border-radius: 15px !important;
	background: rgba(255, 255, 255, 0.7);
	border: none;
}

.login-form .login-button {
	background: #0583AE;
	padding: 0;
	height: 50px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}

.fullscreen {
	position: relative;
	text-align: center;
	overflow: hidden;
}
.mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1051;
}
.page-content {
	background: none;
	position: relative;
	width: 100%;
	padding: 8px 10px 20px;
}
.validdistance {
	min-height: 250px;
}
.main-logo {
	width: 150px;
	height: 180px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -90px;
}

.login-toolbar {
	padding: 10px;
}

.forgot-password-link {
	font-size: 17px;
	color: #fff;
}

.angular-google-map-container {
	height: 600px;
	position: relative;
}

.distance {
	position: absolute;
	top: 30px;
	right: 0px;
	width: 200px;
	height: 50px;
	line-height: 25px;
	color: #FFF;
	text-align: center;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.5);
}

.customer-maps .angular-google-map-container {
	height: 300px;
}
/*saleman button*/
input[type=radio].ace+ .lbl::before {
	text-shadow: 0 0 1px #007145;
}

input[type=checkbox].ace+ .lbl::before, input[type=radio].ace+ .lbl::before {
	color: #007145;
}

.widget-header {
	color: #333;
}

a {
	color: #333;
}
.listProduct {
	margin-bottom: 0;
}
.product {
	padding: 10px;
}
.product:hover, .product:active, .product:focus {
	background: #EDEDED;
}
.product-row {
	background-color: #f9f9f9;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 0;
	margin-right: 0;
	border-bottom: 1px solid #E5E3E3;
}
.product-row:nth-child(2n) {
	background-color: #E3FFD7
}
.product-row:nth-child(2n + 1) {
	background-color: #D0FFBC
}
.product-row-header {
	background: #f7f7f7 repeat-x;
	background-image: -webkit-linear-gradient(top,#fff 0,#eee 100%);
	background-image: -o-linear-gradient(top,#fff 0,#eee 100%);
	background-image: linear-gradient(to bottom,#fff 0,#eee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
}
.product-header {

}
.product-fields {
	word-wrap: break-word;
	color: #393939;
}
.rotate {
	-webkit-animation: rotate 1s linear infinite;
}
@-webkit-keyframes rotate{
from {
	-webkit-transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(360deg);
}
}
.icon-calendar-header {
	position: absolute;
	top: 10px;
	right: 2px;
}
.calendar-pos {
	position: relative;
	width: 120px;
	height: 30px;
	line-height: 30px;
}
.calendar-pos .glyphicon {
	position: absolute;
	top: 9px;
	left: 9px;
	pointer-events: none;
	z-index: 2;
}
input.date {
	width: 100%;
	height: 30px;
	text-align: center;
}
input.number {
	width: 50px;
	height: 30px;
	text-align: center;
}
.btn {
	padding: 10px;
	/* background-color: #007145 !important; */
	border: none;
}
.btn.btn-app {
	min-width: 70px;
	width: auto;
	font-size: 14px;
	padding: 6px 15px;
	height: 35px;
	line-height: 1.7;
	margin: 0;
	outline: none;
}
.btn.btn-app:active{
	outline: none;
}
.btn.btn-app > .ace-icon {
	display: inline;
	font-size: 14px;
	margin: 0 5px 0 0;
	line-height: 1;
	min-width: 0;
	color: #FFF;
	padding: 0;
}
.btn > .ace-icon, .btn > .glyphicon, .btn > .fa, .btn > span {
	color: #FFF;
}

.btn-salesman:hover {
	background-color: transparent !important;
	border: 1px solid #333;
}

.btn-salesman .text {
	margin-top: 10px;
	padding: 5px;
}
.btn-send {
	padding-left: 30px;
	padding-right: 30px;
}
.action-change {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    height: 200px;
    margin-bottom: 15px;
}
.btn-salesman {
	border: 0 none;
	color: #E47B7B;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	padding: 12px 0 8px;
	text-align: center;
	width: calc(100% - 6px);
	margin-right: 6px;
	height: 100%;
	background-color: transparent !important;
	border: 1px solid #CCC;
	border-radius: 40px;
}

.btn-salesman1 {
	border: 0 none;
	color: #fff;
	display: inline-block;
	font-size: 25px;
	font-weight: normal;
	margin: 3px 0;
	padding: 12px 0 8px;
	position: relative;
	text-align: center;
	width: 100%;
	height: 210px;
}
.headerPromotions {
	position: absolute !important;
	padding-bottom: 10px !important;
	margin: 0 auto 0 auto;
	left: 50%;
	margin-left: -240px !important;
	background-color: #046740 !important;
}
.editSalesMan {
	position: absolute;
	top: 0;
	right: 10px;
	color: #FFF;
	opacity: 0.8;
	border: none;
	width: 35px;
	height: 35px;
	z-index: 1;
	border-radius: 10px;
}
.infoSalesMan {
	background: #E4FEDB !important;
}
.create-user {
	position: fixed;
	bottom: 2px;
	left: 50%;
	width: 150px;
	height: 60px;
	margin-left: -75px;
}
.btn-create-user {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 60px;
	border-radius: 50px;
	border: none !important;
	outline: none !important;
	opacity: 0.5;
}
.btn-create-user:focus, .btn-create-user:hover, .btn-create-user:active {
	border: none !important;
	outline: 0 !important;
	opacity: 1;
}
.btn-inside-content i, .btn-inside-content .text {
	color: #666;
}
.btn-inside-content:hover i, .btn-inside-content:hover .text {
	color: #333;
}
.btn-inventory {
	background-color: #da532c !important;
}

.btn-inventory:focus, .btn-inventory:hover {
	background: #F2702D !important;
}

.btn-sm-action {
	padding: 2px 5px 2px 5px;
}

.btn-salesman .btn-inside {
	display: table;
	width: 100%;
	height: 100%;
}

.btn-inside .btn-inside-content {
	display: table-cell;
	vertical-align: middle;
	color: #333;
}

.btn-salesman .text {
	font-size: 20px;
	margin-top: 10px;
	white-space: normal;
}
/*.btn-create-order {
 background: #2d89ef !important;
 }

 .btn-create-order:hover {
 background: #33c5e5 !important;
 }

 .btn-customer {
 background: #990099 !important;
 }

 .btn-customer:hover {
 background: #C204C2 !important;
 }

 .btn-order {
 background: rgba(255,187,51,0.5) !important;
 }

 .btn-order:focus, .btn-order:hover {
 background: #FFD362 !important;
 }

 .btn-promotion {
 background: rgba(102, 51, 204, 0.5) !important;
 }

 .btn-promotion:hover {
 background: #7037E2 !important;
 }

 .btn-product {
 background: rgba(48,158,100,0.5) !important;
 }

 .btn-product:hover {
 background: #44C27F !important;
 }

 .btn-portal {
 background: #009999 !important;
 }

 .btn-portal:hover {
 background: #00a9cc !important;
 }

 .btn-calendar {
 background: rgba(193,0,79,0.5) !important;
 }

 .btn-calendar:hover {
 background: rgb(215, 18, 145) !important;
 }

 .btn-sendinfo {
 background: #009900 !important;
 }

 .btn-sendinfo:hover {
 background: #05B605 !important;
 }

 .btn-dashboard {
 background: rgba(94, 119, 199, 0.5) !important;
 }

 .btn-dashboard:hover {
 background: #4627B4 !important;
 }

 .btn-sync {
 background: rgba(74, 200, 93, 0.5) !important;
 }

 .btn-sync:hover {
 background: #70E481 !important;
 }

 .btn-nppinfo {
 background: rgba(184, 27, 27, 0.5) !important;
 }

 .btn-nppinfo:hover {
 background: #DB2626 !important;
 }*/

td button.btn.btn-small {
	width: 34px;
}

.form-group .ace-icon {
	color: #393939;
}
label.control-label {
	height: 30px;
	line-height: 30px;
	color: #393939;
}
.control-label span {
	color: #393939;
}
.user-profile{
	/* text-align: center; */
}
.profile-picture {
	position: relative;
	text-align: center;
	min-height: 150px;
	min-width: 150px;
	margin-bottom: 10px;
}
.profile-picture .avatar{
	width: 100%;
}
.preview-image{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.upload-image {
	position: absolute;
	bottom: 0;
}

.profile-info-name {
	width: 300px;
}

.margin-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.margin-right-10 {
	margin-right: 10px;
}
.margin-5 {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}
.margin-top-10{
	margin-top: 10px !important;
}
.margin-bottom-10 {
	margin-bottom: 10px !important;
}
.no-padding-right{
	padding-right: 0;
}
.nav-header {
	text-align: center;
	color: #FFF;
	z-index: 2;
}

.ace-nav .nav-user-photo {
	max-width: 30px;
}

.header-main {
	text-align: center;
}

/*sidebar*/

.sidebar-nav {
	/*position: fixed;
	 top: 0;
	 left: 0;*/
	/*bottom: 0;*/
	width: 400px;
	z-index: 1;
	background: #333;
	/*overflow: auto;*/
	opacity: 1;
	/*-webkit-transition: opacity 0.5s ease-in;*/
}
.sidebar-nav-animation {
	opacity: 1;
}
.sidebar-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.list-action .action {
	padding: 5px;
	line-height: 30px;
	font-size: 15px;
	border-bottom: 1px solid #494848;
}
ul.list-action .action a, ul.list-action .action span {
	color: #FFF;
}
.action .c-icon {
	background: #C0C0C0;
	padding: 5px;
	width: 25px;
	height: 25px;
	margin-right: 5px;
}
.user {
	height: 35px;
	color: #FFF;
	position: relative;
}
.user .user-avatar {
	float: left;
	width: 32px;
	height: 32px;
}
.user-avatar img{
	width: 100%;
}
.user .user-name {
	float: right;
	margin-left: 5px;
	width: -webkit-calc(100% - 37px);
}
.iconLanguage {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -14px;
}

.languge {
	width: 32px;
	height: 32px;
}
.percentage {
	position: absolute;
	top: 54px;
	left: 50%;
	margin-left: -150px;
	z-index: 1;
}

.sync-icon {
	position: absolute;
	top: 94px;
	left: 50%;
	margin-left: -110px;
	width: 220px;
	height: 220px;
	background: url('images/sync-icon.png') no-repeat;
	background-size: 100% 100%;
	z-index: 2;
	-webkit-user-select: none;
}

@
-webkit-keyframes rotate {from {
	-webkit-transform: rotate(0);
}

to {
	-webkit-transform: rotate(360deg);
}

}
.external-event {
	padding: 5px;
}

.navbar {
	background: #0099CC;/*#007145; /*#007128; /*#33cc66*/
	color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
.navbar .navbar-container {
	height: 100%;
	z-index: 1000;
}
.navbar-container .nav-header {
	height: 100%;
}
.navbar-container .main-header-bt {
	height: 100%;
}
.navbar-container .main-header-bt:active {
	opacity: 0.5;
	background: #05774A;
}
.header-sale {
	padding-left: 5px;
	font-size: 15px;
}
.search-container {
	position: relative;
	margin-bottom: 10px;
}
.search-container .search {
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	padding: 6px 15px;
	border-radius: 20px !important;
}
.search-icon {
	position: absolute;
	right: 5px;
	top: 8px;
	width: 40px;
	text-align: center;
}
.search-icon:active {
	opacity: 0.5;
	background: #05774A;
}
.search-icon i {
	font-size: 20px;
}
.search-input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.24);
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	opacity: 0;
	-webkit-transform: translate(100%);
	-webkit-transition: all 0.3s linear;
}
.search-input-animation {
	opacity: 1;
	-webkit-transform: translate(0%);
}
.search-input .search-input-text {
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	padding: 5px 10px;
	color: #FFF;
}
.search-input .search-input-text:focus {
	background: none;
	border: none;
	color: #FFF;
}

.fk-calendar .btn {
	margin-left: 2px;
}

.line-height-38 {
	line-height: 38px;
}

.text-align-right {
	text-align: right;
}

/* customer detail */
.ace-nav > li.light-blue a.right-dropdown {
	background-color: transparent;
	padding-left: 5px;
}

.navbar:not (.navbar-collapse )
.ace-nav > li:first-child {
	border: none;
}

.right-dropdown.pull-right {
	right: 5px;
}

.right-dropdown.dropdown-caret:before {
	right: 10px;
	left: auto;
}

.right-dropdown.dropdown-caret:after {
	right: 10px;
	left: auto;
}

.brand {
	padding: 0;
	margin: 0;
	line-height: 40px;
	color: #FFF;
	font-size: 16px;
	width: 100%;
}

.back {
	padding-left: 5px;
	color: #FFF :
}
.back i {
	color: #FFF;
}
.back:active i, .back:focus i, .back:hover i {
	color: #CCC;
}
.brand:hover, .brand:active {
	text-decoration: none;
	color: #CCC;
}

/*.sync-icon:active {
 background: url('images/icon-sync.png') no-repeat;
 background-size: 100% 100%;
 }*/
.header-title {
	color: #FFF;
}
.main-header-bt {
	width: 40px;
	height: 40px;
	line-height: 42px;
	text-align: center;
	float: left;
}
.nav-header {
	position: relative;
	width: -webkit-calc(100% - 80px);
	width: calc(100% - 80px);
	float: left;
}
.lg-header-title {
	font-weight: bold;
}
.lg-logo {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	height: 40px;
	line-height: 40px;
}

.lg-logo img {
	position: absolute;
	top: 7px;
}
.sidebar-logo {
	font-size: 17px;
	color: #FFF;
}
.brand {
	width: 100%;
}
/*store screen*/
.maps {
	position: fixed;
	top: 50%;
	right: 0;
	margin-top: -25px;
	z-index: 10;
}
.maps:active, .maps:focus, .maps:hover {
	opacity: 0.7;
}
.store {
	margin-bottom: 10px;
}
.store-row-container {
	margin-bottom: 10px;
}
.store-row-container .label{
	line-height: 20px;
}
.store-row-container:last-child {
	margin-bottom: 10px;
}
.store-row {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	padding: 10px;
	position: relative;
}
.store-row .store-row-header {
	margin-top: 0;
	font-size: 14px;
	font-weight: bold;
	color: #2caf1e;
}
.store-row .store-row-info {
	margin: 5px 0;
}

.store-row .store-row-distance {
	position: absolute;
	top: 10px;
	right: 10px;
}
.pagination {
	position: fixed;
	bottom: 10px;
	right: 12px;
	margin: 0;
}
.pagination .page-item {
	border-radius: 20px;
	width: 40px;
	height: 40px;
	line-height: 16px;
	margin-right: 5px;
}
.pagination .page-item:first-child {
	margin-left: 5px;
}
.pagination-btn {
	border-radius: 20px;
}
.pagination .page-active {
	background-color: #6FC74C !important;
	color: #F70808 !important;
}
input.pac-controls {
	background: rgba(255, 255, 255, 0.8) !important;
	width: 60%;
}
.fixed-action {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
.bootstrap-dialog.type-success .modal-header {
	background-color: #0099CC !important;
}
.bottom-action {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 100000;
	width: 100%;
	text-align: center;
	height: 40px;
}
.form-actions {
	min-height: 45px;
	padding: 10px 0 0px;
}
.action-normal{
	margin: 0;
	border: none;
}
.bottom-action .btn, .form-actions .btn {
	margin-right: 5px;
}
.bottom-action .btn:last-child, .form-actions .btn:last-child {
	margin-right: 0;
}
.btn-action-primary {
	background: #0099CC;
	width: auto;
	border-radius: 15px;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	border: none;
	padding: 0 30px;
	font-size: 15px;
	outline: none;
}
.btn-action-primary-small {
	height: 30px;
	line-height: 30px;
	font-size: 13px;
}
.btn-action-primary:hover, .btn-action-primary:active {
	background: #428BCA;
}
.btn-action-primary i {
	color: #FFF;
	margin-right: 5px
}

.btn-point {
	position: fixed;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 25px;
	bottom: 50px;
	padding: 0;
	right: 10px;
	background: rgba(0,0,0,0.3);
	z-index: 100000;
	border: none;
	font-size: 20px;
	outline: none;
}
.btn-nofixed{
	position: absolute;
}
.btn-point:active {
	background: rgba(255, 255, 255, 0.8);
}
.products {
	margin-bottom: 0;
	position: relative;
}
.products tbody input {
	width: 50px;
}
.horizon-scrollable-active {
	overflow-x: scroll;
	margin-right: 15px;
}
.promotion-detail.horizon-scrollable-active{
	margin-right: 0;
}
.scrollable-auto-height-active {
	overflow-y: scroll;
}
.store-chosen-container {
	margin-bottom: 10px;
}
.full-width-input, input.full-width-input , select.full-width-input  {
	width: 100%;
	border: 1px solid #DDD;
	border-radius: 10px !important;
	padding: 7px 10px;
	height: 35px;
}
.has-error.full-width-input, input.has-error.full-width-input, select.has-error.full-width-input{
	border: 1px solid #CC0000;
	box-shadow: 0 0 5px #CC0000;
}
.has-error.full-width-input:focus, input.has-error.full-width-input:focus, select.has-error.full-width-input:focus{
  box-shadow: 0 0 5px 1px #CC0000;
  outline: none;
}
.has-success.full-width-input, input.has-success.full-width-input, select.has-success.full-width-input{

}
input[type='password'].full-width-input{
	border-radius: 10px !important;
	padding: 7px 10px !important;
}
.area-radius {
	border-radius: 10px !important;
	height: auto;
	resize: none;
}
.order-statistic .ful-width-input {
	height: 35px;
}
table.center thead th{
	text-align: center;
}
.fixed-header-table {
	position: fixed;
	z-index: 100;
}
.fixed-header-table div {
	color: #707070;
	font-weight: 400;
	background: #F2F2F2 repeat-x;
	background-image: -webkit-linear-gradient(top,#f8f8f8 0,#ececec 100%);
	background-image: -o-linear-gradient(top,#f8f8f8 0,#ececec 100%);
	background-image: linear-gradient(to bottom,#f8f8f8 0,#ececec 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0);
	border: 1px solid #ddd;
}
.payment-info {
	margin-top: 10px;
	text-align: right;
	min-height: 35px;
	position: relative;
}
.payment-info .sub-total {
	clear: both;
}
.payment-info .info {
	width: 50%;
	float: left;
	font-weight: bold;
}
.payment-info .sub-total-label {
	width: 50%;
	float: left;
}
.customer-name {
	margin-top: 0;
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 14px;
}
.widget-main {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.btn.calculate-order {
	position: absolute !important;
	left: 10px;
}
.btn.calculate-order:active, .btn.calculate-order:hover {
	top: 0;
}

.image-camera {
	width: 100%;
	height: 100%;
	margin: 0px 0 20px 0;
}
.image-camera-input{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 1;
	display: none;
}
.img-camera-container{
	position: relative;
	/* min-height: 80px; */
}
.editable-info{
	font-weight: bold;
    margin-left: 10px;
}
.inven-order{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 100px;
    height: 25px;
}
.signal-icon{
    float: right;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    font-size: 15px;
    text-align: center;
}
.signal-icon:first-child{
	margin-right: 0;
}
.date-range{
	width: 50px;
	float: left;
}
.item-click{
	height: 40px;
	border-radius: 10px;
	padding: 10px 15px;
	border: 1px solid #DDD;
	margin-bottom: 10px;
}
.item-click i.ace-icon{
	margin-right: 10px;
}
.marking-item{
	display: inline-block;
	margin-right: 10px;
}
.marking-item:last-child{
	margin-right: 0;
}
/*.inventory-icon{

	background: url('images/inventory.png') no-repeat;
	background-size: 100% 100%;
}
.order-icon{
	background: url('images/order.png') no-repeat;
	background-size: 100% 100%;
}*/
.report-title{
	margin: 0;
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
}
.report-value{
	font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.table-striped tbody .promos-product:nth-child(odd)>td{
    background-color: #dff0d8;
}
.table-striped tbody .promos-product:nth-child(even)>td{
    background-color: #E1FDD6;
}
.table-striped tbody .promos-product td {
    border: 1px solid #d6e9c6;
}

.table-striped tbody .product-not-available:nth-child(odd)>td{
}
.table-striped tbody .product-not-available:nth-child(even)>td{
}
.table-striped tbody .product-not-available td {
   color: #791100;
}
