/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Aug 27, 2014, 3:43:04 PM
    Author     : Alex Bui
*/
@media ( min-width : 480px) and (max-width : 767px) {
	body, div{
		font-size: 17px;
		position: relative;
	}
	.main-content {

	}
	.main-container{
		padding-top: 65px;
	}
	.snap-drawer{
		width: 80%;
	}
	#loading{
	top: 55px;
	}
	.main-container{
		/* min-height: 100vh; */
	}
	.main-bg{
		width: 95%;
	    margin: 0 auto;
		/*background : rgb(0, 113, 69);*/
		/* padding-bottom: 40px; */
	}

	.form-group input[type=color], .form-group input[type=date], .form-group input[type=datetime-local], .form-group input[type=datetime], .form-group input[type=email], .form-group input[type=month], .form-group input[type=number], .form-group input[type=password], .form-group input[type=search], .form-group input[type=tel], .form-group input[type=text], .form-group input[type=time], .form-group input[type=url], .form-group input[type=week], .form-group select, .form-group textarea{
		padding: 10px 4px;
		font-size: 17px;
	}
	.form-group input[type=date]{
		height: 47px;
	}
	.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
		font-size: 17px;
	}
	.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
		font-size: 17px;
	}
	.modal{
		margin-bottom: -10px;
	}
	.modal-body{
		overflow: auto;
		max-height: 400px;
	}
	.modal.fade .modal-dialog {
		-webkit-transition: -webkit-transform .1s ease-out;
		transition: transform .1s ease-out;
	}

	.btn{
		font-size: 17px;
		padding: 12px 10px;
	}
	input.number {
		width: 50px;
		height: 40px;
		margin-left: 13px;
		text-align: center;
		font-size: 17px;
	}
	h5.bigger{
		font-size: 17px;
		margin: 14px 0;
	}
	.form-group select{
		height: 47px;
	}
	label.control-label {
		font-size: 17px;
	}
	.navbar {
		height: 55px;
		min-height: 55px;
	}
	.main-header-bt {
		width: 55px;
		line-height: 60px;
	}
	.search-icon {
		/* width: 55px; */
		/* line-height: 60px; */
	}
	.sidebar-logo {
		font-size: 25px;
	}
	.search-icon i{
		font-size: 24px;
	}
	.nav-header {
		min-height: 55px;
		line-height: 55px;
		width: -webkit-calc(100% - 110px);
		width: calc(100% - 110px);
	}
	.lg-header-title {
		font-size: 23px;
		margin: 5px 0;
	}
	.store-row {
		font-size: 17px;
	}
	.store-row .store-row-header {
		font-size: 17px;
	}
	ul.list-action .action{
		font-size: 23px;
		padding: 10px;
		line-height: 30px;
	}
	.action .c-icon{
		width: 35px;
		height: 35px;
		margin-right: 5px;
	}
	.ace-nav {
		border: none;
		background: none;
		float: right;
	}
	.ace-nav  li .user-info {
		position: absolute !important;
		margin-top: 40px;
		margin-left: 1px;
		right: 2px;
		z-index: 1032;
		color: #777;
		font-size: 14px;
		width: 156px;
		max-width: 156px;
		padding-left: 8px;
		padding-right: 8px;
		height: 32px;
		line-height: 26px !important;
		display: none;
		border-bottom: 1px solid #E5E5E5;
		text-align: center;
		vertical-align: none;
		cursor: text;
	}
	.ace-nav>li {
		line-height: 40px;
		height: 40px;
	}
	.user-menu.dropdown-close.dropdown-menu-right {
		padding-top: 42px !important;
	}
	.ace-nav li.open .user-info {
		display: inline-block !important;
	}
	.btn-salesman {
	    height: 200px;
	    border-radius: 40px;
	    margin: 0;
	}
	.action-change {
	    padding-left: 0px;
	    padding-right: 0px;
	    position: relative;
	    height: 200px;
	    margin-bottom: 15px;
	}
	.action-change:nth-child(2n) .btn-salesman{
		margin-right: 0px;
		margin-left: 6px;
	}
}

@media only screen and (max-width: 479px) {
	.nav-tabs > li > a {
	    padding: 10px 10px 10px;
	    font-size: 12px;
	}
	.main-container{
		padding-top: 40px;
	}
	.navbar {
		height: 40px;
		min-height: 40px;
	}

	.main-content {

	}
	.main-bg {
		width: 90%;
	    margin: 0 auto;
	    /*background: rgb(0, 113, 69);*/
	}
	.action-change{
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        height: 125px;
        margin-bottom: 15px;
    }
	.snap-drawer{
		width: 80%;
	}
	.sidebar-logo {
		font-size: 18px;
	}
	.lg-logo img {
		position: absolute;
		top: 8px;
		height: 22px;
	}
	ul.list-action .action {
		font-size: 15px;
	}
	.navbar:not(.navbar-collapse) .ace-nav>li:first-child {
		border-left: none;
	}
	.navbar:not(.navbar-collapse) .ace-nav>li:last-child {
		border-right: none;
	}
	.product-pos{
		overflow: auto;
	}
	.products{
		width: 100%;
	}
	.brand {
		line-height: 40px;
		height: 40px;
	}
	.btn{
		padding: 10px;
	}
	.btn-send{
		padding: 10px 30px;
	}
	.nav-header {
		height: 40px;
		min-height: 40px;
		line-height: 40px;
	}
	.lg-header-title {
		font-size: 14px !important;
		margin: 5px 0;
	}

	.navbar:not (.navbar-collapse ) nav.ace-nav {
		border: none;
		background: none;
		float: right !important;
	}
	.ace-nav>li {
		line-height: 40px;
		height: 40px;
	}
	.btn-salesman{
		border-radius: 40px;
		margin: 0;
	}
	.btn-salesman .text{
		font-size: 15px;
	}
}
@media only screen and (max-width: 380px) {
	.main-bg {
	    width: 100%;
	    margin: 0 auto;
	}
}
@media only screen and (max-width: 320px) {
	.main-bg {
	    width: 100%;
	    margin: 0 auto;
	}
	.nav-tabs > li > a {
	    padding: 10px 8px 10px;
	    font-size: 11px;
	}
	.action-change{
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        height: 120px;
        /*margin-bottom: 20px;*/
    }
	.btn-salesman{
		height: 120px;
		border-radius: 40px;
		margin: 0;
	}
	.bigger-300 {
	    font-size: 240%!important;
	}
	.btn-salesman .text{
		font-size: 13px;
	}
	.action-change:nth-child(2n) .btn-salesman{
		margin-right: 0px;
		margin-left: 6px;
	}
}
@media ( min-width : 768px) and (max-width : 991px) {
	#loading {
		top: 45px;
	}
	.main-container{
		padding-top: 45px;
	}
	.navbar {
		height: 45px;
		min-height: 45px;
	}
	.brand {
		line-height: 45px;
		height: 45px;
	}
	.nav-header {
		height: 45px;
		min-height: 45px;
		line-height: 45px;
	}
	.lg-header-title {
		font-size: 23px;
		margin: 5px 0;
	}
	.lg-logo img {
		height: 39px;
	}
	.ace-nav {
		border: none;
		background: none;
		float: right;
	}
	.ace-nav>li {
		line-height: 45px;
		height: 45px;
	}
	.page-content {
		padding-top: 15px;
	}
	.ace-nav  li .user-info {
		position: absolute !important;
		margin-top: 40px;
		margin-left: 0px;
		right: 0px;
		z-index: 1032;
		color: #777;
		font-size: 14px;
		width: 153px;
		max-width: 156px;
		padding-left: 8px;
		padding-right: 8px;
		height: 32px;
		line-height: 26px !important;
		display: none;
		border-bottom: 1px solid #E5E5E5;
		text-align: center;
		vertical-align: none;
		cursor: text;
	}
	.dropdown-menu.dropdown-close.dropdown-menu-right {
		padding-top: 42px !important;
	}
	.ace-nav li.open .user-info {
		display: inline-block !important;
	}
	.action-change{
		margin-bottom: 15px;
	}
	.action-change:nth-child(3n) .btn-salesman{
		margin-right: 0px;
		margin-left: 6px;
	}
}

@media ( min-width : 992px) and (max-width : 1199px) {
	#loading {
		top: 45px;
	}
	.main-container{
		padding-top: 45px;
	}
	.navbar {
		height: 45px;
		min-height: 45px;
	}
	.brand {
		line-height: 45px;
		height: 45px;
	}
	.nav-header {
		height: 45px;
		min-height: 45px;
		line-height: 45px;
	}
	.lg-header-title {
		font-size: 23px;
		margin: 5px 0;
	}
	.lg-logo img {
		height: 39px;
	}
	.ace-nav {
		border: none;
		background: none;
		float: right;
	}
	.ace-nav>li {
		line-height: 45px;
		height: 45px;
	}
	.page-content {
		padding-top: 15px;
	}
	.ace-nav  li .user-info {
		position: absolute !important;
		margin-top: 40px;
		margin-left: 1px;
		right: 2px;
		z-index: 1032;
		color: #777;
		font-size: 14px;
		width: 156px;
		max-width: 156px;
		padding-left: 8px;
		padding-right: 8px;
		height: 32px;
		line-height: 26px !important;
		display: none;
		border-bottom: 1px solid #E5E5E5;
		text-align: center;
		vertical-align: none;
		cursor: text;
	}
	.dropdown-menu.dropdown-close.dropdown-menu-right {
		padding-top: 42px !important;
		width: 170px;
	}
	.ace-nav li.open .user-info {
		display: inline-block !important;
	}
	.action-change{
		margin-bottom: 15px;
	}
}
@media ( min-width : 1200px) {
	#loading {
		top: 45px;
	}
	.main-container{
		padding-top: 45px;
	}
	.navbar {
		height: 45px;
		min-height: 45px;
	}
	.brand {
		line-height: 45px;
		height: 45px;
	}
	.nav-header {
		height: 45px;
		min-height: 45px;
		line-height: 45px;
	}
	.lg-header-title {
		font-size: 23px;
		margin: 5px 0;
	}
	.lg-logo img {
		height: 39px;
	}
	.ace-nav {
		border: none;
		background: none;
		float: right;
	}
	.ace-nav>li {
		line-height: 45px;
		height: 45px;
	}
	.page-content {
		padding-top: 15px;
	}
	.ace-nav  li .user-info {
		position: absolute !important;
		margin-top: 40px;
		margin-left: 0px;
		right: 2px;
		z-index: 1032;
		color: #777;
		font-size: 14px;
		width: 156px;
		max-width: 156px;
		padding-left: 8px;
		padding-right: 8px;
		height: 32px;
		line-height: 26px !important;
		display: none;
		border-bottom: 1px solid #E5E5E5;
		text-align: center;
		vertical-align: none;
		cursor: text;
	}
	.dropdown-menu.dropdown-close.dropdown-menu-right {
		padding-top: 42px !important;
		width: 170px;
	}
	.ace-nav li.open .user-info {
		display: inline-block !important;
	}
	.breakPrice {
		color :black;
		text-decoration: line-through;
	}
	.icon-check-square-o:before {
		content:"\f046";
		}
	.iconLanguage {
		width : 35px;
		height: 35px;
	}
	.activeLanguage {
		opacity: 1;
	}
	.addressInline {
		display: inline !important;
	}
	.action-change{
		margin-bottom: 15px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    /*main screen*/
    .ui-jqgrid .ui-jqgrid-pager {
        height: 50px;
    }
    /*navbar*/
    .navbar-container a.brand{
        float: left !important;
    }
    .navbar:not(.navbar-collapse) .navbar-header{
        float: left !important;
        padding-right: 0;
    }
    .ace-nav>li>a{
        padding: 0;
    }

    .ui-jqgrid .ui-jqgrid-view, .ui-jqgrid .ui-paging-info, .ui-jqgrid .ui-pg-selbox, .ui-jqgrid .ui-pg-table {
        font-size: 11px;
    }
    #grid-pager_right{
    display: none
    }

    .ui-jqgrid .ui-paging-info{
    display: none;
    }
    .ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td#grid-pager_center>.ui-pg-table{
        margin: 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.btn-salesman {
	    margin: 5px 0;
	    height: 190px;
	}
}
@media only screen and (min-width: 992px){
	.action-change:nth-child(4n) .btn-salesman{
		margin-right: 0px;
		margin-left: 6px;
	}
}
