.dockerignore
.gitignore
.git/
0compose*
tmp/
ofbiz_src/applications/build.xml
ofbiz_src/applications/*/src
ofbiz_src/applications/*/build.xml
ofbiz_src/applications/*/build/classes
ofbiz_src/specialpurpose/build.xml
ofbiz_src/specialpurpose/*/src
ofbiz_src/specialpurpose/*/build.xml
ofbiz_src/specialpurpose/*/build/classes
ofbiz_src/framework/build.xml
ofbiz_src/framework/*/src
ofbiz_src/framework/*/build.xml
ofbiz_src/framework/*/build/classes
ofbiz_src/runtime/data
ofbiz_src/runtime/logs
ofbiz_src/runtime/output
ofbiz_src/runtime/tmp
ofbiz_src/runtime/tempfiles
ofbiz_src/runtime/catalina/work
ofbiz_src/.*
ofbiz_src/*.log
ofbiz_src/applications/jcr_client/dev
ofbiz_src/applications/jcr
ofbiz_src/applications/bi-x/integration
ofbiz_src/bin
ofbiz_src/build.xml
ofbiz_src/specialpurpose/delys

