/ofbiz_src/specialpurpose/mobileapp/webapp/mobileapp-ol/OfbizMobile/nbproject/private/
/ofbiz_src/specialpurpose/mobileapp/webapp/mobileapp-ol/nbproject/private/
/ofbiz_src/runtime/uploads
/ofbiz_src/framework/images/webapp/images/orders
/ofbiz_src/applications/jcr/repository
/ofbiz_src/runtime/tmp
/ofbiz_src/applications/bi-x/integration/*.log
/ofbiz_src/*.log
/ofbiz_src/applications/jcr_client/dev

#----------------------------------------------
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
/ofbiz_src/.*
/ofbiz_src/applications/demo
/ofbiz_src/framework/entity/config
ofbiz_src/specialpurpose/mobileapp/native/SalesRep/platforms/android
