@import url("font-awesome.v4.2.css");
table#sale-forecast tr td, table#sale-forecast-view tr td{
    vertical-align: middle;
}
table#sale-forecast thead tr, table#sale-forecast-view thead tr {
    background: linear-gradient(to bottom, #f8f8f8, #ececec) repeat-x scroll 0 0 #ececec;
    font-weight: 700;
}
table#sale-forecast input, table#sale-forecast-view input {
    width:45px;
    display: block;
    margin:0 auto;
    text-align: right;
}
.sf-product {
    color:#478fca !important;
}
.sf-product-child {
    color:#009900 !important;
}

.sf-current-year td, .sf-percent td, .sf-adjusted td{
    background: #ffffe5 !important;
    text-align: right !important;
}
.sf-next-year td{
    background: #f6ffe3 !important;
    text-align: right;
}
.sf-percent td{
    background: #f1ffff !important;
    text-align: right;
}
.sf-adjusted td{
    background: #fff !important;
    border-bottom:1px dashed #478fca;
}
.sf-divide td {
}
td.sf-month {
    background: linear-gradient(to bottom, #f8f8f8, #ececec) repeat-x scroll 0 0 #ececec !important;
    font-weight: bold;
    text-shadow:1px 1px 1px #ffffff;
    border-bottom:1px dashed #478fca;
    font-size: 15px;
}
td.sf-month.quarter {
    color:#009900 !important;
    border-bottom:1px dashed #478fca;
}
/* table#sale-forecast tr.sf-current-year td {
	border-bottom:1px dashed #478fca;
} */
table#sale-forecast-view tr.sf-current-year td.sf-month {
	border-bottom:none;
}
td.sf-month.sf-total {
    color:#ff0000 !important;
}
.sf-months, .sf-years {
    color:#333 !important;
    width: 150px !important;
    white-space: nowrap;
    margin: 0 20px;
}
.sf-value {
    color:#FF0000 !important;
}
table#sale-forecast tr.quarter-row td {
	color:#009900 !important;
}
table#sale-forecast-view tr.quarter-row td {
	color:#009900 !important;
	background: #f1ffff !important;
}
table#sale-forecast tr.sf-total-row td {
	color:#ff0000 !important;
	font-weight: bold;
}
table#sale-forecast-view tr.sf-total-row td {
	color:#ff0000 !important;
	background: #ffffff !important;
	font-weight: bold;
}
/* .tab-content#perfect-scroll {
	overflow: hidden;
} */
/* #active-tab-plus {
	border-color: #c5d0dc;
	border-top: 2px dashed #4c8fbd;
	z-index: 12;
	line-height: 16px;
	margin-top: -1px;
	border-bottom-color: transparent;
	color: #555;
	border-top-color: #4c8fbd;
	border-right: 1px dashed #c5d0dc;
	border-left: 1px dashed #c5d0dc;
	background-color: #FFF;
	box-shadow: none;
} */
#active-tab-plus:hover {
	border-color: #c5d0dc;
	border-top: 2px solid #4c8fbd;
	z-index: 12;
	line-height: 16px;
	margin-top: -1px;
	border-bottom-color: transparent;
	color: #555;
	border-top-color: #4c8fbd;
	border-right: 1px solid #c5d0dc;
	border-left: 1px solid #c5d0dc;
	background-color: #FFF;
	box-shadow: none;
}
