.main-content {margin-left:0;padding:10px 20px;}
.pos-inline {display:inline;}
.mgl1px {margin-left:-1px;}
#pos-search-top {margin-bottom:15px;}
#pos-search-top input, #pos-search-top select {width:41.5%;margin:10px 0;}
#pos-search-top button {margin:10px 0;}
#pos-party-info {margin-top:10px;}
#pos-select-sales-reps select{width:100%;}
.pos-table-name {margin: 5px 10px;color:#2283c5;font-weight:bold;text-shadow:1px 1px 1px #FFFFFF;}
tr.total-checkout{background:#2283c5;color:#FFF;font-size:26px;font-weight:bold;margin:10px 0;}
tr.total-checkout:hover{color:#333;}
p.total-checkout{margin: 10px 0;}
#keyboard-shortcuts {position:fixed; bottom:0;}
.kb-shortcuts {color:#2283c5;font-weight:bold;font-size:16px;text-shadow:1px 1px 1px #FFFFFF;}
.kb-shortcuts-des {text-shadow:1px 1px 1px #FFFFFF;}
#keyboard-shortcuts button {margin:5px 5px;}
.center {display:block!important;margin: 0 auto!important;}
.btn-group-vertical > .btn {
    border-radius: 0 !important;
    font-size: 10px;
    height: 14px;
    line-height: 14px;
    padding: 0;
    width: 18px;
}
.spinner-buttons > .btn  > [class*="icon-"] {font-size: 10px;margin:0;padding:0;}
.input-append {display:block;margin:0 auto; height:30px;}
.pos-active-row {background-color:#deffff!important;}
.w1-4 {width:25%; float:left;}
#pos-category img,#pos-cat-product img {border:1px solid #EEE; display:block;margin: 0 auto;}
.category-name,.product-name {display:block;margin: 5px auto;text-align:center;}
#pos-category,#pos-cat-product {margin-top:10px;}
#pos-categories,#pos-category-product {border:1px solid #DDD;}
#pos-category-product {margin-top:20px;margin-bottom:120px;}
#pos-categories-list {height:280px;overflow:auto;}
#table-category {border:none;margin-bottom:0;}