$light : #fff;
$stable : #f8f8f8;
$positive : #387ef5;
$calm : #11c1f3;
$balanced : #33cd5f;
$energized : #ffc900;
$assertive : #ef473a;
$royal : #886aea;
$dark : #444;
$ogreen : #4CD964;

$color-key : (
  light: $light,
  stable: $stable,
  positive: $positive,
  calm: $calm,
  balanced: $balanced,
  energized: $energized,
  assertive: $assertive,
  royal: $royal,
  dark: $dark,
  ogreen: $ogreen
);

@function calculateTopLoginContainer($height, $per, $padding){
  $tmp : 1/2 * $height * 100 / $per + $padding;
  @return $tmp;
}
@mixin centerVerticalAbsolute($height){
    top: 50%;
    margin-top: -1/2*$height;
}
@mixin renderBackground($class){
  @each $key, $value in $color-key {
    .#{$class}.#{$key}{
      background: $value;
    }
  }
}
@mixin centerHorizonAbsolute($width){
    left: 50%;
    margin-left: -1/2*$width;
}
@mixin absoluteTopLeft(){
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
}
@mixin absoluteTopRight(){
  position: absolute;
  right: 0;
  bottom: auto;
  top: 0;
  left: auto;
}


@mixin renderMargin($dir, $ran){
  @for $i from 1 through 10 {
    $tmp : $i * $ran;
    .margin-#{$dir}-#{$tmp} {
      margin-#{$dir}: #{$tmp}px !important;
    }
   }
}
@mixin renderPadding($dir, $ran){
  @for $i from 1 through 10 {
    $tmp : $i * $ran;
    .padding-#{$dir}-#{$tmp} {
      padding-#{$dir}: #{$tmp}px !important;
    }
   }
}
@include renderMargin($dir : "right", $ran : 5);
@include renderMargin($dir : "left", $ran : 5);
@include renderMargin($dir : "bottom", $ran : 5);
@include renderMargin($dir : "top", $ran : 5);
@include renderPadding($dir : "right", $ran : 5);
@include renderPadding($dir : "left", $ran : 5);
@include renderPadding($dir : "bottom", $ran : 5);
@include renderPadding($dir : "top", $ran : 5);
.ogreen{
  color: $ogreen;
}
.padding{
  padding: $paddingInput;
}
.login-layout {
  background-color: $positive;
  background-image: -webkit-radial-gradient(center center, circle cover, $olbius-inside, $positive);

  .scroll-content{
    background: transparent;
  }
  .login-container{
    position: absolute;
    height: $login-container-height;
    top: 35%;
    margin-top: -$login-container-height/2;
    width: calc(100% - #{$paddingInput * 2});
  }
  .app-logo{
    text-align: center;
  }
  .form-login{
    border-radius: $paddingInput;
    background: transparent;
    margin-top: 40px;

    label.item{
      background: $bg-login-item;
      border: none;

      input{
        color: $login-input-color;
      }
    }
  }
  .button{
    background: $bg-login-item;
    border-radius: $paddingInput;
    color: $login-input-color;
    text-transform: uppercase;
  }

  .button.activated{
    background: rgba(255,255,255,0.1);
  }
}

input.pac-controls{
    margin: $margin-input;
    margin-left: 0;
    padding: $paddingInput;
    height: $height-input;
    width: calc(100% - 125px - #{$margin-input});
    border-radius: $height-input / 2;
}
.scroll-content{
  background: $bg-color;
}
.disabled{
  pointer-event: none;
}
.inventory-container{
  height: calc(100% - #{$height-input});
}
.full-container{
  height: 100%;
}
.search-container{
  height: calc(100% - #{$line-height-computed + $font-size-base} - 14px)
}
.search-inventory{
  .search-list .list, .list{
    margin-top: $margin-input;
  }
}

$tmp-item : 20px;
.inven-order{
  @extend .right;
  width: $tmp-item * 3;
  top: $paddingInput/2;

  .signal-icon{
    display: inline-block;
  }
}
.middle-wrapper{
    display: table;
    text-align: center;
    height: 100%;
    width: 100%;

    .middle-content{
      display: table-cell;
      vertical-align: middle;
    }
}
.has-error{
  color: #F00 !important;
  &::-webkit-input-placeholder {
   color: #FF8B8B !important;
  }
}
ion-infinite-scroll{
  height: $margin-input !important;
}
.schedules{
  height: $item-icon-font-size;

  .day-icon{
    display: inline-block;
    line-height: $item-icon-font-size;
    text-align: center;
  }
  .day-disabled{
    background: #AAA !important;
  }
}


/*form*/
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  height: $line-height-computed + $font-size-base;
  font-size: $font-size-base;
  line-height: $font-size-base + 2;
}