@media screen and (max-height: calculateTopLoginContainer($login-container-height, 35, $paddingInput)) {
  .login-layout {
    .login-container{
      top: 45%;
    }
  }
}

@media screen and (max-height: calculateTopLoginContainer($login-container-height, 45, $paddingInput)) {
  .login-layout {
    .login-container{
      top: 47%;
    }
    .form-login{
      margin-top: 30px;
    }
  }
}

@media screen and (min-width: $mintablet) {
  $width-quantity : 160px;
  $wreg-quantity : 40px;
  .cart-item{
    padding-right: $width-quantity + $paddingInput;
  }
  .cartquantity{
      width: $width-quantity;

    input{
      top: 0;
      left: $wreg-quantity;
      width: $width-quantity - 2 * $wreg-quantity;
      height: 100%;
      z-index: 3;
    }
    .regulator{
      @include absoluteTopLeft();
      width: 100%;
      z-index: 1;
    }
    .rex-tablet{
      height: 100%;
      width: $wreg-quantity;
    }
    .rex-tablet i{
      top: 50%;
      margin-top: -$font-size-icon-quantity / 2;
      left: 50%;
      margin-left: -$font-size-icon-quantity / 2;
    }
    .rexsub{
      @include absoluteTopLeft();
      @extend .rex-tablet;
    }
    .rexsub i{
    }
    .rexadd{
      @include absoluteTopRight();
      @extend .rex-tablet;
    }
    .rexadd i {
    }
  }
}