.ng-hide.ng-hide-animate{
   display: none !important;
}
::-webkit-scrollbar {
    display: none;
}
.scroll-bar{
  display: none;

  .scroll-bar-indicator{
    display: none;
  }
}

.relative{
  position: relative;
}
.hide{
  display: none;
}
a:-webkit-any-link{
  text-decoration: none;
}
.asterisk::after{
 content: " *";
 color: red;
}
.angular-google-wrapper, .angular-google-map, .angular-google-map-container{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.calendar-picker{
  float: right;
  min-width: 100px;
  text-align: right;

  input[type="date"]{
    padding: 0;
    margin: 0;
    display: inline-block;
    height: auto;
    text-align: right;
  }
}