.jqx-widget-header.jqx-grid-header {	
	 background-color: #efefef !important;
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef))!important;
	 background-image: -webkit-linear-gradient(top, #fff, #efefef)!important;
	 background-image: -moz-linear-gradient(top, #fff, #efefef)!important;
	 background-image: -ms-linear-gradient(top, #fff, #efefef)!important;
	 background-image: -o-linear-gradient(top, #fff, #efefef)!important;
	 background-image: linear-gradient(top, #fff, #efefef)!important;
	 text-transform: uppercase;
}
.jqx-widget-header {
	background: none;
}
.jqx-grid-cell {
	font-size:16px;
    font-family:'Roboto';
}
.jqx-fill-state-pressed {
	background:#ffffaa!important; 
}
#jqxProductList.jqx-fill-state-focus {
	border-color: #6bb8ff;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px #0099ff;
}
#jqxPartyList.jqx-fill-state-focus{
	border-color: #6bb8ff;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px #0099ff;
}
#inputSearchPO.jqx-fill-state-focus {
	border-color: #6bb8ff;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px #0099ff;
}
#inputSearchPO.jqx-widget-content{
	padding-left:15px!important;
}
.jqx-combobox-input {
	padding-left:15px !important;
}
.beauty-label {
	marrgin: 5px;
	padding:5px;
	font-family: 'Open sans';
	font-size: 13.5px;
}
.mgt10 {margin-top:10px;}
.mgb10 {marrgin-bottom:10px;}
.jqx-window-header-olbius {
  padding: 8px 10px 8px 15px;
  font-size: 15px;
  line-height: 15px;
}
.jqx-popup-olbius > .jqx-widget-header-olbius > div:FIRST-CHILD {
	font-size: 18px;
}
.jqx-popup-olbius.jqx-widget-content-olbius {
	border-radius: 5px;
	-webkit-box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.1);
	box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.1);
	border:none;
}
.jqx-fill-state-focus-olbius, .jqx-popup-olbius .jqx-fill-state-focus-olbius{
	border:1px solid #AAA;
}
.jqx-popup-olbius [id^="columntablejqx"], .jqx-popup-olbius [id*=" columntablejqx"] {
	min-height: 29px !important;
}
.jqx-popup-olbius ul li.jqx-menu-item-top-olbius {color:#0b6cbc;}
.jqx-popup-olbius ul li.jqx-menu-item-top-hover-olbius {color:#fff!important;}
.jqx-window-olbius .jqx-window-content-olbius table tr {
	margin: 7.5px 0;
}
.jqx-window-olbius input.jqx-input {
	padding: 2px 0 2px 5px !important;
	margin: 0px;
}
.jqx-window-olbius .jqx-grid-cell-filter-row-olbius input.jqx-input,
input.jqx-input-olbius.jqx-grid-pager-input {
	padding: 0!important;
}
.jqx-align-right {
	text-align: right; 
	overflow: hidden;
  	text-overflow: ellipsis;
  	padding-bottom: 2px;
  	margin-right: 6px;
  	margin-left: 4px;
 	margin-top: 19px; 
}
.jqx-align-left {
	text-align: left;
	overflow: hidden;
  	text-overflow: ellipsis;
  	padding-bottom: 2px;
  	margin-right: 2px;
  	margin-left: 7px;
 	margin-top: 19px; 
}
.jqx-align-left1 {
	text-align: left;
	overflow: hidden;
  	text-overflow: ellipsis;
  	padding-bottom: 2px;
  	margin-right: 2px;
  	margin-left: 7px;
 	margin-top: 12px; 
}
.jqx-align-center {
	text-align: center;
	overflow: hidden;
  	text-overflow: ellipsis;
  	padding-bottom: 2px;
  	margin-right: 2px;
  	margin-left: 4px;
 	margin-top: 19px; 
}