/*states, content and header*/
.jqx-widget-olbius{border-color:#004a73}
.jqx-widget-content-olbius{color:#004a73; border-color:#004a73;}
.jqx-fill-state-normal-olbius, .jqx-widget-header-olbius, .jqx-menu-vertical-olbius{color: #fff; border-color: #004a73; background-color:#449bca; background-image:-webkit-gradient(linear,0 0,0 100%,from(#3c91c2),to(#449bca));  background-image:-moz-linear-gradient(top,#3c91c2,#449bca);  background-image:-o-linear-gradient(top,#3c91c2,#449bca)}
.jqx-grid-cell-sort-olbius, .jqx-grid-cell-filter-olbius, .jqx-grid-cell-pinned-olbius{color: #000; background-color:#deedf5}
.jqx-grid-cell-alt-olbius, .jqx-grid-cell-sort-alt-olbius, .jqx-grid-cell-filter-alt-olbius{color: #000; background-color:#deedf5}
.jqx-checkbox-check-checked-olbius{background:transparent url(images/check_white.png) left top no-repeat}
.jqx-checkbox-check-indeterminate-olbius{background:transparent url(images/check_indeterminate_white.png) left top no-repeat}
.jqx-grid-olbius, .jqx-grid-header-olbius, .jqx-grid-cell-olbius{border-color:#60aad2}
.jqx-widget-olbius .jqx-grid-cell-olbius, .jqx-widget-olbius .jqx-grid-group-cell-olbius{border-color:#60aad2}
.jqx-widget-olbius .jqx-grid-column-menubutton-olbius, .jqx-widget-olbius .jqx-grid-column-sortascbutton-olbius, .jqx-widget-olbius .jqx-grid-column-sortdescbutton-olbius, .jqx-widget-olbius .jqx-grid-column-filterbutton-olbius{   background-color:#449bca;border-color:#449bca}
.jqx-widget-olbius .jqx-grid-column-header-olbius{border-color:#449bca}
.jqx-grid-bottomright-olbius, .jqx-panel-bottomright-olbius, .jqx-listbox-bottomright-olbius{   background-color:#449bca}
.jqx-widget-olbius .jqx-grid-column-menubutton-olbius, .jqx-menu-vertical-olbius{background-color:#0a73a7;border-color:#0a73a7}
.jqx-grid-group-cell-olbius{border-color:#60aad2; background-color:#fff}
.jqx-fill-state-hover-olbius{background: #2f7097; background-image: none; border-color:#004a73; color:#fff}
.jqx-fill-state-pressed-olbius, .jqx-menu-item-top-hover-olbius{background: #004a73; background-image: none; border-color:#004a73; color:#fff}
.jqx-fill-state-pressed-olbius.jqx-grid-pager-number{
	color: #FFF !important
}
 .jqx-grid-selectionarea-olbius{background-color:#60aad2;border:1px solid #60aad2; opacity:0.5}
.jqx-scrollbar-state-normal-olbius{background-color:#449bca; border:1px solid #449bca;}
.jqx-tabs-title-selected-bottom-olbius, .jqx-tabs-selection-tracker-bottom-olbius, .jqx-tabs-title-selected-top-olbius, .jqx-tabs-selection-tracker-top-olbius{color: #ffffff; border-color:#004a73; border-bottom:1px solid #004a73; background:#004a73}

/*icons*/
.jqx-grid-column-sortascbutton-olbius, .jqx-expander-arrow-bottom-olbius, .jqx-window-collapse-button-olbius, .jqx-menu-item-arrow-up-olbius, .jqx-menu-item-arrow-up-selected-olbius, .jqx-menu-item-arrow-top-up-olbius, .jqx-icon-arrow-up-olbius, .jqx-icon-arrow-up-hover-olbius, .jqx-icon-arrow-up-selected-olbius{background-image:url('images/icon-up-white.png');background-repeat:no-repeat;background-position:center}
.jqx-grid-column-menubutton-olbius, .jqx-grid-column-sortdescbutton-olbius, .jqx-expander-arrow-top-olbius, .jqx-window-collapse-button-collapsed-olbius, .jqx-menu-item-arrow-down-olbius, .jqx-menu-item-arrow-down-selected-olbius, .jqx-menu-item-arrow-down-olbius, .jqx-icon-arrow-down-olbius, .jqx-icon-arrow-down-hover-olbius, .jqx-icon-arrow-down-selected-olbius{background-image:url('images/icon-down-white.png');background-repeat:no-repeat;background-position:center}

.jqx-icon-arrow-left-olbius{background-image:url('images/icon-left-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-icon-arrow-right-olbius{background-image:url('images/icon-right-white.png'); background-repeat:no-repeat; background-position:center}
.jqx-menu-item-arrow-left-olbius{background-image:url('images/icon-left.png'); background-repeat:no-repeat; background-position:center}
.jqx-menu-item-arrow-right-olbius{background-image:url('images/icon-right.png'); background-repeat:no-repeat; background-position:center}

.jqx-tabs-arrow-left-olbius, .jqx-menu-item-arrow-left-selected-olbius, .jqx-menu-item-arrow-top-left-olbius, .jqx-icon-arrow-down-left-olbius, .jqx-icon-arrow-left-selected-olbius{background-image:url('images/icon-left-white.png');background-repeat:no-repeat;background-position:center}
.jqx-tabs-arrow-right-olbius, .jqx-menu-item-arrow-right-selected-olbius, .jqx-menu-item-arrow-top-right-olbius, .jqx-icon-arrow-right-hover-olbius, .jqx-icon-arrow-right-selected-olbius{background-image:url('images/icon-right-white.png');background-repeat:no-repeat;background-position:center}
/*.jqx-window-close-button-olbius, .jqx-icon-close-olbius, .jqx-tabs-close-button-olbius, .jqx-tabs-close-button-hover-olbius, .jqx-tabs-close-button-selected-olbius{background-image:url(images/close_white.png);  background-repeat:no-repeat;  background-position:center}*/
.jqx-icon-arrow-first-olbius
{
  /*  background-image: url('images/icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center; */
}
.jqx-icon-arrow-last-olbius
{
   /* background-image: url('images/icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center; */
}
.jqx-icon-search-olbius
{
    background-image: url(images/search_white.png);
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-calendar-olbius, .jqx-icon-calendar-hover-olbius, .jqx-icon-calendar-pressed-olbius {
    background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-delete-olbius
{
    background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-olbius
{
    background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-olbius
{
    background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-olbius
{
    background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-olbius
{
    background-image: url(images/search_white.png);
}
.jqx-icon-plus-olbius
{
    background-image: url(images/plus_white.png);
}

.jqx-grid-group-expand-olbius, .jqx-grid-cell-olbius>.jqx-grid-group-expand-olbius {
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-group-collapse-olbius, .jqx-grid-cell-olbius>.jqx-grid-group-collapse-olbius {
    background-image: url('images/icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-group-collapse-rtl-olbius, .jqx-grid-cell-olbius>.jqx-grid-group-collapse-rtl-olbius {
    background-image: url('images/icon-left.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-group-expand-rtl-olbius, .jqx-grid-cell-olbius>.jqx-grid-group-expand-rtl-olbius {
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-cell-olbius.jqx-grid-cell-selected-olbius>.jqx-grid-group-expand-olbius,
.jqx-grid-cell-olbius.jqx-grid-cell-hover-olbius>.jqx-grid-group-expand-olbius {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-olbius.jqx-grid-cell-selected-olbius>.jqx-grid-group-collapse-olbius,
.jqx-grid-cell-olbius.jqx-grid-cell-hover-olbius>.jqx-grid-group-collapse-olbius {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-olbius.jqx-grid-cell-selected-olbius>.jqx-grid-group-collapse-rtl-olbius,
.jqx-grid-cell-olbius.jqx-grid-cell-hover-olbius>.jqx-grid-group-collapse-rtl-olbius {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-olbius.jqx-grid-cell-selected-olbius>.jqx-grid-group-expand-rtl-olbius,
.jqx-grid-cell-olbius.jqx-grid-cell-hover-olbius>.jqx-grid-group-expand-rtl-olbius {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-menu-minimized-button-olbius {
   background-image: url('images/icon-menu-minimized-white.png');
}
.jqx-widget-olbius
{
  font-family: 'Open Sans';
}
.jqx-widget-content-olbius
{
  color: #222222;
  text-shadow: none;
  border-color: #CCCCCC;
  background: #ffffff;
  font-family: 'Open Sans';
}
.jqx-widget-header-olbius, .jqx-grid-olbius .jqx-widget-header-olbius
{
  color: #ffffff;
  text-shadow: none;
  border-color: #ccc;
  background-color: #438EB9;
  background-image: -moz-linear-gradient(top, #438EB9, #438EB9);
  background-image: -ms-linear-gradient(top, #438EB9, #438EB9);
  background-image: -o-linear-gradient(top, #438EB9, #438EB9);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#438EB9), to(#438EB9));
  background-image: -webkit-linear-gradient(top, #438EB9, #438EB9);
  background-image: linear-gradient(top, #438EB9, #438EB9);
  background-image: linear-gradient(to bottom, #438EB9, #438EB9);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: 'Open Sans';
}
.jqx-grid-column-menubutton-olbius, .jqx-widget-olbius.jqx-grid-column-menubutton-olbius
{
  border-color: #0077BC;
}
.jqx-grid-cell-olbius, .jqx-widget-olbius .jqx-grid-cell-olbius
{
  background-color: #ffffff;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-normal-olbius
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #0077BC;
  background-color: #438EB9;
  background-image: -moz-linear-gradient(top, #438EB9, #4383B4);
  background-image: -ms-linear-gradient(top, #438EB9, #4383B4);
  background-image: -o-linear-gradient(top, #438EB9, #4383B4);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#438EB9), to(#4383B4));
  background-image: -webkit-linear-gradient(top, #438EB9, #4383B4);
  background-image: linear-gradient(top, #438EB9, #4383B4);
  background-image: linear-gradient(to bottom, #438EB9, #4383B4);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: 'Open Sans';
}
.jqx-button-olbius
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #FAFAFA;
  background-color: #438EB9;
  background-image: -moz-linear-gradient(top, #438EB9, #438EB9);
  background-image: -ms-linear-gradient(top, #438EB9, #438EB9);
  background-image: -o-linear-gradient(top, #438EB9, #438EB9);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#438EB9), to(#438EB9));
  background-image: -webkit-linear-gradient(top, #438EB9, #438EB9);
  background-image: linear-gradient(top, #438EB9, #438EB9);
  background-image: linear-gradient(to bottom, #438EB9, #438EB9);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: 'Open Sans';
}
.jqx-grid-selectionarea-olbius
{
  border-color: #0077BC;
  background-color: #438EB9;
}
.jqx-widget-olbius .jqx-grid-cell-sort-olbius, .jqx-widget-olbius .jqx-grid-cell-filter-olbius, .jqx-widget-olbius .jqx-grid-cell-pinned-olbius, .jqx-grid-cell-sort-olbius, .jqx-grid-cell-filter-olbius, .jqx-grid-cell-pinned-olbius
{
  background-color: #deedf5;
  color: #222222;
  text-shadow: none;
}
.jqx-widget-olbius .jqx-grid-cell-alt-olbius, .jqx-widget-olbius .jqx-grid-cell-sort-alt-olbius, .jqx-widget-olbius .jqx-grid-cell-pinned-alt-olbius, .jqx-widget-olbius .jqx-grid-cell-filter-alt-olbius, .jqx-grid-cell-alt-olbius, .jqx-grid-cell-sort-alt-olbius, .jqx-grid-cell-filter-alt-olbius
{
  background-color: #DEEDF5;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-hover-olbius, .jqx-widget-olbius .jqx-grid-cell-hover-olbius
{
  color: #ffffff;
  text-shadow: none;
  border-color: #0077BC;
  background-color: #4383B4;
  background-image: -moz-linear-gradient(top, #4383B4, #4383B4);
  background-image: -ms-linear-gradient(top, #4383B4, #4383B4);
  background-image: -o-linear-gradient(top, #4383B4, #4383B4);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#4383B4), to(#4383B4));
  background-image: -webkit-linear-gradient(top, #4383B4, #4383B4);
  background-image: linear-gradient(top, #4383B4, #4383B4);
  background-image: linear-gradient(to bottom, #4383B4, #4383B4);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: 'Open Sans';
}
.jqx-fill-state-pressed-olbius, .jqx-widget-olbius .jqx-grid-cell-selected-olbius
{
  color: #ffffff;
  text-shadow: none;
  border-color: #0077BC;
  background-color: #4383B4;
  background-image: -moz-linear-gradient(top, #4383B4, #4383B4);
  background-image: -ms-linear-gradient(top, #4383B4, #4383B4);
  background-image: -o-linear-gradient(top, #4383B4, #4383B4);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#4383B4), to(#4383B4));
  background-image: -webkit-linear-gradient(top, #4383B4, #4383B4);
  background-image: linear-gradient(top, #4383B4, #4383B4);
  background-image: linear-gradient(to bottom, #4383B4, #4383B4);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: 'Open Sans';
}
.jqx-switchbutton-label-on-olbius
{
  color: #ffffff;
  text-shadow: none;
  border-color: #0077BC;
  background-color: #4383B4;
  background-image: -moz-linear-gradient(top, #4383B4, #4383B4);
  background-image: -ms-linear-gradient(top, #4383B4, #4383B4);
  background-image: -o-linear-gradient(top, #4383B4, #4383B4);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#4383B4), to(#4383B4));
  background-image: -webkit-linear-gradient(top, #4383B4, #4383B4);
  background-image: linear-gradient(top, #4383B4, #4383B4);
  background-image: linear-gradient(to bottom, #4383B4, #4383B4);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-olbius, .jqx-tabs-selection-tracker-top-olbius
{
  color: #222222;
  text-shadow: none;
  border-color: #CCCCCC;
  border-bottom: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-tabs-title-selected-bottom-olbius, .jqx-tabs-selection-tracker-bottom-olbius
{
  color: #222222;
  text-shadow: none;
  border-color: #CCCCCC;
  border-top: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-splitter-splitbar-hover-olbius
{
  background: #4383B4;
}
.jqx-splitter-splitbar-vertical-olbius, .jqx-splitter-splitbar-horizontal-olbius, .jqx-slider-track-horizontal-olbius, .jqx-slider-track-vertical-olbius
{
  background: #438EB9;
}
.jqx-splitter-collapse-button-horizontal-olbius, .jqx-splitter-collapse-button-vertical-olbius, .jqx-slider-rangebar-olbius
{
  background: #4383B4;
}
.jqx-scrollbar-state-normal-olbius
{
  background-color: #F0F0F0;
  border-color: #CCCCCC;
  border-top-color: #F0F0F0 !important;
  border-bottom-color: #F0F0F0 !important;
  margin-top:-1px !important; 
  /*width: 99.93% !important;  FIXME When the column is resized this attribute will reduce the scroll bar's width */
}
.jqx-grid-bottomright-olbius, .jqx-panel-bottomright-olbius, .jqx-listbox-bottomright-olbius
{
  background-color: #F0F0F0;
}
.jqx-scrollbar-thumb-state-normal-olbius
{
  background-color: #E6E6E6;
  background-color: #E6E6E6;
  background-image: -moz-linear-gradient(left, #E6E6E6, #E6E6E6);
  background-image: -ms-linear-gradient(left, #E6E6E6, #E6E6E6);
  background-image: -o-linear-gradient(left, #E6E6E6, #E6E6E6);
  background-image: -webkit-gradient(linear, left top, right top, from(#E6E6E6), to(#E6E6E6));
  background-image: -webkit-linear-gradient(left, #E6E6E6, #E6E6E6);
  background-image: linear-gradient(left, #E6E6E6, #E6E6E6);
  background-image: linear-gradient(left right, #E6E6E6, #E6E6E6);
}
.jqx-scrollbar-thumb-state-normal-horizontal-olbius
{
  background-color: #E6E6E6;
  background-color: #E6E6E6;
  background-image: -moz-linear-gradient(top, #E6E6E6, #E6E6E6);
  background-image: -ms-linear-gradient(top, #E6E6E6, #E6E6E6);
  background-image: -o-linear-gradient(top, #E6E6E6, #E6E6E6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#E6E6E6), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, #E6E6E6, #E6E6E6);
  background-image: linear-gradient(top, #E6E6E6, #E6E6E6);
  background-image: linear-gradient(to bottom, #E6E6E6, #E6E6E6);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-olbius
{
  background-color: #E6E6E6;
  border-color: #E6E6E6;
  background-image: -moz-linear-gradient(left, #E6E6E6, #E6E6E6);
  background-image: -ms-linear-gradient(left, #E6E6E6, #E6E6E6);
  background-image: -o-linear-gradient(left, #E6E6E6, #E6E6E6);
  background-image: -webkit-gradient(linear, left top, right top, from(#E6E6E6), to(#E6E6E6));
  background-image: -webkit-linear-gradient(left, #E6E6E6, #E6E6E6);
  background-image: linear-gradient(left, #E6E6E6, #E6E6E6);
  background-image: linear-gradient(left right, #E6E6E6, #E6E6E6);
}
.jqx-scrollbar-thumb-state-hover-horizontal-olbius
{
  background-color: #E6E6E6;
  border-color: #E6E6E6;
  background-image: -moz-linear-gradient(top, #E6E6E6, #E6E6E6);
  background-image: -ms-linear-gradient(top, #E6E6E6, #E6E6E6);
  background-image: -o-linear-gradient(top, #E6E6E6, #E6E6E6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#E6E6E6), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, #E6E6E6, #E6E6E6);
  background-image: linear-gradient(top, #E6E6E6, #E6E6E6);
  background-image: linear-gradient(to bottom, #E6E6E6, #E6E6E6);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-olbius
{
  background-color: #D9D9D9;
  border-color: #D9D9D9;
  background-image: -moz-linear-gradient(left, #D9D9D9, #D9D9D9);
  background-image: -ms-linear-gradient(left, #D9D9D9, #D9D9D9);
  background-image: -o-linear-gradient(left, #D9D9D9, #D9D9D9);
  background-image: -webkit-gradient(linear, left top, right top, from(#D9D9D9), to(#D9D9D9));
  background-image: -webkit-linear-gradient(left, #D9D9D9, #D9D9D9);
  background-image: linear-gradient(left, #D9D9D9, #D9D9D9);
  background-image: linear-gradient(left right, #D9D9D9, #D9D9D9);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-olbius
{
  background-color: #D9D9D9;
  border-color: #D9D9D9;
  background-image: -moz-linear-gradient(top, #D9D9D9, #D9D9D9);
  background-image: -ms-linear-gradient(top, #D9D9D9, #D9D9D9);
  background-image: -o-linear-gradient(top, #D9D9D9, #D9D9D9);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#D9D9D9), to(#D9D9D9));
  background-image: -webkit-linear-gradient(top, #D9D9D9, #D9D9D9);
  background-image: linear-gradient(top, #D9D9D9, #D9D9D9);
  background-image: linear-gradient(to bottom, #D9D9D9, #D9D9D9);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-olbius
{
  background-color: #F0F0F0;
  background-image: -moz-linear-gradient(top, #F0F0F0, #F0F0F0);
  background-image: -ms-linear-gradient(top, #F0F0F0, #F0F0F0);
  background-image: -o-linear-gradient(top, #F0F0F0, #F0F0F0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#F0F0F0), to(#F0F0F0));
  background-image: -webkit-linear-gradient(top, #F0F0F0, #F0F0F0);
  background-image: linear-gradient(top, #F0F0F0, #F0F0F0);
  background-image: linear-gradient(to bottom, #F0F0F0, #F0F0F0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-olbius
{
  background-color: #E6E6E6;
  border-color: #B3B3B3;
  background-image: -moz-linear-gradient(top, #E6E6E6, #E6E6E6);
  background-image: -ms-linear-gradient(top, #E6E6E6, #E6E6E6);
  background-image: -o-linear-gradient(top, #E6E6E6, #E6E6E6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#E6E6E6), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, #E6E6E6, #E6E6E6);
  background-image: linear-gradient(top, #E6E6E6, #E6E6E6);
  background-image: linear-gradient(to bottom, #E6E6E6, #E6E6E6);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-olbius
{
  background-color: #D9D9D9;
  border-color: #B3B3B3;
  background-image: -moz-linear-gradient(top, #D9D9D9, #D9D9D9);
  background-image: -ms-linear-gradient(top, #D9D9D9, #D9D9D9);
  background-image: -o-linear-gradient(top, #D9D9D9, #D9D9D9);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#D9D9D9), to(#D9D9D9));
  background-image: -webkit-linear-gradient(top, #D9D9D9, #D9D9D9);
  background-image: linear-gradient(top, #D9D9D9, #D9D9D9);
  background-image: linear-gradient(to bottom, #D9D9D9, #D9D9D9);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-olbius
{
  background: #FFFFFF;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-olbius
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-radius-topleft: 0px;
  border-radius-topleft: 0px;
}
.jqx-rc-tr-olbius
{
  -moz-border-radius-topright: 0px;
  -webkit-border-radius-topright: 0px;
  border-radius-topright: 0px;
}
.jqx-rc-bl-olbius
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius-bottomleft: 0px;
  border-radius-bottomleft: 0px;
}
.jqx-rc-br-olbius
{
  -moz-border-radius-bottomright: 0px;
  -webkit-border-radius-bottomright: 0px;
  border-radius-bottomright: 0px;
}
.jqx-rc-t-olbius
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.jqx-rc-b-olbius
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-r-olbius
{
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-l-olbius
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.jqx-radiobutton-default-olbius, .jqx-radiobutton-olbius, .jqx-radiobutton-check-checked-olbius, .jqx-radiobutton-hover-olbius, .jqx-radiobutton-check-indeterminate-olbius, .jqx-radiobutton-check-indeterminate-disabled-olbius, .jqx-slider-button-olbius
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-olbius, .jqx-tooltip-olbius, .jqx-tooltip-text-olbius, .jqx-tooltip-main-olbius
{
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.jqx-grid-column-sortascbutton-olbius, .jqx-expander-arrow-bottom-olbius, .jqx-window-collapse-button-olbius, .jqx-menu-item-arrow-up-olbius, .jqx-menu-item-arrow-top-up-olbius, .jqx-icon-arrow-up-olbius
{
  background-image: url('images/icon-up-white.png');
}
.jqx-icon-arrow-up-hover-olbius
{
  background-image: url('images/icon-up-white.png');
}
.jqx-menu-item-arrow-up-selected-olbius, .jqx-icon-arrow-up-selected-olbius.jqx-expander-arrow-expanded-olbius
{
  background-image: url('images/icon-up-white.png');
}
.jqx-grid-column-menubutton-olbius, .jqx-grid-column-sortdescbutton-olbius, .jqx-expander-arrow-top-olbius, .jqx-window-collapse-button-collapsed-olbius, .jqx-menu-item-arrow-down-olbius, .jqx-menu-item-arrow-down-olbius, .jqx-tree-item-arrow-expand-olbius, .jqx-grid-group-expand-olbius, .jqx-widget-olbius .jqx-grid-group-expand-olbius, .jqx-icon-arrow-down-olbius
{
  background-image: url('images/icon-down.png');
}
.jqx-icon-arrow-down-hover-olbius
{
  background-image: url('images/icon-down.png');
}
.jqx-menu-item-arrow-down-selected-olbius, .jqx-icon-arrow-down-selected-olbius
{
  background-image: url('images/icon-down.png');
}
.jqx-tabs-arrow-left-olbius, .jqx-menu-item-arrow-top-left-olbius, .jqx-grid-group-collapse-rtl-olbius, .jqx-widget-olbius .jqx-grid-group-collapse-rtl-olbius, .jqx-icon-arrow-left-olbius, .jqx-icon-arrow-down-left-olbius
{
  background-image: url('images/icon-left.png');
}
.jqx-icon-arrow-left-hover-olbius
{
  background-image: url('images/icon-left-white.png');
}
.jqx-menu-vertical-olbius
{
  background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-olbius, .jqx-icon-arrow-left-selected-olbius
{
  background-image: url('images/icon-left.png');
}
.jqx-tabs-arrow-right-olbius, .jqx-menu-item-arrow-top-right-olbius, .jqx-menu-item-arrow-collapse-olbius, .jqx-grid-group-collapse-olbius, .jqx-widget-olbius .jqx-grid-group-collapse-olbius, .jqx-icon-arrow-right-olbius
{
  background-image: url('images/icon-right.png');
}
.jqx-icon-arrow-right-hover-olbius
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-right-selected-olbius, .jqx-icon-arrow-right-selected-olbius
{
  background-image: url('images/icon-right-white.png');
}
.jqx-window-close-button-olbius, .jqx-tabs-close-button-olbius, .icon-close-olbius
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-selected-olbius
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-hover-olbius
{
  background-image: url('images/close_white.png');
}
.jqx-widget-olbius .jqx-grid-column-header-olbius, .jqx-widget-olbius .jqx-grid-cell-olbius, .jqx-widget-olbius .jqx-grid-group-cell-olbius, .jqx-grid-cell-olbius
{
  border-color: #CCCCCC;
}
.jqx-checkbox-check-checked-olbius
{
  background-image: url('images/check_black.png');
}
.jqx-checkbox-check-indeterminate-olbius
{
  background-image: url('images/check_indeterminate_white.png');
}
.jqx-tooltip-olbius, .jqx-tooltip-main-olbius
{
  color: #ffffff;
  text-shadow: none;
  border-color: #0077BC;
  background-color: #438EB9;
  background-image: -moz-linear-gradient(top, #438EB9, #4383B4);
  background-image: -ms-linear-gradient(top, #438EB9, #4383B4);
  background-image: -o-linear-gradient(top, #438EB9, #4383B4);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#438EB9), to(#4383B4));
  background-image: -webkit-linear-gradient(top, #438EB9, #4383B4);
  background-image: linear-gradient(top, #438EB9, #4383B4);
  background-image: linear-gradient(to bottom, #438EB9, #4383B4);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-combobox-content-olbius, .jqx-input-olbius
{
  color: #222222;
  text-shadow: none;
  border-color: #006699;
  background-color: #ffffff;
}
.jqx-combobox-input-olbius
{
  color: #222222;
  text-shadow: none;
}
.jqx-input-content-olbius
{
  color: #222222;
  text-shadow: none;
  background-color: #ffffff;
}
.jqx-fill-state-focus-olbius, .jqx-popup-olbius .jqx-fill-state-focus-olbius
{
  border-color: #111111;
}
.jqx-popup-olbius.jqx-listbox-olbius, .jqx-popup-olbius.jqx-calendar-olbius,.jqx-menu-dropdown-olbius,  .jqx-popup-olbius.jqx-dropdownbutton-popup-olbius
{
  color: #222222;
  text-shadow: none;
  border-color: #0077BC;
  background-color: #ffffff;
}
.jqx-menu-item-arrow-right-olbius, .jqx-tree-item-arrow-collapse-olbius
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-left-olbius
{
  background-image: url('images/icon-left.png');
}
.jqx-tree-item-arrow-expand-olbius
{
  background-image: url('images/icon-down.png');
}
.jqx-scrollbar-olbius .jqx-icon-arrow-up-olbius
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-olbius .jqx-icon-arrow-left-olbius
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-olbius .jqx-icon-arrow-right-olbius
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-olbius .jqx-icon-arrow-bottom-olbius
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-olbius .jqx-icon-arrow-up-hover-olbius
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-olbius .jqx-icon-arrow-left-hover-olbius
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-olbius .jqx-icon-arrow-right-hover-olbius
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-olbius .jqx-icon-arrow-bottom-hover-olbius
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-olbius .jqx-icon-arrow-up-selected-olbius
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-olbius .jqx-icon-arrow-left-selected-olbius
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-olbius .jqx-icon-arrow-right-selected-olbius
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-olbius .jqx-icon-arrow-bottom-selected-olbius
{
  background-image: url('images/icon-bottom.png');
}
.jqx-calendar-olbius .jqx-icon-arrow-up-olbius, .jqx-tabs-header-olbius .jqx-icon-arrow-up-olbius
{
}
.jqx-calendar-olbius .jqx-icon-arrow-left-olbius, .jqx-tabs-header-olbius .jqx-icon-arrow-left-olbius
{
}
.jqx-calendar-olbius .jqx-icon-arrow-right-olbius, .jqx-tabs-header-olbius .jqx-icon-arrow-right-olbius
{
}
.jqx-calendar-olbius .jqx-icon-arrow-bottom-olbius, .jqx-tabs-header-olbius .jqx-icon-arrow-bottom-olbius
{
}
.jqx-widget-olbius .jqx-grid-cell-olbius, .jqx-listitem-state-normal-olbius, .jqx-menu-item-normal-olbius, .jqx-tree-item-normal-olbius, .jqx-calendar-cell-olbius, .jqx-grid-cell-olbius,.jqx-menu-vertical-olbius .jqx-menu-item-top-normal-olbius, .jqx-input-popup-olbius .jqx-fill-state-normal-olbius
{
  font-family: 'Open Sans';
}
.jqx-widget-olbius .jqx-grid-cell-hover-olbius, .jqx-listitem-state-hover-olbius, .jqx-menu-item-hover-olbius, .jqx-tree-item-hover-olbius, .jqx-calendar-cell-hover-olbius, .jqx-grid-cell-hover-olbius,.jqx-menu-vertical-olbius .jqx-menu-item-top-hover-olbius, .jqx-input-popup-olbius .jqx-fill-state-hover-olbius,.jqx-input-button-header-olbius, .jqx-input-popup-olbius .jqx-fill-state-pressed-olbius,.jqx-input-button-header-olbius
{
  font-family: 'Open Sans';
}
.jqx-widget-olbius  .jqx-grid-cell-selected-olbius, .jqx-listitem-state-selected-olbius, .jqx-menu-item-selected-olbius, .jqx-tree-item-selected-olbius, .jqx-calendar-cell-selected-olbius, .jqx-grid-cell-selected-olbius,.jqx-menu-vertical-olbius .jqx-menu-item-top-selected-olbius, .jqx-grid-selectionarea-olbius
{
  font-family: 'Open Sans';
}
.jqx-icon-calendar-olbius
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-hover-olbius
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-pressed-olbius
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-first-olbius
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-first-hover-olbius
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-first-selected-olbius
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-last-olbius
{
  background-image: url('images/icon-last-white.png');
}
.jqx-icon-last-hover-olbius
{
  background-image: url('images/icon-last-white.png');
}
.jqx-icon-last-selected-olbius
{
  background-image: url('images/icon-last-white.png');
}
.jqx-grid-cell-olbius.jqx-grid-cell-olbius>.jqx-grid-group-expand-olbius
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-olbius.jqx-grid-cell-hover-olbius>.jqx-grid-group-expand-olbius
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-olbius.jqx-grid-cell-selected-olbius>.jqx-grid-group-expand-olbius
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-olbius.jqx-grid-cell-olbius>.jqx-grid-group-collapse-olbius
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-olbius.jqx-grid-cell-hover-olbius>.jqx-grid-group-collapse-olbius
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-olbius.jqx-grid-cell-selected-olbius>.jqx-grid-group-collapse-olbius
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-olbius.jqx-grid-cell-olbius>.jqx-grid-group-expand-rtl-olbius
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-olbius.jqx-grid-cell-hover-olbius>.jqx-grid-group-expand-rtl-olbius
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-olbius.jqx-grid-cell-selected-olbius>.jqx-grid-group-expand-rtl-olbius
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-olbius.jqx-grid-cell-olbius>.jqx-grid-group-collapse-rtl-olbius
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-olbius.jqx-grid-cell-hover-olbius>.jqx-grid-group-collapse-rtl-olbius
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-cell-olbius.jqx-grid-cell-selected-olbius>.jqx-grid-group-collapse-rtl-olbius
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-column-menubutton-olbius, .jqx-grid-column-sortdescbutton-olbius
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-column-sortascbutton-olbius
{
  background-image: url('images/icon-up-white.png');
}
.jqx-icon-delete-olbius
{
  background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-olbius
{
  background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-olbius
{
  background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-olbius
{
  background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-olbius
{
  background-image: url('images/icon-search_white.png');
}
.jqx-icon-plus-olbius
{
  background-image: url('images/icon-plus_white.png');
}
.jqx-popup-olbius .jqx-window-content-olbius {padding:10px;}
