<ion-view view-title="{{getLabel('LeaveHistory')}}">
	<ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear" ng-click="$ionicGoBack()" ng-if="back">
            <i class='icon ion-ios-arrow-back'>&nbsp;</i>
        </button>
        <button class="button buttons button-clear" ng-click="changeState('tab.setting')">
            <i class='icon ion-ios-home'>&nbsp;</i>
        </button>
    </ion-nav-buttons>
	<ion-content on-pull-refresh="getData()" scope="self">
		<!-- <ion-refresher pulling-text="{{getLabel('PullToRefresh')}}" on-refresh="getData()"></ion-refresher> -->
		<ion-list>
			<ion-item class='item-input item-select'>
				<div class='input-label'>
					{{getLabel('Year')}}
				</div>
				<select ng-model="year.value" ng-options="y for y in yearRange">
				</select>
			</ion-item>
			<ion-item>
				{{getLabel('TotalDayLeft')}}
				<span class='item-info'> {{history.annualLeft}} </span>
			</ion-item>
			<ion-item>
				{{getLabel('TotalDayRemaining')}}
				<span class='item-info'> {{history.annualLeaveRemain}} </span>
			</ion-item>
			<ion-item class='item-divider'>{{getLabel('LeaveHistoryDetail')}}</ion-item>
			<ion-item class='item-text-wrap' ng-repeat="history in historyDetail">
				<p><b>{{getLabel('LeaveEntryDate')}}:</b> {{formatDateDMY(history.entryDate)}}</p>
				<p><b>{{getLabel('ReasonLeave')}}:</b> {{history.reason}}</p>
				<p><b>{{getLabel('Status')}}:</b> {{history.statusId}}</p>
				<p><b>{{getLabel('LeaveTime')}}</b></p>
				<p class='padding-left-10'>{{getLabel('from')}} {{getTimeValue(history.startTime)}} {{formatDateDMY(history.fromDate)}} <span ng-show="history.thruDate">{{getLabel('to')}}</span> {{getTimeValue(history.endTime)}} {{formatDateDMY(history.thruDate)}}</p>
				<p ng-show='history.description'><b>{{getLabel('description')}}</b></p>
				<p class='padding-left-10'>{{history.description}}</p>	
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>