<ion-view view-title="{{getLabel('UpdateLocation')}}">
	<ion-nav-buttons side="left">
		<button class="button back-button buttons button-clear" ng-click="$ionicGoBack()" ng-if="back">
            <i class='icon ion-ios-arrow-back'>&nbsp;</i>
        </button>
		<button class="button" ng-click="changeState('tab.customer')">
			<i class='icon ion-ios-people'>&nbsp;</i>
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button" ng-click="buildConfirm(getLabel('Notification'), getLabel('ConfirmUpdateCustomerLocation'), saveLocation)">
			<i class='icon ion-checkmark'>&nbsp;</i>
		</button>
	</ion-nav-buttons>
	<ion-content scroll="false">
		<div class="row margin-bottom-10" id="control-map" ng-if="isControl">
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
				<label class="control-label blue" for="road"> <span
					id="createOrderAdvance_road">{{getLabel('SelectRoad')}}</span> </label>
			</div>
			<div class="col-lg-10 col-md-9 col-sm-9 col-xs-6">
				<div class="controls">
					<select class="form-control" ng-model="customer.roadId"
					ng-options="option.roadId as option.name for option in customers.road" >
						<option value="" ng-if="false"></option>
						<option value="all">{{getLabel('All')}}</option>
					</select>
				</div>
			</div>
		</div>
		<googlemap marker="self.marker" height="sefl.height" options="{autoload: true}" gmap="self.gmap" parent="self"></googlemap>
	</ion-content>
</ion-view>