<ion-view view-title="{{getLabel('RouteInformation')}}">
	<ion-nav-buttons side="left">
		<button class="button buttons back-button button-clear" ng-click="$ionicGoBack()" ng-if="back">
			<i class='icon ion-ios-arrow-back'>&nbsp;</i>
		</button>
	</ion-nav-buttons>
	<ion-content on-pull-refresh="reloadData(true)" scope="self">
		<!-- <ion-refresher pulling-text="{{getLabel('PullToRefresh')}}" on-refresh="reloadData(true)"></ion-refresher> -->
		<ion-list ng-if="created">
			<a href="#/tab/customer?routeId={{route.routeId}}" ng-repeat="route in routes track by $index"
				class='item item-text-wrap' ng-class="{'balanced' : isCurrentRoute(route.routeId)}">
			{{route.groupName}}
			</a>
		</ion-list>
		<ion-list ng-if="!created">
			<ion-item class='item-icon-right item-text-wrap' ng-class="{'balanced' : isCurrentRoute(route.routeId)}" ng-repeat="route in routes track by $index">
				<span ng-click="getRouteDetail(route.routeId, true)">{{route.groupName}}</span>
				<a href='#/tab/customer?routeId={{route.routeId}}'>
					<i class='icon fa fa-cart-plus'></i>
				</a>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
