<ion-view view-title="Maps">
	<ion-nav-buttons side="left">
		<button class="button btn-remove" on-tap="back()">
        	<i class="ion-ios-arrow-back"></i>&nbsp;<title-back-view>{{backViewTitle}}</title-back-view>
      	</button>
  	</ion-nav-buttons>	
    <ion-content scroll="false">
   		<googlemap current="self" options="options"></googlemap>
   		<search  parent="self" getlist="getRouteList" visible="false"></search>
    	<ion-scroll direction="y" >
			<div id="displayInfoDirections"></div>     
		</ion-scroll>
    </ion-content>
    <a class='item edit-route' ng-if="options.isLoaded" on-tap="_search.openFilter()"><i class='ion-settings'></i></a>
</ion-view>    
    


