 <ion-view view-title="{{getLabel('Dashboard')}}">
    <ion-content>
    	<div id="dashboard" class='padding'>
    		<!-- <div class='title-dashboard'>
	    		<i class="ion-ribbon-b"></i>
	    		<label>DASHBOARD</label>
	    		<i class="ion-ribbon-b"></i>
    		</div> -->
    		<div id='body'>
    			<div class='row'>
    				<div class='col turnover'>
    					<i class="ion-stats-bars"></i>
    					<label>Doanh thu tháng này ({{options.turnover}})</label>
    				</div>
    			</div>
    			<div class='row'>
    				<div class='col move'>
    					<i class="ion-android-car"></i>
    					<label>Đơn hàng cần chuyển ({{options.move}})</label>
    				</div>
    			</div>
    			<div class='row'>
    				<div class='col ok'>
    					<i class="fa fa-thumbs-o-up"></i>
    					<label>Đơn hàng hoàn thành ({{options.ok}})</label>
    				</div>
    			</div>
    			<div class='row'>
    				<div class='col cancel'>
    					<i class="fa fa-thumbs-o-down"></i>
    					<label>Đơn hàng đã hủy ({{options.cancel}})</label>
    				</div>
    			</div>
    			<div class='row'>
    				<div class='col'></div>
    				<div class='col'></div>
    			</div>
    			<div class='chart'>
    			 	<div class="form-empl-detail form-slide content">
			   		 	 <div class="header"><i class="ion-ribbon-b"></i><i on-tap='openFilter("turnover")' class='ion-gear-b'></i></div>
			   		 	 <div class="body" show-custom-loading>
		   		 	 		<div id="turnOverRankBySaler" class='report-item'></div>
			   		 	 </div>
			   		</div> 	 
		   			<div class="form-empl-detail form-slide content">
			   		 	 <div class="header"><i class="ion-ribbon-b"></i><i on-tap='openFilter("customerRating")' class='ion-gear-b'></i></div>
			   		 	 <div class="body">
		   		 	 		<div id="customerRankchart" class='report-item'></div>
			   		 	 </div>
			   		</div> 	 
    			</div>
    		</div>
    	</div>
    </ion-content>
 </ion-view>
