<ion-view view-title="{{getLabel('InventoryInformartion')}}">
 	<ion-nav-buttons side="left" >
		<button class="button btn-remove" on-tap="back()">
        	<i class="ion-ios-arrow-back"></i>&nbsp;<title-back-view>{{backViewTitle}}</title-back-view>
      	</button>
  	</ion-nav-buttons>
	<ion-content>
		<ion-list can-swipe="true">
			<ion-item ng-repeat="store in list"  class="item-thumbnail-left item-content" on-tap="viewStoresDetail($index)">
				<img ng-src="assets/img/store_icon.png" class='btn-edit'>
				<p class="item-road"><label>{{store.partyName}}</label> ({{store.partyCode}})</p>
				<p class="item-road"><i ng-if="store.statusId == 'PARTY_ENABLED'" class='ion-android-notifications'></i><i ng-if="store.statusId == 'PARTY_DISABLED'" class='ion-android-notifications-off'></i>&nbsp;&nbsp;{{store.status}}</p>
				<i class='ion-chevron-right'></i>	
			</ion-item>    	
			<ion-infinite-scroll
			    on-infinite="loadMore()"
			    distance="-5" icon="android" ng-if="isLoadMore">
	 	 	</ion-infinite-scroll>	
    	</ion-list>
	</ion-content>
    <label class='no-result-found' ng-if="!isLoadMore">{{getLabel('noResultFound')}}</label>
</ion-view>