<ion-view view-title="{{getLabel('InventoryList')}}">
 	<ion-nav-buttons side="left" >
		<button class="button btn-remove" on-tap="back()">
        	<i class="ion-ios-arrow-back"></i>&nbsp;<title-back-view>{{backViewTitle}}</title-back-view>
      	</button>
  	</ion-nav-buttons>
	<ion-content >
		<ion-list can-swipe="true">
			<ion-item ng-repeat="store in list"  class="item-thumbnail-left item-content" on-tap="viewStoresDetail($index)">
				<img ng-src="assets/img/preview.jpg" class='btn-edit'>
				<p class="item-road"><label>{{store.productName}}</label> ({{store.productCode}})</p>
				<p class="item-road"><i class='ion-android-notifications'></i>&nbsp;&nbsp;SL : {{store.qtyInInventory}}</p>
				<i class='ion-chevron-right'></i>	
			</ion-item>    	
			<ion-infinite-scroll
			    on-infinite="loadMore()"
			    distance="-5" icon="android" ng-if="isLoadMore">
	 	 	</ion-infinite-scroll>	
    	</ion-list>
	</ion-content>
    <label class='no-result-found' ng-if="!isLoadMore">{{getLabel('noResultFound')}}</label>
    <ion-footer-bar align-title="left" class="bar-positive">
	  <h1 class="title">Total : {{list.length}}</h1>
	</ion-footer-bar>
</ion-view>