 <ion-view view-title="{{getLabel('Leave')}}">
    <ion-content style="margin-top:15%">
<!--     	<img ng-src="assets/img/underconstruction.jpg" class='under-construction'/> -->
    	<ion-list can-swipe="true">
			<ion-item ng-repeat="leave in list"  class="item-thumbnail-left item-content" on-tap="viewLeaveDetail($index)">
				<img ng-src="assets/img/leave.png" class='btn-edit'>
				<p class="item-road"><label>{{leave.fullName}}</label> ({{leave.partyCode}})</p>
				<p>{{leave.reason}}</p>
				<p class="item-road"><i ng-if="leave.statusId == 'LEAVE_APPROVED'" class='ion-checkmark'></i><i ng-if="leave.statusId == 'LEAVE_CREATED'" class='ion-ios-clock'></i><i ng-if="leave.statusId == 'LEAVE_REJECTED' || leave.statusId == 'LEAVE_CANCEL'" class='ion-close-circled'></i>&nbsp;&nbsp;{{leave.statusDes}}</p>
				<i class='ion-chevron-right'></i>	
			</ion-item>    	
			<ion-infinite-scroll
			    on-infinite="loadMore()"
			    distance="-5" icon="android" ng-if="isLoadMore">
	 	 	</ion-infinite-scroll>	
    	</ion-list>
    </ion-content>
    <search parent="self" call-back="runSearch" visible="true"></search>
    <label class='no-result-found' ng-if="!isLoadMore">{{getLabel('noResultFound')}}</label>
 </ion-view>