<ion-view view-title="Sign In" hide-nav-bar="true" class='login-layout'>
	<ion-content class="padding" scroll="false">
		<div class='login-container'>
			<div class="app-logo">
				<img src="assets/img/logo_olbius_white.png">
			</div>
			<div class="list list-inset form-login">
				<label class="item item-input">
					<input type="text" ng-model="user.USERNAME" placeholder="{{getLabel('username')}}" ng-enter="login()">
				</label>
				<label class="item item-input">
					<input id="password" name="password" type="password" ng-model="user.PASSWORD" placeholder="{{getLabel('password')}}" ng-enter="login()">
				</label>
				<a class="view-password-login-icon" ng-show="showViewPassword" ng-click="viewPass()">
				 	<i class='icon ion-eye'>&nbsp;</i>
				</a>
			</div>
			<button class="button button-block" ng-click="login()" >
				{{getLabel('Login')}}
			</button>
		</div>
		<!-- <div class='register-login'>
			<a href="#/register">{{getLabel('SignUp')}}</a>
		</div> -->
	</ion-content>
</ion-view>