<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content='isDrag'>
    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear" menu-toggle="left" ng-if="showToggle">
        	<i class="ion-navicon-round"></i>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      	<img class='img-logo-menu' ng-src="{{img_url}}"/>
    </ion-header-bar>
    <ion-content>
 	<div class="row profile" style="background-image: url('assets/img/profile1.jpg')" on-tap="goState('menu.profile')" menu-close>
 		<div class="col profile-item">
 		 	<a  class="item-icon-left ng-binding" >
				<i class="icon icon-circle-middle ion-android-person positive"></i>
				<p class='profile-name'>{{profileName}}</p>
			</a>
 		</div>
 	</div>
      <ion-list class='menu-apps'>
     		<div class="item" ng-class="active('menu.dashboard')" on-tap="goState('menu.dashboard')" menu-close>
 				<a  class="item-icon-left ng-binding">
					<i class="icon icon-circle-middle ion-stats-bars calm"></i> <label>{{getLabel('Dashboard')}}</label>
				</a>
      		</div>
      		<div class="item item-divider">{{getLabel('Roads')}}</div>
      		<div class="item"  ng-class="active('menu.salesmanlist')" on-tap="goState('menu.salesmanlist')" menu-close>
	      		<a  class="item-icon-left ng-binding" >
					<i class="icon icon-circle-middle ion-ios-people assertive"></i><label> {{getLabel('SalesmanList')}} </label>
				</a>
				<label class='icon-ntf b'>{{totalSaler}}</label>
			</div>	
			<div class="item" ng-class="active('menu.routelist')" on-tap="goState('menu.routelist')" menu-close>	
				<a  class="item-icon-left ng-binding" >
					<i class="icon icon-circle-middle ion-android-bus calm"></i><label> {{getLabel('RouteList')}}</label> 
				</a>
				<label class='icon-ntf r'>{{totalRoad}}</label>
      		</div>
			<div class="item item-divider">{{getLabel('Programs')}}</div>
      			<div class="item" ng-class="active('menu.programExhAcc')" on-tap="goState('menu.programExhAcc')" menu-close>
      				<a  class="item-icon-left ng-binding" >
						<i class="icon icon-circle-middle ion-trophy positive"></i><label> {{getLabel('ProgramExhAccLabel')}}</label>
					</a>
					<label class='icon-ntf p'>{{totalProgram}}</label>
      			</div>
			<div class="item item-divider">{{getLabel('otherList')}}</div>
				<div class="item" ng-class="active('menu.storeList')" on-tap="goState('menu.storeList')" menu-close>
	      			 <a  class="item-icon-left ng-binding" >
						<i class="icon icon-circle-middle ion-android-playstore assertive"></i> <label>{{getLabel('storeList')}}</label>
					</a>
					<label class='icon-ntf p'>{{totalStores}}</label>
				</div>
      			<!-- <div class="item" ng-class="active('menu.profile')" on-tap="goState('menu.profile')" menu-close>
	      			 <a  class="item-icon-left ng-binding" >
						<i class="icon icon-circle-middle ion-android-person positive"></i> <label>{{getLabel('Profile')}}</label>
					</a>
				</div> -->
				<div class="item" ng-class="active('menu.leave')"  on-tap="goState('menu.leave')" menu-close>
	      			<a  class="item-icon-left ng-binding"  >
						<i class="icon icon-circle-middle ion-battery-empty balanced"></i> <label>{{getLabel('Leave')}}</label>
					</a>
	   			</div>
	   			<div class="item">
					<a class="item-icon-left ng-binding" ng-click="logout()">
						<i class="icon icon-circle-middle ion-log-out assertive"></i> <label>{{getLabel('Logout')}}</label>
					</a>
	   			</div>
   	  </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
