 <ion-view view-title="{{getLabel('Profile')}}">
 	<ion-nav-buttons side="right">
      <button class="button btn-remove" on-tap="openOptions($event)" >
        <i class="ion-more"></i>
      </button>
    </ion-nav-buttons>
    <ion-content scroll="true">
    	<!-- <img ng-src="assets/img/underconstruction.jpg" class='under-construction'/> -->
    	<div id="profile-bg">
    		<img src="assets/img/profile.jpg" style="width: 100%;">
    	</div>
     	<div id="content" delegate-handle="mainScroll">
     		 <div id="profile-info">
     		 	<img id="profile-image" ng-src="assets/img/employee.png" on-tap="getPicture()"/>
   		 		<h4 id="profile-name">{{profile.name}}</h4>
   		 		<div id="profile-description">
						<div class="card list">
						   <div class="item item-divider">
						      <i class='ion-information-circled'></i> <label  ng-show="profileType == 'base'">{{getLabel('BaseInfor')}}</label>
						      <label  ng-show="profileType == 'contact'">{{getLabel('ContactInfor')}}</label> 
						      <label  ng-show="profileType == 'position'">{{getLabel('CurrentPosition')}}</label>
						   </div>
						   
						   <div class="item item-text-wrap" ng-show="profileType == 'base'">
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('LoginName')}}</div>
						   			<div class='col content special'>{{profile.uId}}</div>
						   		</div>
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('employeeId')}}</div>
						   			<div class='col content special'>{{profile.pId}}</div>
						   		</div>
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('sex')}}</div>
						   			<div class='col content'>{{profile.gender}}</div>
						   		</div>
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('birthDay')}}</div>
						   			<div class='col content'>{{profile.birthDate}}</div>
						   		</div>
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('numCMND')}}</div>
						   			<div class='col content'>{{profile.idNumber}}</div>
						   		</div>
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('IssuePlace')}}</div>
						   			<div class='col content'>{{profile.geoName}}</div>
						   		</div>
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('IssueDate')}}</div>
						   			<div class='col content'>{{profile.idIssueDate}}</div>
						   		</div>
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('NativeLand')}}</div>
						   			<div class='col content'>{{profile.nativeLand}}</div>
						   		</div>
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('Ethnic')}}</div>
						   			<div class='col content'>{{profile.eth}}</div>
						   		</div>
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('Religion')}}</div>
						   			<div class='col content'>{{profile.religion}}</div>
						   		</div>
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('Nationality')}}</div>
						   			<div class='col content'>{{profile.nation}}</div>
						   		</div>
						   			<div class='row'>
						   			<div class='col-50'>{{getLabel('MarialStatus')}}</div>
						   			<div class='col content'>{{profile.maritalStatus}}</div>
						   		</div>
						   </div>
						   
						   <div class="item item-text-wrap" ng-show="profileType == 'position'">
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('Department')}}</div>
						   			<div class='col content special'>{{profile.groupName}}</div>
						   		</div>
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('Position')}}</div>
						   			<div class='col content special'>{{profile.emplPositionType}}</div>
						   		</div>
						   	</div>	
						   
						   <div class="item item-text-wrap" ng-show="profileType == 'contact'">
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('PermanentResidence')}}</div>
						   			<div class='col content'>{{profile.permanentInfo}}</div>
						   		</div>
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('AddressContact')}}</div>
						   			<div class='col content'>{{profile.residenceInfo}}</div>
						   		</div>
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('Email')}}</div>
						   			<div class='col content'>{{profile.emailAddress}}</div>
						   		</div>
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('phoneNumber')}}</div>
						   			<div class='col content'>{{profile.phoneNumber}}</div>
						   		</div>
						   		<div class='row'>
						   			<div class='col-50'>{{getLabel('MobilePhone')}}</div>
						   			<div class='col content'>{{profile.mobileNumber}}</div>
						   		</div>
						   </div>
						</div>
						
						
   		 		</div>
     		 </div>
     	</div>
    </ion-content>
    <script id ="popover.html" type = "text/ng-template">
   <ion-popover-view style="width:150px;height:130px;">
      <ion-content >
		<container class='profile-popup'>
			<div class='row' on-tap="view('base')"><i class='ion-arrow-right-b'></i>&nbsp;&nbsp;{{getLabel('BaseInfor')}}</div>
			<div class='row' on-tap="view('contact')"><i class='ion-arrow-right-b'></i>&nbsp;&nbsp;{{getLabel('ContactInfor')}}</div>
			<div class='row' on-tap="view('position')"><i class='ion-arrow-right-b'></i>&nbsp;&nbsp;{{getLabel('CurrentPosition')}}</div>
		</container>
      </ion-content>
   </ion-popover-view>
	</script>
  </ion-view>
