 <ion-view view-title="{{getLabel('ProgramExhAcc')}}">
<!--  	<ion-nav-buttons side="left"> -->
<!-- 		<button class="button btn-remove" on-tap="back()"> -->
<!--         	<i class="ion-ios-arrow-back"></i> -->
<!--       	</button> -->
<!--   	</ion-nav-buttons> -->
    <ion-content style="margin-top:15%">	
    	<ion-list can-swipe="true">
			<ion-item ng-repeat="program in list"  class="item-thumbnail-left item-content" on-tap="viewProgramDetail($index)">
				<img ng-src="assets/img/exh.png" class='btn-edit'>
				<p class="item-road">{{program.promoName}} ({{program.productPromoId}})</p>
				<p class="item-road"><i class='ion-android-star'></i>&nbsp;&nbsp; {{program._status_}}</p>
				<i class='ion-chevron-right'></i>
			</ion-item>    	
			 <ion-infinite-scroll
			    on-infinite="loadMore()"
			    distance="-10" spinner="bubbles" ng-show="isLoadMore"  immediate-check="true">
	 	 	</ion-infinite-scroll>	
    	</ion-list>
    </ion-content>
    <search parent="self" call-back="runSearch" visible="true"></search>
    <label class='no-result-found' ng-if="!isLoadMore">{{getLabel('noResultFound')}}</label>
 </ion-view>