 
 <ion-view view-title="{{getLabel('RouteList')}}" can-swipe-back="true" >
 	<ion-nav-buttons side="primary">
      <button class="button btn-remove" on-tap="removeRoute()" ng-if="changeBtn">
        <i class="ion-trash-a"></i>
      </button>
       <button class="button btn-remove" on-tap="backList()" ng-if="!changeBtn">
        <i class="ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    	<button class="button btn-remove" on-tap="addRoute('add')" ng-if="changeBtn">
	        <i class="ion-plus-round"></i>
	    </button>
    </ion-nav-buttons>
    <!-- on-scroll="onScroll()"  on-scroll-complete="onRelease()" -->
    <ion-content  style="margin-top:15%">
    	<ion-refresher
			    pulling-text="Pull to refresh..."
			    on-refresh="doRefresh()">
		</ion-refresher>
    	<ion-list show-delete="btnDel" >
    		<div class="content-ntf" ng-if="isNoResultFound"><i class='ion-checkmark-circled'></i>&nbsp;{{getLabel('isNoResultFound')}}</div>
			  <ion-item ng-repeat="road in roads"  class="item-thumbnail-left" on-tap="viewRoadDetail('view',$index)">
			  		<img ng-src="assets/img/icon-road.png" class='btn-edit'>
					<p class="item-road item-road-name">{{road.groupName}} ({{road.partyCode}})</p>
					<i class='ion-chevron-right'></i>
			 		<ion-delete-button class="ion-minus-circled" on-tap="delRoute($index)">	
			  </ion-item>
			  
		</ion-list>
		<!-- <div class="content-ntf" ng-if="isNoResultFound"><i class='ion-checkmark-circled'></i>&nbsp;{{getLabel('isNoResultFound')}}</div>
		<div class="card" ng-repeat="road in roads"  show-delete="btnDel">
		  <div class="item item-text-wrap item-thumbnail-left item-content" on-tap="viewRoadDetail('view',$index)">
		  	<img ng-src="assets/img/icon-road.png" class='btn-edit'>
		   	<p class="item-road item-road-name">{{road.groupName}} ({{road.partyCode}})</p>
			<i class='ion-chevron-right'></i>
		  </div>
		</div> -->
   		<ion-infinite-scroll
		    on-infinite="loadMore()"
		    distance="-5" ng-if="isLoadMore" spinner="bubbles" immediate-check="true">
 	 	</ion-infinite-scroll>
    </ion-content>
    <search attribute="self" parent="self" call-back="runSearch" getlist="getRouteList" visible="true" filter-by-day="true"></search>
    <a class="item view-road-on-map" ng-show="!isShow" on-tap="viewMap()"><i class="icon-view-map ion-map"></i></a>
    <label class='no-result-found' ng-if="!isLoadMore">{{getLabel('noResultFound')}}</label>
 </ion-view>
 
