 <ion-view view-title="{{getLabel('SalesmanList')}}">
 	<ion-nav-buttons side="primary">
		<button class="button btn-remove"  ng-if="!showToggle" on-tap="back()">
        	<i class="ion-ios-arrow-back"></i>&nbsp;<title-back-view>{{backViewTitle}}</title-back-view>
      	</button>
  	</ion-nav-buttons>
  	<ion-nav-buttons side="right">
		<button class="button btn-remove" on-tap="select(true)">
        	<i class="ion-person-add"></i>
      	</button>
  	</ion-nav-buttons> 
    <ion-content style="margin-top:15%">
    	<ion-list can-swipe="true" show-delete="false">
			<ion-item ng-repeat="employee in list"  class="item-thumbnail-left item-content" on-tap="viewEmployeeDetail(action,$index)">
				<img ng-src="assets/img/employee.png" class='btn-edit'>
				<p class="item-road item-road-name">{{employee.fullName}} [{{employee.partyCode}}]</p>
				<p class="infor-route">
					<i class="fa fa-road" aria-hidden="true"></i>
					<span ><label>{{employee.routeName}}</label></span>
				</p>
				<i class='ion-chevron-right'></i>
				<ion-delete-button class="ion-checkmark-round" on-tap="select($index)">	
	 		</ion-item>
			 <ion-infinite-scroll
			    on-infinite="loadMore()"
			    distance="-10" icon="android" ng-if="isLoadMore"  immediate-check="true">
	 	 	</ion-infinite-scroll>	
    	</ion-list>
    </ion-content>
    <search parent="self" call-back="runSearch" visible="true"></search>
 </ion-view>