<ion-view view-title="{{title}}" can-swipe-back="true" >
	<ion-nav-buttons side="left">
		<button class="button btn-remove" on-tap="back()">
        	<i class="ion-ios-arrow-back"></i><title-back-view>{{backViewTitle}}</title-back-view>
      	</button>
  	</ion-nav-buttons>
  	<ion-nav-buttons side="right">
		<button class="button btn-remove" on-tap="addRoute('{{_act}}')">
        	<i class="ion-checkmark-circled"></i>
      	</button>
  	</ion-nav-buttons>
	<ion-content >
		<div class="list form-route-add">
	        <div class="item item-divider"> 
				{{getLabel('routeId')}}
	        </div>
	        <div class="item ">
	        	<div class="list">
				   <label class="item item-input">
				   	<input type="text" placeholder="" ng-model="newRoute.partyCode">
				   </label>
				</div>     
	        </div>
	        <div class="item item-divider"> 
				{{getLabel('route_name')}}
	        </div>
	        <div class="item ">	
	        	 <div class="list">
				   <label class="item item-input">
				   		<input type="text" placeholder="" ng-model="newRoute.groupName">
				   </label>
				</div>     
	        </div>
	        <div class="item item-divider"> 
				{{getLabel('saler')}}
				<a class='' on-tap="getPerson()" ng-show="true"><i class='ion-person-add'></i></a>	
	        </div>
	        <div class="item ">
	        	<div class="list">
				   <label class="item item-input">
				   		<input type="text" placeholder="" ng-model="newRoute.employeeId">
				   </label>
				</div>     
	        </div>
	        <div class="item item-divider"> 
				{{getLabel('description')}}
	        </div>
	        <div class="item ">
				   <label class="item item-input">
				   		<input type="text" ng-model="newRoute.description">
				   </label>
	        </div>
	        <div class="item item-divider bar bar-positive"> 
	        	<i class='ion-android-calendar'></i>
<!-- 				{{getLabel('routeSchedule')}} -->
	        </div>
	        <div class="item ">
	        	<div class='row'>
	        		<div class='col' ng-repeat="n in newRoute.days" ng-class='{"day" : newRoute.days[n.val].isChecked}'>
	        			<a  on-tap="setChecked(n)">{{n.alias}}</a>
	        		</div>
	        	</div>
	        </div>
        </div>
		<!-- <a class="item btn-add-new-route" on-tap="addRoute('{{_act}}')"><i class="icon-view-map ion-paper-airplane"></i></a> -->
	</ion-content>
</ion-view>
