 <ion-view view-title="{{getLabel('EmployeeDetail')}}">
 	<ion-nav-buttons side="left">
		<button class="button btn-remove" on-tap="back()">
        	<i class="ion-ios-arrow-back"></i>&nbsp;<title-back-view>{{backViewTitle}}</title-back-view>
      	</button>
  	</ion-nav-buttons>
    <ion-content>	
    
    	<div class="list-info">
   		 	 		<div class="list">
   		 	 			<div class="item item-divider">{{getLabel('employeeId')}}</div>
	   		 	 		<p>{{employee._id_}}</p>
	   		 	 		<div class="item item-divider">{{getLabel('employeeName')}}</div>
	   		 	 		<p>{{employee.fullName}}</p>
	   		 	 		<div class="item item-divider">{{getLabel('sex')}}</div>
		        		<p>{{employee._gender_}}</p>	
			        	<div class="item item-divider">{{getLabel('birthDay')}}</div>
	   		 	 		<p>{{employee._birthday_}}</p>
	   		 	 		<div class="item item-divider">{{getLabel('phoneNumber')}}</div>
		        		<p>{{employee.idNumber}}</p>
		        		<div class="item item-divider">{{getLabel('saleSupervisor')}}</div>
		        		<p>{{employee.manager}}</p>
   		 	 		</div>
      	 </div> 
   		
   		 <!-- <div class="form-empl-detail">
   		 	 <div class="header"><i class="ion-android-person"></i></div>
   		 	 <div class="body">
	   		 	 <div class='row'>
		    		<div class='col col-30'>{{getLabel('employeeId')}}</div>
		    		<div class='col val'>{{employee._id_}}</div>
		    	</div>
		    	<div class='row'>
		    		<div class='col col-30'>{{getLabel('employeeName')}}</div>
		    		<div class='col val'>{{employee.fullName}}</div>
		    	</div>
		    	<div class='row'>
		    		<div class='col col-30'>{{getLabel('sex')}}</div>
		    		<div class='col val'>{{employee._gender_}}</div>
		    	</div>
		    	<div class='row'>
		    		<div class='col col-30'>{{getLabel('birthDay')}}</div>
		    		<div class='col val'>{{employee._birthday_}}</div>
		    	</div>
		    	<div class='row'>
		    		<div class='col col-30'>{{getLabel('phoneNumber')}}</div>
		    		<div class='col val'>{{employee.idNumber}}</div>
		    	</div>
		    	<div class='row'>
		    		<div class='col col-30'>{{getLabel('saleSupervisor')}}</div>
		    		<div class='col val'>{{employee.manager}}</div>
		    	</div>
   		 	 </div>
   		 </div> -->
    </ion-content>
    <a class='item edit-route' on-tap="viewStoresManager()"><i class='ion-android-playstore'></i></a>
 </ion-view>