<ion-view view-title="" can-swipe-back="true" >
	<ion-nav-buttons side="left">
		<button class="button btn-remove" on-tap="back()">
        	<i class="ion-ios-arrow-back"></i>&nbsp;<title-back-view>{{backViewTitle}}</title-back-view>
      	</button>
  	</ion-nav-buttons>	
  	<!-- <ion-nav-buttons side="right">
		<button class="button btn-remove" on-tap="updateAddress($routeDetail)">
        	<i  class='ion-android-map'></i>
      	</button>
  	</ion-nav-buttons> -->
	<ion-content>
		<div class="list-info">
   		 	 		<div class="list">
   		 	 			<div class="item item-divider">{{getLabel('saler')}}</div>
	   		 	 		<p>{{store.createdByName}}</p>
	   		 	 		<div class="item item-divider">{{getLabel('productId')}}</div>
	   		 	 		<p>{{store.productCode}}</p>
	   		 	 		<div class="item item-divider">{{getLabel('product')}}</div>
	   		 	 		<p>{{store.productName}}</p>
			        	<div class="item item-divider">{{getLabel('quantity')}}</div>
	   		 	 		<p>{{store.qtyInInventory}}</p>
		        		<div class="item item-divider">{{getLabel('timeInventory')}}</div>
		        		<p>{{store.time}}</p>
   		 	 		</div>
       </div> 
	</ion-content>
</ion-view>
