<ion-view view-title="{{getLabel('LeaveDetail')}}" can-swipe-back="true" >
	<ion-nav-buttons side="left">
		<button class="button btn-remove" on-tap="back()">
        	<i class="ion-ios-arrow-back"></i>&nbsp;<title-back-view>{{backViewTitle}}</title-back-view>
      	</button>
  	</ion-nav-buttons>	
  	<ion-nav-buttons side="right">
      <button class="button btn-remove" on-tap="openOptions($event)" >
        <i class="ion-more"></i>
      </button>
    </ion-nav-buttons>
	<ion-content>
		<div class="list-info">
   		 	 		<div class="list form-route-add">
   		 	 			<div class="item item-divider">{{getLabel('status')}}</div>
	   		 	 		<p style="color:red">{{leave.statusDes}}</p>
	   		 	 		<div class="item item-divider">{{getLabel('employeeName')}}</div>
	   		 	 		<p>{{leave.fullName}} -- ({{leave.partyCode}})</p>
	   		 	 		<div class="item item-divider">{{getLabel('Position')}}</div>
	   		 	 		<p>{{leave.emplPositionTypeDesc}}</p>
			        	<div class="item item-divider">{{getLabel('Department')}}</div>
	   		 	 		<p>{{leave.groupName}}</p>
		        		<div class="item item-divider">{{getLabel('leaveReason')}}</div>
		        		<p>{{leave.reason}}</p>
		        		<div class="item item-divider">{{getLabel('fromDate')}}</div>
		        		<p>{{leave._fromDate}}</p>
		        		<div class="item item-divider">{{getLabel('thruDate')}}</div>
		        		<p>{{leave._thruDate}}</p>
		        		<div class="item item-divider">{{getLabel('description')}}</div>
		        		<p>{{leave.description}}</p>
		        		<div class="item item-divider">{{getLabel('noteApprove')}}</div>
		        		<div class="item">
		        			<div class="list">
							   <label class="item item-input">
							   		<input type="text" placeholder="" ng-model="leave.note">
							   </label>
							</div>    
		        		</div>
   		 	 		</div>
       </div> 
	</ion-content>
<script id ="popoverApproveLeave.html" type = "text/ng-template">
   <ion-popover-view style="width:150px;height:130px;">
      <ion-content >
		<container class='profile-popup'>
			<div class='row' on-tap="view('a')"><i class='ion-checkmark'></i>&nbsp;&nbsp;{{getLabel('accept')}}</div>
			<div class='row' on-tap="view('r')"><i class='ion-android-cancel'></i>&nbsp;&nbsp;{{getLabel('reject')}}</div>
			<div class='row' on-tap="view('c')"><i class='ion-trash-b'></i>&nbsp;&nbsp;{{getLabel('cancelLeave')}}</div>
		</container>
      </ion-content>
   </ion-popover-view>
</script>
</ion-view>
