 <ion-view view-title="{{getLabel('InforDetail')}}" >
		<ion-nav-buttons side="left">
		<button class="button btn-remove" on-tap="back()">
        	<i class="ion-ios-arrow-back"></i>&nbsp;<title-back-view>{{backViewTitle}}</title-back-view>
      	</button>
  	</ion-nav-buttons>
    <ion-content class='padding' scroll="true">
 		  <ion-slide-box on-slide-changed="" class='slide-box'>
	          <ion-slide>
	          	<div class='form-slide content'>
	          		<div class="list-info">
	   		 	 		<div class="list">
	   		 	 			<div class="item item-divider">{{getLabel('programCode')}}</div>
		   		 	 		<p>{{promoDetail.productPromo.productPromoId}}</p>
		   		 	 		<div class="item item-divider">{{getLabel('programName')}}</div>
		   		 	 		<p>{{promoDetail.productPromo.promoName}}</p>
		   		 	 		<div class="item item-divider">{{getLabel('status')}}</div>
			        		<p>{{promoDetail._statusId_}}</p>	
				        	<div class="item item-divider">{{getLabel('content')}}</div>
		   		 	 		<p>{{promoDetail.productPromo.promoText}}</p>
		   		 	 		<div class="item item-divider">{{getLabel('startDate')}}</div>
			        		<p>{{promoDetail.fromDate}}</p>
			        		<div class="item item-divider">{{getLabel('endDate')}}</div>
			        		<p>{{promoDetail.thruDate}}</p>
			        		<div class="item item-divider">{{getLabel('store')}}</div>
			        		<span ng-repeat='store in promoDetail.productStorePromoAppl'>
	          						<p >{{store.storeName}} - &nbsp; ({{store.productStoreId}})</p> 
          					</span>
	   		 	 		</div>
			      	 </div> 
	          	</div>
	          		
	          
	          
	          
	          	 <!-- <div class="form-empl-detail form-slide content">
		   		 	 <div class="header"><i class="ion-ribbon-b"></i></div>
		   		 	 <div class="body">
		   		 	 	<div class='row'>
	          				<div class='col col-30'><label>{{getLabel('programCode')}}</label></div>
	          				<div class='col val'>{{promoDetail.productPromo.productPromoId}}</div>
	          			</div>
	          			<div class='row'>
	          				<div class='col col-30'><label>{{getLabel('programName')}}</label></div>
	          				<div class='col val'>{{promoDetail.productPromo.promoName}}</div>
	          			</div>
	          			<div class='row'>
	          				<div class='col col-30'><label>{{getLabel('status')}}</label></div>
	          				<div class='col val'>{{promoDetail._statusId_}}</div>
	          			</div>
	          			<div class='row'>
	          				<div class='col col-30'><label>{{getLabel('content')}}</label></div>
	          				<div class='col val'>{{promoDetail.productPromo.promoText}}</div>
	          			</div>
	          			<div class='row'>
	          				<div class='col col-30'><label>{{getLabel('startDate')}}</label></div>
	          				<div class='col val'>{{promoDetail.fromDate}}</div>
	          			</div>
	          			<div class='row'>
	          				<div class='col col-30'><label>{{getLabel('endDate')}}</label></div>
	          				<div class='col val'>{{promoDetail.thruDate}}</div>
	          			</div>
	          			<div class='row'>
	          				<div class='col col-30'><label>{{getLabel('store')}}</label></div>
	          				<div class='col val'>
	          					<div ng-repeat='store in promoDetail.productStorePromoAppl'>
	          						<p><span ng-if="store.storeName">{{store.storeName}} - </span>&nbsp;{{store.productStoreId}}</p>
	          					</div>
	          				</div>
	          			</div>
	          			<div class='row'>
	          				<div class='col col-30'><label>{{getLabel('ObjectApply')}}</label></div>
	          				<div class='col val'>
	          					<div ng-repeat='role in promoDetail.promoRoleTypeApply'>
	          						<p><span ng-if="role.description">{{role.description}} - </span>&nbsp;{{role.roleTypeId}}</p>
	          					</div>
	          				</div>
	          			</div>
	          			<div class='row'>
	          				<div class='col col-30'><label>{{getLabel('RequireVoucher')}}</label></div>
	          				<div class='col val'>{{promoDetail._requireCode_}}</div>
	          			</div>
	          			<hr>
	          			<div class='row'>
	          				<div class='col col-80'><label>{{getLabel('Approved')}}</label></div>
	          				<div class='col val'>
	          					<div class='form-slide content'>
							   		<div class='approve-promotions' >
					          			<i on-tap="approvePromotion(true)" class='ion-checkmark-circled'></i>
										<a class='assertive'><i on-tap="approvePromotion(false)" class='ion-android-cancel'></i></a>
					          		</div>
						   		</div>
	          				</div>
	          			</div>
		   		 	 </div>
		   		</div> 	  -->
		   		
	          
	          <!-- 	<div class='form-slide content'>
	          		<div id='content'>
	          			
	          		</div>
	          		
	          		<div class='approve-promotions button-small' >
	          			<h4>{{getLabel('Approved')}}</h4>
	          			<button class="button button-calm" on-tap="approvePromotion(true)"><i class='ion-checkmark-circled'></i></button>
						<button class="button button-assertive" on-tap="approvePromotion(false)"><i class='ion-android-cancel'></i></button>
	          		</div>
	          	</div> -->
	          </ion-slide>
	          <ion-slide>
	          		 <div class="form-slide rules">
			   		 	 	<div id='content-rule' ng-repeat="rule in promoContent">
			   		 	 		 <div class="form-empl-detail form-slide content">
						   		 	 <div class="header"><i class="ion-ribbon-b"></i></div>
						   		 	 <div class="body">
						   		 	 		<div class='row'>
						          				<div class='col col-30'><label>{{getLabel('ruleName')}}</label></div>
						          				<div class='col val'>{{rule.ruleName}}</div>
						          			</div>
						          			<div class='row'>
						          				<div class='col col-30'><label><x>{{getLabel('condition')}}<x></label></div>
						          			</div>
						          			<div class='row'>
						          				<div class='col col-30'><label>{{getLabel('CategoryAppl')}}</label></div>
						          				<div class='col val'>{{rule.contentConds}}</div>
						          			</div>
						          			<div class='row'>
						          				<div class='col col-30'><label>{{getLabel('condition')}}</label></div>
						          				<div class='col val'>{{rule.conds}}</div>
						          			</div>
			         						<div class='row'>
						          				<div class='col col-30'><label><x>{{getLabel('Policy')}}<x></label></div>
						          			</div>
						          			<div class='row'>
						          				<div class='col col-30'><label>{{getLabel('CategoryAppl')}}</label></div>
						          				<div class='col val'>{{rule.contentActs}}</div>
						          			</div>
						          			<div class='row'>
						          				<div class='col col-30'><label>{{getLabel('Policy')}}</label></div>
						          				<div class='col val'>
						          				<i class="ion-arrow-right-b" style='color: brown;font-size : 14px;'></i>
						          				{{rule.acts}}</div>
						          			</div>
						   		 	 </div>
					   		 	 </div>
	          					
		          			</div>
		   		 	 </div>	
	          	
          			<!-- <div class='form-slide rules'>
          				<div id='content-rule' ng-repeat="rule in promoContent">
          					<div class='row'>
		          				<div class='col col-30'><label>{{getLabel('ruleName')}}</label></div>
		          				<div class='col val'>{{rule.ruleName}}</div>
		          			</div>
		          			<div class='row'>
		          				<div class='col col-30'><label><x>{{getLabel('condition')}}<x></label></div>
		          			</div>
		          			<div class='row'>
		          				<div class='col col-30'><label>{{getLabel('CategoryAppl')}}</label></div>
		          				<div class='col val'>{{rule.contentConds}}</div>
		          			</div>
		          			<div class='row'>
		          				<div class='col col-30'><label>{{getLabel('condition')}}</label></div>
		          				<div class='col val'>{{rule.conds}}</div>
		          			</div>
		          			
         						<div class='row'>
		          				<div class='col col-30'><label><x>{{getLabel('Policy')}}<x></label></div>
		          			</div>
		          			<div class='row'>
		          				<div class='col col-30'><label>{{getLabel('CategoryAppl')}}</label></div>
		          				<div class='col val'>{{rule.contentActs}}</div>
		          			</div>
		          			<div class='row'>
		          				<div class='col col-30'><label>{{getLabel('Policy')}}</label></div>
		          				<div class='col val'>{{rule.acts}}</div>
		          			</div>
	          			</div>
          			</div> -->
	          </ion-slide>
        </ion-slide-box>
   </ion-content>
 </ion-view>