<ion-view view-title="{{getLabel('RouteDetail')}}" can-swipe-back="true" >
	<ion-nav-buttons side="left">
		<button class="button btn-remove" on-tap="back()">
        	<i class="ion-ios-arrow-back"></i>&nbsp;<title-back-view>{{backViewTitle}}</title-back-view>
      	</button>
  	</ion-nav-buttons>	
  	<ion-nav-buttons side="right">
		<button class="button btn-remove" on-tap="updateAddress($routeDetail)">
        	<i  class='ion-android-map'></i>
      	</button>
  	</ion-nav-buttons>
	<ion-content>
		<div class="list-info">
   		 	 		<div class="list">
   		 	 			<div class="item item-divider">{{getLabel('routeId')}}</div>
	   		 	 		<p>{{$routeDetail.partyId}}</p>
	   		 	 		<div class="item item-divider">{{getLabel('route_name')}}</div>
	   		 	 		<p>{{$routeDetail.groupName}}</p>
	   		 	 		<div class="item item-divider">{{getLabel('saler')}}</div>
	   		 	 		<span ng-repeat="n in $routeDetail.employeeId">
			        		<p>{{n.partyCode}}</p>	
			        	</span>
			        	<div class="item item-divider">{{getLabel('description')}}</div>
	   		 	 		<p>{{$routeDetail.description}}</p>
	   		 	 		<div class="item item-divider">{{getLabel('routeSchedule')}}</div>
		        		<p>{{$routeDetail._name}}</p>
   		 	 		</div>
       </div> 
	</ion-content>
	<a class='item edit-route' on-tap="updateAddressNormal()"><i class='ion-edit'></i></a>
</ion-view>
