<ion-view view-title="{{getLabel('UpdateAddress')}} {{route.groupName}} [{{route.partyCode}}]">
	<ion-nav-buttons side="left">
    	<button class="button btn-remove" on-tap="back()" >
	      	 <i class="ion-ios-arrow-back"></i><title-back-view>{{backViewTitle}}</title-back-view>
      	</button>
    </ion-nav-buttons>
   	<ion-nav-buttons side="right">
		<button class="button btn-remove" on-tap="confirmUpdate()">
        	<i class="ion-checkmark-circled"></i>
      	</button>
  	</ion-nav-buttons>
    <ion-content scroll="false">
   		<div class='form-update'>
   			<div class='row'>
   				<div class='col col-80'>
   					<label class="item item-input" ng-class="{'text-danger' : !address.content}">
						<i ng-show="!address.content" class="ion-alert-circled"></i>
					 	<input id="searchAddress" type="text" ng-model="address.content" placeholder="{{getLabel('enterAddress')}}">
					</label>
   				</div>
   				<div class='col'>
   					<a on-tap='_child.renderAddress()'><i class='ion-checkmark-circled'></i></a>
 				</div>
   			</div>
   		</div>
   		<googlemap current="self" options="options"></googlemap>
    </ion-content>
</ion-view>    
    


