.control-action{
	height: 32px;
	margin-top: 10px;
}
.age{
	width: 50px;
}
.tab-disabled{
	background-color: #eee;
	color: #999!important
}
.tab-disabled a{
	background-color: #eee !important;
	color: #999!important
}
.jqx-popup-olbius ul li.jqx-menu-item-top-olbius {
    border-bottom: 1px solid #CCC;
}
.jqx-popup-olbius ul li.jqx-menu-item-top-olbius:last-child{
	border: none;
}
.notify-assign{
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1000;
}
.report-context{
    text-align: center;
}
.report-context:last-child{
	margin-right: 0;
}
.clear-dropdown{
    position: absolute;
    top: 4px;
    right: 15px;
    z-index: 2;
    display: none;
    cursor: pointer;
}
.jqxdropdown{
	position: relative
}
.jqxdropdown:hover .clear-dropdown{
	display: block;
}
.contact-number{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.widget-main{
	position: relative;
}
.update-top-corner{
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    width: 40px;
    height: 30px;
}
 .notice-term{
    color: #FF0000;
    width: 420px;
 }
