.bootbox{
	z-index: 20001 !important;
}
.modal-backdrop{
	z-index: 20000 !important;
}
.green1 {
    color: #black;
    background-color: #F0FFFF;
}
.yellow1 {
    color: black\9;
    background-color: yellow\9;
}
.red1 {
    color: black\9;
    background-color: #e83636\9;
}
.green1:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: black;
    background-color: #F0FFFF;
}
.yellow1:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .yellow:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: black;
    background-color: yellow;
}
.red1:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .red:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: black;
    background-color: #e83636;
}
#updateofflinejqxgridPackingListDetail{
	display: none;
}