.mainslider {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	zoom: 1;
	border: none;
	margin-bottom: 15px;
}
.mainslider .flex-control-nav {
	bottom: 0px;
	z-index: 97;
}
.mainslider .flex-direction-nav a {
	height: 50px;
}
.middle-banner {
	width: 100%;
	height: 105px;
	text-align: center;
	cursor: pointer;
}
.banner-item {
	cursor: pointer;
}
.banner-item img, .middle-banner img {
	height: 100%;
	width: auto;
}
._5v3q ._4-eo._9_q, ._9_q {
	background: #FFF !important;
}
a.blue {
	color: #3b5998;
}
a.blue:link, a.blue:visited {
	color: #3b5998;
}
.scrollbar {
	background: #FFF;
}

.style-5::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.style-5::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

.style-5::-webkit-scrollbar-thumb {
	background-color: #0ae;
}

.text {
	font-size: 14px;
	padding: 5px 0;
}

.sideslider-pos {
	height: 472px;
	overflow: hidden;
	padding: 0 10px;
	position: absolute;
	width: 280px;
	border: 1px solid #f5f5f5;
}
.sideslider-item {
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0;
}
.sideslider-item:last-child {
	border-bottom: none;
}
.sideslider-item-title {
	height: 40px;
	line-height: 1.5em;
}
.sideslider-item-title .sideslider-item-img {
	float: left;
}
.sideslider-item-img img {
	width: 32px;
}
.sideslider-item-title .sideslider-item-name {
	float: left;
}
.sideslider-item-post {
	clear: both;
}
/* Custom by Tungps */
.readmore {
	color: #3b5998 !important;
}
.readmore:hover {
	color: #0078CA !important;
}
.sideslider-item-img img {
	width: 40px;
	height: 40px;
	margin-bottom: 5px !important;
}
.sideslider-item-name {
	color: #3b5998;
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
	position: relative;
}
#jm-tops2 .col3-set .col-3 {
	width: 298px !important;
}

/*navigation*/
.jm-navigation {

	float: left;
	font-weight: bold;
	margin: 0;
	padding: 0 10px;
	display: none;
}
.jm-nav-category {
	display: none;
}
.jm-navigation:hover .jm-nav-category {
	display: block;
	background: #3c3c3c;
}
#top-nav .vertical-mega-menu {
	margin-top: 13px;
}
.jm-nav-text {
	color: #009bcb;
	font-weight: 700;
	font-family: 'Open Sans';
}
.jm-nav-text i {
	font-size: 120%;
	margin-right: 5px;
}
.jm-navigation:hover .jm-nav-category ul.level0 li.mega a.mega .menu-title {
	color: #FFF;
	font-size: 125%;
	line-height: 100%;
}
.jm-navigation:hover .jm-nav-category ul.level1 li.mega a.mega .menu-title {
	color: #333;
	font-size: 110%;
	line-height: 100%;
}
.jm-navigation:hover .jm-nav-category .menu_CTL_Fashion ul.level2 li.mega a.mega .menu-title {
	color: #f04e46;
}
.jm-navigation:hover .jm-nav-category ul.level2 li.mega a.mega .menu-title {
	color: #333;
	font-size: 110%;
	line-height: 100%;
}
.jm-navigation:hover .jm-nav-category .menu_CTL_Fashion ul.level3 li.mega a.mega .menu-title {
	color: #333;
}
.jm-navigation:hover .jm-nav-category ul.level1 li.mega a.mega .menu-title:hover, .jm-navigation:hover .jm-nav-category ul.level2 li.mega a.mega .menu-title:hover, .jm-navigation:hover .jm-nav-category ul.level3 li.mega a.mega .menu-title:hover {
	color: #f04e46;
}

.sidebar .block-layered-nav .block-title {
	background: #009bcb !important;
}
.sidebar .narrow-by-list dd.last {
	padding-bottom: 0px;
}
.full-width-input {
	font-size: 14px;
	width: 100%;
	border-radius: 5px;
	height: 35px;
	background: #FFF;
	padding: 5px 15px;
	border: 1px solid #CCC;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.createUserForm .row {
	margin-bottom: 10px;
}
.createUserForm label.title {
	line-height: 35px;
	text-align: left;
}
.createUserForm label.long-title {
	line-height: 18px;
}
.btn-submit, .btn-primary {
	margin-top: 0;
	background: #009BCB;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	color: #FFF !important;
	font-size: 15px;
}
button {
	margin-top: 0;
	padding: 10px 20px;
}
.btn-submit {
	margin-bottom: 0;
	margin-top: 10px;
	padding: 10px 50px;
}
.container-inner {
	padding: 15px 0;
	text-align: left;
}
.choosesex {
	text-align: left;
}
.gender {
	float: left;
	padding: 0 10px;
	margin-top: 5px;
}
.gender input {
	margin-top: 0;
}
.gender label {
	padding-left: 10px;
}

.container {
	padding: 0;
}
.content-container {
	padding-top: 15px;
	padding-bottom: 30px;
}
.text-align-right {
	text-align: right;
}
.text-align-left {
	text-align: left;
}
.text-align-center {
	text-align: center;
}
.cart-total{
	position: relative;
   min-height: 100px;
}
.cart-total .updatecart {
    position: absolute;
    bottom: 10px;
    left: 25px;
}
.widget-wrapper {
	background: #FFF;
	border-radius: 10px;
}
.widget-wrapper .widget-header {
	position: relative;
	background-color: #f7f7f7;
	border: 1px solid #DDD;
	color: #333;
	height: 40px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.widget-header h3 {
	color: #333;
	height: 40px;
	line-height: 40px;
	text-align: left;
	padding: 0 60px;
}
.widget-wrapper .widget-body {
	padding: 15px 30px;
	border: 1px solid #DDD;
	border-top: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.marker {
	position: absolute;
	top: 10px;
	font-size: 20px !important;
	left: 30px;
}
.widget-header .cart-header {
	padding-left: 70px;
}
.cart-icon {
	top: 8px;
}
.topinput {
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 140px;
}
.btntop {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
/*margin*/
.margin-10 {
	margin: 10px;
}
.margintop-10 {
	margin-top: 10px;
}
.marginright-5 {
	margin-right: 5px;
}
.marginright-10 {
	margin-right: 10px;
}
.marginleft-10 {
	margin-left: 10px;
}
.marginbottom-10 {
	margin-bottom: 10px;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-top-15{
	margin-top: 15px;
}
/*padding*/
.no-padding {
	padding: 0;
}
.no-padding-right {
	padding-right: 0;
}
.no-margin-bottom {
	margin-bottom: 0 !important;
}
/**/
.reject {
	display: none;
}
.reject-title {
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
/*header checkout*/
.checkout-process {
	margin-bottom: 15px;
}
.checkout-process .steps {
	overflow: hidden;
	width: 100%;
	list-style: none;
	padding-left: 0;
	border-radius: 4px;
	overflow: hidden;
}
#top_navigation .steps {
	height: 40px;
	overflow: hidden;
}
.checkout-process .steps li {
	float: left;
	width: calc(33% - 13px);
	margin-right: calc(0.5% + 13px);
}
.checkout-process .steps li:last-child {
	margin-right: 0;
}
#top_navigation .steps > li > a {
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 40px;
	background-color: #f0f0f0 !important;
	color: #333 !important;
	font-size: 13px !important;
	text-align: left;
	font-family: "Roboto-Medium";
	font-weight: 400;
}
#top_navigation .steps > li > a > .bullet-checkout {
	color: #fff !important;
	vertical-align: top;
	width: 24px;
	height: 24px;
	margin-top: 8px;
	background: #999;
	border-radius: 24px;
	line-height: 24px;
	text-align: center;
	float: left;
	margin-right: 10px;
}
#top_navigation .steps > li.active > a > .bullet-checkout {
	background: #FFFFFF;
	color: #333 !important;
}
.checkout-process .steps a:before {
	border-left-color: #fff;
	right: -1.1em;
	z-index: 1;
}
.checkout-process .steps a {
	padding: .7em 1em .7em 1.9em;
	float: left;
	text-decoration: none;
	color: #2c508a;
	position: relative;
	background-color: #eef2f5;
	font-size: 15px;
	height: 40px;
	width: 327px;
}
.checkout-4-step .checkout-process .steps a {
	padding: .5em 2.1em .5em 3em;
}
.checkout-process .steps li:first-child a {
	padding-left: 1em;
}
.checkout-process .steps a:before {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1.8em;
	border-top: 1.9em solid transparent;
	border-bottom: 1.8em solid transparent;
	border-left: 1em solid;
	left: 0;
	width: 13px;
	color: #FFF;
}
.checkout-process .steps a:after {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1.8em;
	border-top: 1.9em solid transparent;
	border-bottom: 1.8em solid transparent;
	border-left: 1em solid;
	right: -1em;
}
.checkout-process .steps a:after {
	z-index: 2;
	border-left-color: #f1f1f1;
}

#top_navigation .steps > li.active > a {
	background-color: #F04E46 !important;
	color: #FFF !important;
}
.checkout-process .steps li.active a {
	background: #2c508a;
	color: #fff;
}
.checkout-process .steps li.active a:after {
	border-left-color: #F0F0F0;
}
#top_navigation .steps > li.active > a:after {
	border-left-color: #F04E46;
}
#top_navigation .steps > li.complete > a > .bullet-checkout {
	background: url('../images/adr-oms-bullet-checkout-bg-green-checked.png')
}
#top_navigation .steps > li.complete > a > .bullet-checkout > .number {
	display: none;
}
.messages li.error-msg {
	margin-bottom: 0 !important;
	background-color: #FAEBE7;
	background-image: none;
	border-color: transparent;
	color: #df280a;
}
.chooseprofile {
	text-align: left;
	padding: 30px 100px;
	border: 1px solid #ccc;
	border-radius: 10px;
}
.chooseprofile .row, .chooseprofile .customer, .chooseprofile .title {
	margin-bottom: 15px;
}
.chooseprofile .customer {
	display: inline-block
}
.chooseprofile .customer:last-child {
	margin: 0 0 0 10px;
}
.chooseprofile .customer input[type=radio] {
	margin-top: 0;
}
.chooseprofile .customer label {
	margin-left: 10px;
}
.btn-login {
	width: 100%;
	text-transform: uppercase;
	text-align: center;
}
.disabled {
	background: #ccc
}
.pagination .fa{
	font-size: 18px
}
.orderdetails {
	text-align: left;
	/* margin-top: 30px; */
}
.step-container {
	text-align: left;
}
.payment-header {
	margin-bottom: 15px;
}
.payment-method  .payment-logo {
	border: 1px solid #DDD;
	border-radius: 15px;
	text-align: center;
	padding: 15px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.payment-logo img {
	width: 50px;
}
.payment-method {
	margin-bottom: 15px;
}
.payment-method  .payment-input {
	position: relative;
	height: 82px;
}
.payment-input input {
	position: absolute;
	top: 50%;
	margin-top: -6px;
}
.payment-method  .payment-title {
	height: 82px;
	padding-left: 0;
}
.payment-title  .payment-title-content {
	border-radius: 15px;
	border: 1px solid #DDD;
	height: 82px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
	padding: 15px;
}
.obb-banner img {
	width: 100%;
}

.notfound {
	padding: 30px 0;
}
/*padding*/
.no-marginleft {
	margin-left: 0;
}

.no-marginright {
	margin-right: 0;
}

.no-paddingleft {
	padding-left: 0;
}
.no-paddingright {
	padding-right: 0;
}
.no-paddinghorizon {
	padding-left: 0;
	padding-right: 0;
}
.no-paddingvertical {
	padding-top: 0;
	padding-bottom: 0;
}
.paddingtopbottom-15 {
	padding: 15px 0;
}
.padding-bottom-15 {
	padding-bottom: 15px;
}
/**/

.product-top {
	width: 100%;
	height: 33.33%;
	position: relative;
	background: #F5F5F5
}
.product-top:nth-child(3n+1) {
}

.category-top-product .product-top:nth-child(2n) {
	background: #FFF
}
.product-top .product-top-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
.product-top .product-top-img {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.product-top-img a {
	position: relative
}
.product-top-img img {
	height: 75%;
	position: absolute;
	bottom: 10px;
	right: 10px;
	float: none !important;
}
.product-top-content p {
	font-size: 12px;
	width: calc(50% - 10px);
	margin-top: 20px;
	margin-left: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.product-top-content a {
	color: #333;
}
.product-top-content a:hover {
	text-decoration: none;
}
.product-top .product-on-sale {
	position: absolute;
	top: 15px;
	right: 15px;
	background: url('../images/sale_icon.png') no-repeat;
	background-size: 100% 100%;
}
.product-top-info p {
	margin: 0;
	margin-left: 20px;
	font-weight: normal;
}
.product-top-info .promos-code, .product-top-info .price-sales, .product-top-info .sales-price {
	font-weight: bold;
}
.sales-price {
	color: #C2090F;
}
/*.sales{
 position: absolute;
 top: 10px;
 right: 10px;
 width: 50px;
 height: 50px;
 border-radius: 40px;
 background: rgba(246, 220, 223, 0.5);
 text-align: center;
 border: 1px solid #C2090F;
 z-index: 4;
 }
 .sales .sales-label{
 color: #C2090F;
 font-size: 8px;
 position: absolute;
 top: 8px;
 }
 .sales .sales-price{
 color: #C2090F;
 font-size: 20px;
 font-weight: bold;
 position: absolute;
 top: 10px;
 left: 50%;
 width: 40px;
 margin-left: -20px;
 }
 .sales .sales-percent{
 position: absolute;
 top: 13px;
 right: 3px;
 color: #C2090F;
 font-size: 10px;
 font-weight: bold;
 }*/
.article {
	text-align: justify;
}
.article img {
	max-width: 100%;
	height: auto;
}
.article .timeupdate {
	text-align: left;
}
.navinews .navi-header {
	padding: 10px 20px;
	background: #009BCB;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #FFF;
	font-size: 18px;
	line-height: 20px;
	text-align: left;
	height: 40px;
	text-shadow: none;
	box-shadow: none;
	margin-bottom: 0;
}
.navinews .navi-header a:hover {
	color: #FFF;
	text-decoration: none;
}
.navi-header a {
	color: #FFF;
}
.navinews .navi-content {
	min-height: 200px;
	background: #fafafa;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 10px 20px;
}
.navi-content li {
	text-align: left;
	font-size: 15px;
	padding: 5px 0;
	color: #333346;
}
.navi-content li a {
	color: #333346;
}
.navi-content li a:hover {
	color: #cc0000;
	text-decoration: none;
}
.navinews .level2 {
	padding-left: 20px;
	padding-top: 5px;
	list-style: disc;
	margin-left: 20px;
}
.navinews .level2 li {
	padding: 0;
	margin-top: 5px;
}
.account-form {
	margin: 0 auto;
}
.asterisk {
	position: absolute;
	top: 10px;
	right: 0;
	color: #F04E46;
	font-size: 10px;
}
.account-create .account-title {
	padding: 10px 20px;
	background: #707070;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #FFF;
	font-size: 18px;
	line-height: 20px;
	text-align: left;
	height: 40px;
	margin-bottom: 0;
	border: 1px solid #707070;
}
.account-create .account-form {
	min-height: 200px;
	background: rgba(243, 243, 243, 0.5);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 30px 50px;
	border: 1px solid #DCDCDC;
}
.jm-products-slider-content .item-slider .product-image img {
	max-height: 170px !important;
	width: auto;
}
.jm-products-slider-vertical .product-image {
/*	height: 150px;*/
	width: auto;
}
.jm-tl-head {
	width: 400px
}

.products-grid li.item {
    border-bottom: 1px solid #ebebeb;
	float: left;
    padding: 0;
	width: 25%;
	height: 294px;
}
.account-login .buttons-set {
	width: 100%;
	text-align: right;
	float: left;
	margin: 0;
	padding-bottom: 15px;
	width: 200px;
}
.account-login{
	padding-bottom: 30px;
}
.account-login .page-title{
	margin-bottom: 0;
}
.content-forgot .content-input{
	float: left;
}
.content-forgot .buttons-set{
	float: left;
}
.new-users .full-width-button{
	width: 100%;
	border-radius: 5px;
}
.new-users .full-width-button .fa{
	margin-right: 5px;
}
.contact-form .buttons-set {
	margin-top: 0;
}
.contact-form .buttons-set button.button {
	float: right;
}
.buttons-set p.required {
	float: right;
	margin-right: 20px;
}
.contact-form {
	width: 440px;
	margin-right: 20px;
    padding-right: 25px;
}
.contact-info {
	width: calc(100% - 460px)
}

.contact-form .contact-inner form {
	width: 100%;
	height: 100%;
}
.contact-form .contact-row {
	margin-bottom: 15px;
}
.contact-form .button-action {
	width: 200px;
}
.contact-row label {
	line-height: 35px;
}
.product-image .image-product {
	/* width: 50px; */
}
#jm-mycart .btn-toggle {
	min-height: 62px;
}
.content-main {
	padding-bottom: 15px;
}
.catenews .news-item {
	margin-bottom: 15px;
	text-align: left;
}
.news-item {
	border: 1px solid #DDD;
	padding: 15px 20px;
	background: #F1F1F1;
	border-radius: 10px;
}
.news-item:nth-child(2n) {
	background: #FBFBFB;
}
.news-item img {
	width: 100%;
	height: auto;
}
.news-item .news-content-container {
	padding-left: 10px;
}
.news-content-container a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #F04E46;
}
.news-content-container a:hover h3 {
	color: #F04E46;
}
.news-item .news-title {
	font-size: 18px;
	margin-top: 10px;
}
.news-item .news-time, .news-item .news-content, .news-item .news-title {
	margin-bottom: 10px;
}
.news-item .news-time {
	color: #949494;
}
.news-item .news-content {
	text-align: justify;
}
.pagination-sm li a {
	font-size: 15px;
}
.pagination a:first-child {
	margin-left: 0;
}
.pagination .navigate {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	border: 1px solid #DDDDDD;
	background: #FBFBFB;
	font-size: 16px;
	text-align: center;
}
.toolbar .pagination-sm {
	display: block;
	float: left;
	margin: 2px 0;
}
.product-view .product-img-box .product-image-zoom img {
	max-width: 100%;
	max-height: 100%;
    width: auto;
    height: auto;
}
.quick-view-popup .product-essential .short-description {
	padding: 10px;
}
.login-form{
	padding-bottom: 20px;
}
.cart-item td div, .cart-item td input{
	text-align: center;
}
.cart-item td img{
	width: 60px;
	height: auto;
}
.cart-item .name{
	text-align: left;
}
.product-top-info .buy-now{
    position: absolute;
    left: 20px;
    top: 120px;
}
#cboxLoadedContent .product-view .product-shop{
	min-height: 400px;
}
.product-related{
	padding-left: 0;
}
.product-related-img{
    text-align: center;
    margin-bottom: 10px;
}
.product-related-img img{
	width: auto;
    max-width: 100%;
    max-height: 100%;
	height: 170px;
}
.related h3{
	font-size: 14px;
}
.related li{
	padding: 10px 0;
	border-bottom: 1px solid #CCC;
}
.search-hidden{
    opacity: 0;
	width: auto;
	height: auto;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.success-container{
	padding: 20px 100px;
	background: #F3F3F3;
	border-radius: 15px;
	border: 1px solid #DCDCDC;
}
.delivery{
	text-align: center;
	padding: 20px;
	height: 350px;
	width: 350px;
	border-radius: 200px;
	background: #FFF;
	margin: 0 auto;
}
.delivery img{
	width: 250px;
	margin-top: 10px;
}
.orderdetails{
	margin-bottom: 15px;
}
.cart-info-title{
	text-align: center;
	margin-bottom: 10px;
}
.orderdetails .cart-info-title:last-child{
	margin-bottom: 30px;
}

.order-success-content{
	margin-top: 30px;
	font-size: 16px;
	margin-bottom: 60px;
}
.jm-slider .products-grid{
	margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; width: 100%;
}
.jm-slider{
	width: 100%;
}
.jm-products-slider-content{
	overflow: hidden; width: 100%; float: left; left: 0px !important; visibility: visible; position: relative; z-index: 2;
}
.price-item{
	margin-bottom: 5px;
}
.price-item .price{
	font-size: 13px;
	text-align: right;
}
