/*fb api*/
.fb-back {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 999;
	display: block;
}
.fb_iframe_widget span, iframe.fb_iframe_widget_lift, .fb_iframe_widget iframe {
	min-width: 300px !important;
	min-height: 20px !important;
	position: relative;
}
.fb-icon {
	width: 36px;
	height: 115px;
	position: fixed;
	top: 45%;
	left: 0;
	margin-top: -20px;
	background: url('/obbresources/images/facebook.png');
	background-size: contain;
	cursor: pointer;
	z-index: 1000;
}
.fb-icon-small {
	width: 12px;
	height: 22px;
	position: absolute;
	top: 14px;
	left: 15px;
	background: url('/obbresources/images/fb.png') no-repeat;
	background-size: contain;
}
.fb-back-icon {
	width: 36px;
	height: 115px;
	position: absolute;
	top: 45%;
	right: -5px;
	margin-top: -48px;
	background: url('/obbresources/images/facebook.png') #E5ECFD;
	background-size: contain;
	cursor: pointer;
	border-radius:5px;
	z-index:999;
}
.fb-login-bt {

}
.fb-box {
	position: fixed;
	width: 320px;
	height: 340px;
	top: 30%;
	left: 0;
	background: #FAFAFA;
	border-radius: 10px;
	z-index: 1000;
	border-radius: 5px 20px 20px 5px;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-webkit-transform: translateX(-337px);
	-moz-transform: translateX(-337px);
	-ms-transform: translateX(-337px);
	transform: translateX(-337px);
	z-index: 5;
	border: 5px solid #3b5998;
	z-index: 1001;
}
.fb-box-in {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}
.fb-box-out {
	-webkit-transform: translateX(-337px);
	-moz-transform: translateX(-337px);
	-ms-transform: translateX(-337px);
	transform: translateX(-337px);
}
@media (max-width: 985px) {
	.fb-box {
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-ms-transition: all 0.5s linear;
		transition: all 0.5s linear;
		-webkit-transform: translateX(-337px) !important;
		-moz-transform: translateX(-337px) !important;
		-ms-transform: translateX(-337px) !important;
		transform: translateX(-337px) !important;
	}
	.fb-box-in {
		-webkit-transform: translateX(0px) !important;
		-moz-transform: translateX(0px) !important;
		-ms-transform: translateX(0px) !important;
		transform: translateX(0px) !important;
	}
	.fb-box-out {
		-webkit-transform: translateX(-337px) !important;
		-moz-transform: translateX(-337px) !important;
		-ms-transform: translateX(-337px) !important;
		transform: translateX(-337px) !important;
	}
}
.fb-inner {
	width: 95%;
	height: 95%;
	padding: 2.5%;
}
.fb-close {
	position: absolute;
	top: -3px;
	right: -3px;
	width: 20px;
}
.fb-share {
	background: #4c69ba;
	background: -webkit-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));
	background: -webkit-linear-gradient(#4c69ba, #3b55a0);
	border: none;
	-webkit-border-radius: 2px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	padding: 1px 5px;
	width: 40px;
	font-size: 11px;
	text-align: center;
	margin-top: 3px;
	text-shadow: 0 -1px 0 #354c8c;
	white-space: nowrap;
}
.mutual-friend-box {
	clear: both;
}
.fb-list-friends {
	position: relative;
	border: 1px solid #BEBEBE;
	border-radius: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 300px;
	padding: 5px;
	margin: 10px 0;
}
.fb-hint {
	position: absolute;
	display: none;
}
.fb-friend-item {
	margin-bottom: 5px;
	line-height: 50px;
	display: inline-block;
	margin-right: 30px;
}
.fb-friend-item:nth-child(even) {
	margin: 0;
}
.fb-friend-item .fb-friend-name {
	margin-left: 5px;
}

.fb-friend-avatar {
	float: left;
	height:40px;
}
.fb-friend-detail {
	line-height: 25px;
	margin-left: 10px;
}
.fb-login-bt {
    background: #3c599f;
    border: none;
    padding: 11px 30px;
    width: 240px;
    border-radius: 5px;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}
.fb-login-bt:hover {
	background: #627CBB;
}


.fb-page-header{
	height: 50px;
	clear: both;
}
.fb-page-header .fb-viewon {margin:5px 20px 0 0;}
.fb-viewon{
	float: right;
	z-index: 5;
	position: relative;
	opacity:0.2;
	margin-right:5px;
}
.fb-viewon:hover{
	opacity:1;
}
.fb-viewon a, .fb-viewon a:link, .fb-viewon a:visited{
	color: #3b5998;
	font-size: 12px;
	font-weight: 100 !important;
}
.fb-viewon a:hover{
	color: #3b5998;
	opacity:1;
}
.fb-page-title {
	display: block;
	height: 50px;
	width: 370px;
	float: left;
	margin-left: 10px;
}
.fb-page-name{
	margin-bottom:0;
}
.fb-page-name a{
	color:#3b5998!important;
}

.fb-page-avatar {
	width: 50px !important;
	float: left;
}

.fb-post{
	height: 473px;
	overflow: hidden;
	position: relative;
}
.fb-post-container{
	/*height: 520px;*/
	/*overflow: hidden;*/
}
.fb-post-img {
	width: 100%;
	margin: 0 auto;
}
.fb-post-content{
	font-size: 14px;
	line-height: 20px;
	margin: 15px 0;
}
.fb-post-content a,.fb-post-content a:link, .fb-post-content a:visited{
	color: #3b5998;
	font-size: 12px;
	font-weight: 100 !important;
}
.fb-post-img img {
	max-width: 504px;
}

@media screen and (max-width: 480px){
  .fb-icon {display:none;}
}
.sideslider-item-post .readmore,.fb-post-content .readmore {
	color: #3b5998;
	font-size: 12px;
	font-weight:600;
}
.sideslider-item-post .readmore:hover,.fb-post-content .readmore:hover {
	text-decoration:underline;
}
.obb-fbsharing,.fb-comments {margin-top:20px;}
.narrow {font-size:14px;color:#999;}
.fb-post-time {
	color:#999;
	font-size:12px;
	font-weight:normal;
}
.fb-comments-title {
	text-transform:uppercase;
	font-size:16px;
	border-bottom:1px solid #e0e0e0;
	padding-bottom:10px;
	font-family:'Open Sans';
}
.fa{
	font-size: 16px;
}
.fa-messenger{
	background: url('/obbresources/images/fb-messenger.png');
	background-size: contain;
	width: 16px;
	height: 16px;
	top: 0px;
	right: 16px;
	position: absolute;
}
.fb-suppiler-action .fb-viewon {margin-top:-30px;opacity:0.5;}
.fb-suppiler-action .fb-viewon:hover {opacity:1;}