.jqx-widget-header-megamall{
	background: #009BCB;
    color: #FFF;
}
.jqx-calendar-megamall{
    border-radius: 5px;
    border: 1px solid #DDD;
}
.jqx-calendar-cell-hover-megamall{
	background: #F04E46;
	color: #FFF !important;
	border: 1px solid #F04E46;
}
.jqx-calendar-title-header-megamall td {
    line-height: 25px;
}
.jqx-icon-arrow-left-megamall, .jqx-icon-arrow-left-hover-megamall, .jqx-icon-arrow-left-selected-megamall {
    background: url('../js/jqwidgets/styles/images/icon-left.png') #FFF;
    border-radius: 20px;
    width: 18px;
    height: 18px;
    margin-top: 3px;
    margin-left: 2px;
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-right-megamall, .jqx-icon-arrow-right-hover-megamall, .jqx-icon-arrow-right-selected-megamall {
    background: url('../js/jqwidgets/styles/images/icon-right.png') #FFF;
    border-radius: 20px;
    width: 18px;
    height: 18px;
    margin-top: 3px;
    margin-right: 2px;
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-fill-state-focus-megamall {
    border-color: #CCC;
}
.jqx-calendar-month-megamall .jqx-fill-state-pressed-megamall {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-color: #009BCB;
    background: #009BCB;
    color: #FFF;
}
.jqx-calendar-cell-today-megamall {
    background-color: #f04e46;
    border: 1px solid #f04e46;
    color: #FFF !important;
}
.jqx-input-content-megamall{
    padding: 0 15px;
}

.jqx-validator-hint, .jqx-fill-state-normal-validation, .jqx-widget-header-validation{
	/*border: 1px solid #D41212;
    background-color: #D41212;*/
    border: 1px solid #F04E46;
    background-color: #F04E46;
    height: auto;
    color: #FFF;
    padding: 5px;
}
.jqx-fill-state-normal-validation a{
	color: #FFF;
}
.jqx-validator-hint a{
	color: #FFF;
    font-weight: bold;
}
.jqx-popup-passstrong, .jqx-tooltip-main-passstrong, .jqx-tooltip-text-passstrong, .jqx-tooltip-arrow-passstrong{
	background: #34A953;
    color: #FFF;
    border: 1px solid #34A953;
    border-color: #34A953;
}
.jqx-popup-passweek, .jqx-tooltip-main-passweek, .jqx-tooltip-text-passweek, .jqx-tooltip-arrow-passweek{
	background: #FBBC05;
    color: #000;
    border: 1px solid #FBBC05;
    border-color: #FBBC05;
}
.jqx-popup-passtooweak, .jqx-tooltip-main-passtooweak, .jqx-tooltip-text-passtooweak, .jqx-tooltip-arrow-passtooweak{
	background: #EA7C29;
    color: #FFF;
    border: 1px solid #EA7C29;
    border-color: #EA7C29;
}