.nav-tabs > li > a {
	font-size: 18px;
    margin-bottom: 15px;
}
.product-view .nav-tabs {
	border-bottom: none;
}
.freeze {
    position: fixed;
    top: 0;
    z-index: 999999;
    background-color: #fff!important;
    width: 87%;
    margin-left: -21px;
}
.list-categories .products-grid li.item:nth-last-child(-n+4) {
    border-bottom: none;
}
.elastislide-prev, .elastislide-next {
	display: none;
}
.jm-slider-li-horizontal .rating-links {
    float: left;
}
.related img {
    /*width: 100%;
    height: auto;*/
}
.form-product-info {
    width: 90% !important;
}
.product-view .short-description {
    margin-top: 10px;
    background-color: #f9f9f9!important;
    padding: 10px;
    height: auto;
    border-left: 2px solid rgb(12, 214, 93);
    border-radius: 5px;
}
.product-shop .short-description {
    margin-top: 10px;
    background-color: #f9f9f9!important;
    padding: 10px;
    height: auto;
    border-left: 2px solid rgb(12, 214, 93);
    border-radius: 5px;
}
.product-options-bottom .add-to-cart{
	float: none;
}
.no-padding-left {
	padding-left: 0;
	padding-right: 0;
}
.no-padding-right{
	padding-right: 0;
}
.add-to-links{
	margin-bottom: 10px;
}
input.qty{
	width: 50px !important;
}
.add-to-links li:first-child{
	padding-left: 0
}
.margin-top10 {
	margin-top: 10px;
}
.btn-cart {
    min-width: 120px;
}
.add-to-cart .qty {
    margin: 8px 0 20px 0;
}
.add-to-cart label {
    margin: 10px 5px 0 0;
}
.tab-content img {
    width: 100%;
    height: auto;
}
.product-primary-img {
    width: auto;
    height: auto;
}
.view-mode {
	width: auto;
	min-width: 140px;
	width: 100%;
}
.sort-by {
	text-align: right;
	width: auto;
	width: 230px;
	/* width: 100%; */
}
.sort-by .select-box2 {
	background-position: 95% 12px, 0px 0px;
	margin: 5px 0px 0px 25px;
	width: calc(100% - 115px);
	float: right;
}
.sort-by .select-box2 select {
	 width: 100%;
}
.pages {
	width: auto;
    min-width: 200px;
}
.limiter {
    float: right;
	width: auto;
    min-width: 160px;
}
.limiter .select-box2 {
    background-position: none;
    margin: 5px 0px 0 25px;
    width: calc(100% - 90px);
    float: right;
}
#jm-col1{
    width: 100% !important;
}
.mini-products-list li {
    border-bottom: 2px solid rgba(7, 156, 81, 0.75);
}

.content label {
	margin-top: 9px;
}
.quick-setting .btn-toggle {
    padding: 5px 9px;
}
.shop-access .links .first {
    border-left: 1px solid #e1e1e1;
}
.links li.first {
    padding-left: 9px !important;
}
#jm-head .has-toggle {
    margin: 0 0 0 0px;
}
#jm-setting .inner-toggle {
    min-width: 160px;
}
#jm-tops1 ul li {
    padding-left: 60px;
}
#jm-tops1 ul {
    margin: 0 0 0 0;
}
#forgotpassword .button {
    margin-top: -3px;
}
.btn-review {
    cursor: pointer;
}
.pointer {
	cursor: pointer;
}
.popover-content {
/*     width: 350px; */
}
.area-review {
    margin: 0px;
    width: 244px;
    height: 78px;
    resize: none;
}
.area-review-full-width {
    margin: 0px;
    width: 100%;
    height: 78px;
    resize: none;
}

.comment-item {
	clear: both;
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    overflow-y: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #CCC;
}
.comment-item .comment-icon {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 30px;
    background: #CCC;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}
.comment-item .comment-wrapper {
    width: calc(100% - 50px);
    margin-left: 10px;
    float: left;
}
.comment-item .comment-wrapper .comment-header{
	height: 30px;
	display: block;
}
.comment-item .comment-wrapper .comment-content{
	padding: 15px;
	border-top: 1px solid #0CD65D;
    background: rgba(235, 235, 235, 0.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.ratings {
    margin-top: 10px;
}
.rating-wrapper{
	border-left: 1px solid #CCC;
	padding: 0 5px;
}
.ratings .rating-container{
    margin-right: 0;
    float: right;
}
.ratings .rating-box {
    margin: 2px 3px 3px 2px;
}
.review-count {
	color: #969696;
    margin: 0px;
    font-size: 13px;
    line-height: 13px;
}
.item .ratings .rating-links {
    text-align: left;
}
.comment-item .comment-wrapper .comment-header .sub-title {
	font-size: 12px;
	color: #999999 !important;
	float: left;
	padding: 0;
	width: 140px;
	margin-top: 4px;
	clear: none;
}
.comment-item .comment-wrapper .comment-header .user-rated {
	font-size: 15px;
	font-weight: 600;
	margin-right: 8px;
	float: left;
}
.comment-item .comment-wrapper .comment-header .star-rated{
	float: left;
	margin-top: 3px;
}
#jm-head {
    background: rgba(255, 255, 255, 0.76);
    z-index: 101;
}
#jm-header {
    z-index: 100;
}
#jm-footer {
/* 	position: relative; */
/*     background: #282828; */
/*     padding: 40px 55px 170px 0px; */
}
/* #jm-wrapper:before { */
/*     content: ""; */
/*     width: 100%; */
/*     position: absolute; */
/*     top: 0; */
/*     left: 0; */
/*     height: 226px; */
/*     z-index: 1; */
/* } */
#jm-bots1 {
/*     background-image: url("/obbresources/media/season/snow.png"); */
}
#jm-footer:before {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
#jm-footer {
	background-size: 100% 100%;
}
.products-grid {
	border-bottom: none;
}
.toolbar-bottom {
	margin-top: 25px;
}
.add-to-links li {
    border-right: none;
}
.block-compare {
    display: none;
}
#cart-view {
	width: 550px;
	height: 550px;
}
#slRateValueThis {
    margin-top: 1px;
    font-size: 14px;
}
.related h3:hover{
	color: red;
}
.content-body {
    padding: 15px 30px;
    border: 1px solid #DDD;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#searchButton {
	width: 105px;
    height: 39px;
}
.narrow-by-list dd li a span.price-sorted {
     color: #b4b4b4 !important;
}
.narrow-by-list dd li .brand-sorted {
     color: #b4b4b4 !important;
}
#product-nav li a {
	color: black !important;
}
.ratings .separator {
	display: none;
}
.ratings .link-review {
	display: none;
}
#setLocation .rows {
	min-height: 30px;
}
.fa-map-marker.location {
	font-size: 15px;
}
.location-wrapper{
	background: rgba(255,255,255,0.8)
}
.location-container{
	padding: 30px 40px 40px 70px;
}
.location-container .row:last-child .btn.location{
	margin-bottom: 0;
}
.location-title{
    margin-bottom: 20px;
    font-size: 25px;
}
.btn.location{
    width: 350px;
    height: 70px;
    margin-bottom: 15px;
    font-size: 27px;
}
#jm-set-location {
	z-index: 99;
	background: white;
	height: 40px;
	width: 30px;
	line-height: 37px;
	float: right;
	padding-top: 5px;
	text-align: center;
}
#jm-main .site-map {
    border: 1px solid #ebebeb;
    padding: 20px;
}
.action-bar-container {
    float: right;
    height: 100%;
    background-color: white;
}
.content-body h3 {
	font-weight: normal;
	line-height: 20px;
}
p {
    font-size: 13px;
}
.toolbar label {
    float: right;
}
.shop-access .links li:FIRST-CHILD {
    border-left: 1px solid #e1e1e1;
}
.map-container {
	height: 400px;
	width: 188px;
	position: relative;
    margin: 0 auto;
}

.map-container .map-area {
	position: absolute;
	opacity: 0.8
}
.map-container .map-title {
	border: 1px solid yellow;
	float: left;
   	height: 100%;
    width: 300px;
}
.map-area.northern {
	width: 188px;
	height: 198px;
    background-image: url("/obbresources/images/mb.png");
   	background-repeat: no-repeat;
	background-size: 100%;
}
.map-area.southern{
	height: 208px;
	width: 150px;
	bottom: 0;
	right: 0;
	background-image: url("/obbresources/images/mn.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
.map-container .map-area:hover{
	opacity: 1;
	cursor: pointer;
}
.map-container .title{
	position: absolute;
	font-size: 24px;
	font-weight: bold;
	width: 120px;
}
.northern .title{
    left: 160px;
    top: 35px;
}
.southern .title{
    right: 130px;
    bottom: 80px;
}
.jm-megamenu ul.level0 li.mega .childcontent-inner .group-title a {
    text-transform: capitalize;
}
.jm-megamenu li:nth-child(n+8):hover>.childcontent {
    right: 0;
    left: auto;
}
#product-nav.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border: none;
	border-bottom: 1px solid #538ED8;
}
.call-to-action ul.list-info li em {
    color: rgb(72, 100, 180);
    font-size: 125%;
    font-weight: bold;
    padding: 2px 10px 0 0;
}
.call-to-action ul.list-info li {
    color: rgb(72, 100, 180);
    font-weight: bold;
}
.call-to-action ul.list-info li:hover {
    color: rgb(88, 119, 207);
}
.blue {
    color: blue;
}
#button-btt {
	margin-bottom: 30px;
}
.product-view .img-wraper {
	height: 300px;
    text-align: center;
}
.quick-view-popup .product-name {
    height: auto;
}
.page-404 .content {
	padding: 60px 10px;
}
.page-404 .product-primary-img {
	float: right;
}
.page-404 .content .message h2 {
	font-size: 30px;
    color: #565656;
    margin: 0px 0px 10px 0px;
}
.page-404 .content .message .subtitle-404 {
    font-size: 16px;
    color: rgba(102, 102, 102, 0.79);
    margin-bottom: 15px;
}
.page-404 .content .icon, .title-404 {
    display: inline;
    color: #009bcb;
    font-size: 20px;
}
.page-404 .content .icon {
    padding-right: 3px;
}
.page-404 .content a {
    margin-right: 20px;
}
.page-404 .content a:HOVER {
    text-decoration: none;
}
.page-404 .content a:FOCUS {
     text-decoration: none;
}
#cboxClose {
    right: -5px;
}
.quick-view-popup .product-shop {
	padding: 10px;
}
.quick-view-popup .more-views {
	width:310px;
}
.quick-view-popup .thumbnail-container {
	width:650px !important;
}
.quick-view-popup .thumbnail-container .thumbnail-img {
	width: 72px;
    height: 82px !important;
	overflow: hidden;
	float: left;
}
.owl-controls {
	display: none !important;
}
.owl-carousel .owl-wrapper-outer {
    height: 400px;
}
#jm-mnutop {
	background-color: #a3c03a !important;
}
#jm-megamenu {
	background-color: #a3c03a !important;
}
#jm-mnutop ul.level0 li.active a {
	background: #667B1A !important;
}
#jm-megamenu ul.level0 li.active a {
	background: #667B1A !important;
}
#jm-megamenu ul.level0 li a.haschild:hover {
	background: #667B1A !important;
}
#jm-mnutop ul.level0 li a:hover {
	background: #667B1A !important;
}
#jm-megamenu ul.level0 li.mega:hover > a.mega {
    background: #667B1A !important;
}
.navinews .navi-header {
	background: #a3c03a !important;
}
button.button {
    background: #a3c03a;
}
.block-cate {
    border-bottom: 3px solid #a3c03a !important;
}
h2 a {
    color: #a3c03a !important;
}
.block-title a, .category-title a {
    color: #a3c03a;
}
.sidebar .block-layered-nav .block-title {
    background: #a3c03a !important;
}