.search-container {
	position: relative;
	height: 30px;
}

.search-container .filter-condition-container {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	height: 35px;
	line-height: 25px;
	width: 10%;
}

.filter-condition-container .filter-condition {
	width: 100%;
	height: 100%;
	line-height: 30px;
	text-align: left;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.filter-condition-container i {
	float: right;
	margin-top: 5px;
}

.search-container .search-input {
	position: absolute;
	top: 0;
	right: 2px;
	height: 23px;
	line-height: 18px;
	margin: 0;
	width: calc(100% - 2px);
	border-bottom-right-radius: 5px !important;
	border-top-right-radius: 5px !important;
}

.search-container .search-button {
	position: absolute;
	top: 0;
	right: 5px;
	height: 100%;
	border: none;
	line-height: 35px;
	font-size: 15px;
}

.tab-item {
	overflow-x: hidden;
}

.zone {
	margin-bottom: 10px;
}

.widget-header-info {
	background: #438eb9;
	color: #FFF;
}

.widget-toolbar li {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.widget-body {
	padding-top: 0;
}

.widget-main {
	padding-top: 0;
}

.info-header {
	font-size: 18px;
	line-height: 30px;
}

.info-label {
	/*height: 30px;*/
	/*line-height: 30px;*/
	margin-bottom: 0;
}

.info-content {
	height: 30px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
}

.blur {
	opacity: 0;
}

.info-input {
	width: calc(95% - 12px);
	height: 16px !important;
}

.input-asterisk {
	position: absolute;
	top: 5px;
	right: 0px;
}

.boder-all-profile:first-of-type {
	margin-top: 0;
}

.boder-all-profile {
	padding: 10px;
	/*padding-top: 3px;*/
	position: relative;
	margin-top: 20px;
}

.text-header {
	position: absolute;
	top: 20px;
	z-index: 2;
}

#dialog-confirmcommunicationHistory {
	display: none;
}

.collapse .widget-header {
	margin-bottom: 0;
}

.widget-main {
	padding: 0;
}

.collapseaddr .widget-main {
	padding: 10px;
	display: block !important;
}

.padding-top10 {
	padding-top: 10px;
}

#pagerlistMemberCustomer {
	width: auto !important;
	height: auto !important;
}

#pagerjqxgridFamily {
	display: none;
}

.no-resize {
	resize: none;
}

#crm-consideration-container {
    position: fixed;
	top: 110px;
	z-index: 18001;
}
#crm-consideration-container #crm-consideration-btn {
    position: relative;
    top: 80px;
}

#crm-consideration-container .ace-settings-box {
    width: 935px;
/*     height: 420px; */
    height: 320px;
    padding: 0px;
}
#crm-consideration-container #cons-panel {
    height: 100%;
}
#crm-consideration-container .jqx-splitter-panel-olbius {
    overflow: auto !important;
}
#crm-consideration-container .jqx-tabs-content-element {
    height: 100%;
    overflow: hidden;
}
#crm-consideration-container .ace-settings-box>div {
    margin: 0px;
    color: none;
    max-height: none;
}
#crm-consideration-modal {
	opacity: 0.3;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 18000;
    background-color: Black;
}
#crm-consideration-modal.open {
    display: block;
}
#crm-consideration-container .member-cons-info:FIRST-CHILD {
    margin-top: 6px;
}
#crm-consideration-container .member-cons-info span {
	line-height: 20px;
}
#crm-consideration-container .member-cons-info label {
	font-size: 13px
}
#crm-consideration-container .member-cons-info #txtDescriptionCons {
	width: 90%;
}
