@CHARSET "UTF-8";
.cell-green-color {
    color: black !important;
    background-color: #FFCCFF !important;
}
.cell-gray-color {
	color: black !important;
	background-color: #87CEEB !important;
}
#loader{
	 position : fixed;
	 left: 654px;
	 top: 266px;
	 visibility: hidden;
}
.green1 {
    color: #black;
    background-color: #deedf5;
}
.green1:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: black;
    background-color: #deedf5;
}

#jqxgridProductproductCodefilterwidget .jqx-input-olbius {
	margin: 4px 0px 0px 2px !important;
}

#jqxgridProductproductNamefilterwidget .jqx-input-olbius {
	margin: 4px 0px 0px 2px !important;
}