.jqx-grid-olbius {
	border: none;
	margin-top: 1px;
}

#jqxScrollThumbverticalScrollBarjqxgrid {
	border: 1px solid #CCC !important;
}
#jqxScrollWraphorizontalScrollBarjqxgrid {
	border: 1px solid #CCC !important;
}

#horizontalScrollBarjqxgrid {
	width:calc(100% - 3px)!important;
}

#jqxScrollThumbhorizontalScrollBarjqxgrid {
	border: 1px solid #CCC !important;
}

[id^="columntablejqxgrid"], [id*=" columntablejqxgrid"] {
	/*z-index:10 !important;*/
/*  	min-height:31px!important; */
}
.jqx-window-header-olbius {
  padding: 8px 10px 8px 15px;
  font-size: 15px;
  line-height: 15px;
}

.jqx-grid-olbius .jqx-grid-header-olbius {
/* 	height: 62px !important; */
	/*border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;*/
	min-height:31px!important;
}
/*.jqx-grid .jqx-grid-content{
	 border-right: 1px solid #CCC;
	 border-left: 1px solid #CCC;
}*/
.jqx-grid-olbius .jqx-scrollbar-olbius{
	z-index: 2000;;
}
.jqx-popup-olbius > .jqx-widget-header-olbius > div:FIRST-CHILD {
	font-size: 14px;
    /*margin-left: 8px;*/
/*  margin-top: 6px!important; */
}

.jqx-popup-olbius.jqx-widget-content-olbius {
	border-radius: 2px;
	-webkit-box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.1);
	box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.1);
	border:none;
}
.jqx-popup-olbius.jqx-listbox-olbius {
	border: 1px solid #CCC !important;
}
.jqx-fill-state-focus-olbius, .jqx-popup-olbius .jqx-fill-state-focus-olbius{
	border:1px solid #AAA;
}
#filterrow\.jqxgrid,#filterrow\.jqxgridap,#filterrow\.jqxgrid2,#filterrow\.jqxgrid3,#filterrow\.jqxgrid4,#filterrow\.jqxgrid5 {
	position: relative !important;
}
.jqx-grid-cell-pinned-olbius.jqx-grid-cell-filter-row-olbius {
	border-top:none;
}

#columntablejqxgrid>div>div>div>span {
	font-weight: 600 !important;
	margin-left: 5px;
	margin-right: 10px;
/* 	margin-top: 3px !important; */
	display:block;
}
.jqx-grid-olbius > div.jqx-grid-column-header-olbius>div>div>span,
.jqx-grid-olbius > div.jqx-grid-column-header-olbius>div>div>span {
	font-weight: 600 !important;
	margin-left: inherit;
/* 	margin-top: 3px !important; */
	display:block;
}

div.jqx-item-olbius>div, div.jqx-item-olbius>span,div.jqx-item-olbius>a {
	padding: 7px 10px ;
	position: absolute;
	width:calc(100% - 20px);
	margin: 0 !important;
}
div.jqx-cell-disable{
	background: #EFEFEF;
	height: calc(100% - 14px);
}

button.jqx-button, input.jqx-button[type="button"], input.jqx-button[type="submit"]
	{
	background: #2283c5;
	color: #FFF !important;
	border-color: #FFF !important;
	margin-top:5px;
}

#clearfilteringbutton, #addrowbutton, #deleterowbutton {
	margin: 0 5px;
	padding: 5px 10px;
}

#clearfilteringbutton {
	margin-left: -5px;
}

#clearfilteringbutton:hover, #addrowbutton:hover, #deleterowbutton:hover
	{
	border: 1px solid #FFF;
}


.jqx-grid .jqx-grid-toolbar-olbius {
	background: #FFF!important;
	border-width: 0 0 1px 0!important;
	margin-top: -5px!important;
}

.jqx-grid-olbius .jqx-grid-content{
	width: calc(100% - 3px) !important;
	/*border-right: 1px solid #CCC !important;
    border-left: 1px solid #CCC !important;*/
}
.jqx-grid-content.jqx-widget-content-olbius{
	width: 100% !important;
}
.jqx-grid-olbius  div[id^="content"]{
	border-right: 1px solid #CCC !important;
	border-left: 1px solid #CCC !important;
}
.jqx-grid-olbius  div[id^="contenttable"]{
	border-bottom: 1px solid #CCC !important;
	border-right: 0px solid #CCC !important;
	border-left: 0px solid #CCC !important;
}
.jqx-grid-olbius div[id^="columntable"]{
	z-index: 10 !important;
}
.jqx-grid-olbius div[id^="filterrow"]{
    z-index: 10 !important;
}

.jqx-grid-olbius.jqx-widget-header-olbius {
	border-right:1px solid #CCC;
}

.jqx-scrollbar-olbius .jqx-icon-arrow-down-olbius {
	background-image: url("images/icon-down.png") !important;
}

.jqx-icon-arrow-up-olbius {
	background-image: url("images/icon-up.png") !important;
}

.jqx-combobox-content-olbius, .jqx-input-olbius {
	border-color: #bbb !important;
}

.iconscontainer {
	/* height: 32px !important; */
}

.jqx-notification-info {
	background-color: #d9edf7 !important;
	border-color: #bce8f1 !important;
	color: #3a87ad !important;
	background-image: none !important;
	margin-top: 10px;
	/*width: 100% !important;*/
	text-shadow: none !important;
}

.jqx-widget-olbius .jqx-grid-cell-selected-olbius, .jqx-widget-olbius .jqx-grid-cell-hover-olbius
	{
	background-image: none !important;
	background: #ffffbb !important;
	color: #333 !important;
}

.jqx-window-olbius .jqx-window-content-olbius table tr {
	margin: 7.5px 0;
}

/*.jqx-window-olbius .jqx-window-content table tr td {
	width: 180px;
	min-width:180px;
	max-width:180px;
	padding-right: 15px;
}*/

[id^="alterSave"],
[id*=" alterSave"],
[id^="alterCopy"],
[id*=" alterCopy"],
[id^="configSave"],
[id*=" configSave"],
[id^="configCancel"],
[id*=" configCancel"],
[id^="alterCancel"],
[id*=" alterCancel"] {
	padding: 7px 13px!important;
}
.jqx-window-olbius input.jqx-input {
	padding: 2px 0 2px 5px !important;
	margin: 0px;
}

.jqx-window-olbius .jqx-grid-cell-filter-row-olbius input.jqx-input,
input.jqx-input-olbius.jqx-grid-pager-input {
	padding: 0!important;
}

.jqx-popup-olbius .jqx-grid-header-olbius > div:first-child {
	min-height: 29px !important;
}
#jqxGP .jqx-grid-header-olbius{
	height:25px !important;
}
.jqx-grid-olbius .jqx-grid-statusbar-olbius{
	border-top: 1px solid #ccc!important;
	border-left: 1px solid #ccc!important;
	border-right: 1px solid #ccc!important;
	display:block;
}

/*#apInvoices [id^="statusbarjqxgrid"], #arInvoices [id^="statusbarjqxgrid"] {
	display:block!important;
} */

#jqxPanel {
	border:none !important;
}

.jqx-fill-state-normal-olbius {
	background: #FAFAFA;
	background-image: none!;
	border-color:#CCC;
	color:#333;
}
.jqx-action-button-olbius {
	width:25px;
	margin-left:-6px;
}
.jqx-icon-calendar-olbius {
	margin: -8px 0 0 5px;
}
.jqx-grid-pager-input-olbius {
	height:16px !important;
}

.jqx-calendar-title-navigation-olbius.jqx-icon-arrow-right-olbius{
	 background-image: url("images/icon-right-white.png")!important;
}
.jqx-calendar-title-navigation-olbius.jqx-icon-arrow-left-olbius {
	background-image: url("images/icon-left-white.png")!important;
}
.jqx-checkbox.jqx-checkbox-olbius {
	margin-left: -20px !important;
	top: 1px !important;
}
.jqx-grid-pager.jqx-grid-pager-olbius {
	background-image: linear-gradient(to top, #f5f5f5, #fafafa) !important;
	border: 1px solid #ccc;
    height: 27px !important;
    color:#444!important;
    width:calc(100% - 3px)!important;
}
.jqx-grid-statusbar.jqx-grid-statusbar-olbius .jqx-grid-cell.jqx-grid-cell-olbius {
	background-color: #F5F5F5!important;
	border-top: 1px solid #ccc;
}
.jqx-grid-column-header.jqx-grid-column-header-olbius span{
	font-weight:600;
    margin-right: 10px;
}
#statusbarjqxgrid, #statusbarjqxgridSO {
	border-bottom:none;
}
.jqx-grid-toolbar-olbius.jqx-widget-header-olbius .widget-header {
	background:none;
	padding-bottom:10px;
	border-left:none;
	border-right:none;
	padding-left: 10px;
	padding-right: 10px;
}
.jqx-grid-toolbar-olbius .widget-header h4, .jqx-grid-toolbar-olbius .widget-header h4{
	color:#4383b4;
}
.jqx-grid-olbius .jqx-grid-toolbar-olbius button.jqx-fill-state-normal.jqx-fill-state-normal-olbius,.jqx-grid-toolbar-olbius button.jqx-fill-state-normal.jqx-fill-state-normal-olbius
	{
	color: #438eb9 !important;
	border-color: #FFF !important;
	margin-top:5px;
	font-size:14px!important;
	background:none!important;
}
button.jqx-fill-state-hover.jqx-fill-state-hover-olbius,
button.jqx-fill-state-pressed.jqx-fill-state-pressed-olbius
{
	background:none!important;
	color:#005580!important;
	font-size:14px!important;
	cursor: pointer;
}
.jqx-grid-toolbar-olbius.jqx-widget-header-olbius {
	border-bottom:1px solid #dce8f1!important;
}
.jqx-popup-olbius ul li.jqx-menu-item-top-olbius {color:#0b6cbc;}
.jqx-popup-olbius ul li.jqx-menu-item-top-hover-olbius {color:#fff!important;}

[id^="listBoxContentinnerListBoxjqxWidget"],[id*=" listBoxContentinnerListBoxjqxWidget"] {
	border:1px solid #CCC!important;
}
.jqx-calendar-olbius {
	box-sizing:border-box!important;
	border:1px solid #CCC!important;
	padding-bottom:5px;
}
.jqx-grid-column-filterbutton {
	background-image: url("images/filter.svg")!important;
}
input[type=text].jqx-input {
	line-height:15px;
}
#jqxconfigjqxgrid .jqx-window-close-button-background-olbius {margin-top:5px;}
.jqx-combobox-input,input#inputthruDate, input#inputfromDate {padding-left:5px!important;}
.jqx-fill-state-disabled,.jqx-fill-state-disabled ul li,.jqx-fill-state-disabled ul li:hover  {
	color:#999!important;
	opacity:1;
	background:#EEE;
	cursor:not-allowed;
}
.jqx-notification-success{
  background-color: #d9edf7 !important;
  background-repeat: repeat-x !important;
  background-image: none !important;
  border-left-color: #bce8f1 !important;
  border-right-color: #bce8f1 !important;
  border-bottom-color: #bce8f1 !important;
  border-top-color: #bce8f1 !important;
  font-size: 14px !important;
  color: #3a87ad !important;
}
.jqx-notification-error{
  background-color: #f2dede !important;
  background-repeat: repeat-x !important;
  background-image: none !important;
  border-left-color: #eed3d7 !important;
  border-right-color: #eed3d7 !important;
  border-bottom-color: #eed3d7 !important;
  border-top-color: #eed3d7 !important;
  font-size: 14px !important;
  color: #b94a48 !important;
}
.jqx-tabs-content-olbius{
	height: 85% !important;
}
.jqx-tabs-olbius{
	overflow: visible !important;
}
.jqx-tabs-button-olbius{
	position: absolute;
	right: 0px !important;
	bottom: -50px !important;
}
.jqx-splitter-button-olbius{
	position: absolute;
	left: -2%;;
	top: 92%;
}
.jqx-splitter-panel-olbius{
	overflow: scroll !important;
}
/*editor*/
.jqx-widget-header-olbiuseditor{
	background: #FFF;
}
.jqx-fill-state-pressed-olbiuseditor,.jqx-fill-state-normal-olbiuseditor {
  border-color: #D3D3D3;
  background: #FFF;
}
.jqx-editor-container-olbiuseditor .jqx-editor-content{
	padding: 5px !important;
}
.jqx-editor-toolbar-icon-olbiuseditor{
  height: 21px;
  width: 21px;
  vertical-align: middle;
  opacity: .667;
  margin: 2px 0;
  background: url('images/icons_hidpi.png') no-repeat;
  background-size: 16px!important;
}

.jqx-editor-toolbar-icon-bold-olbiuseditor{
	  background-position: 2px -190px!important;
}
.jqx-editor-toolbar-icon-italic-olbiuseditor {
	background-position: 2px -694px !important;
}

.jqx-editor-toolbar-icon-underline-olbiuseditor {
	background-position: 2px -2038px !important
}
.jqx-editor-toolbar-icon-forecolor-olbiuseditor{
	background-position: 2px -1942px!important;
}
.jqx-editor-toolbar-icon-justifyleft-olbiuseditor{
	background-position: 3px -766px!important;
}
.jqx-editor-toolbar-icon-justifycenter-olbiuseditor{
	background-position: 3px -741px!important;
}

.jqx-editor-toolbar-icon-justifyright-olbiuseditor{
	background-position: 2px -789px!important;
}
.jqx-editor-toolbar-icon-insertunorderedlist-olbiuseditor{
	background-position: 2px -237px!important;
}
.jqx-editor-toolbar-icon-insertorderedlist-olbiuseditor{
	background-position: 2px -982px!important;
}
.jqx-editor-toolbar-icon-outdent-olbiuseditor{
	background-position: 2px -669px!important;
}
.jqx-editor-toolbar-icon-indent-olbiuseditor{
	background-position: 2px -1029px!important;
}
.jqx-editor-toolbar-icon-insertimage-olbiuseditor{
	background-position: 3px -598px !important;
}
.jqx-editor-toolbar-icon-createlink-olbiuseditor{
	background-position: 3px -838px !important;
}
.jqx-editor-toolbar-icon-removeformat-olbiuseditor{
	background-position: 3px -1388px !important;
}
.jqx-editor-toolbar-icon-backcolor-olbiuseditor{
	background-position: 2px -94px !important;
}
.jqx-editor-toolbar-icon-fontsize-olbiuseditor{
	background-position: 2px -2132px !important;
}
.jqx-editor-toolbar-icon-viewsource-olbiuseditor{
	background-position: 3px -2151px!important;
	opacity: 1;
}
/* .jqx-grid-cell-pinned{
	z-index: 8000 !important;
} */
.ui-widget-overlay {
	background: #000;
}
.jqx-dropdownlist-state-normal-olbius{
	overflow: visible;
}
.jqx-dropdownlist-state-hover-normal-olbius{

}
.jqx-validator-hint {
	z-index: 999999;
}
.custom-control-toolbar{
	float:left;
	margin-left: 10px;
	margin-top: 5px;
	font-size: 14px;
	font-weight: normal;
	padding-top:4px;
	padding-bottom:4px
}
.custom-control-toolbar a:hover {
	background:none!important;
	color:#005580!important;
	font-size:14px!important;
}
ul.jqx-tabs-title-container-olbius{
	margin-left: 0;
}
div.jqx-item-olbius>.full-width, .full-width{
	width: 100%;
}
button.grid-custom-button{
    /*position: absolute;
    left: 50%;*/
    width: 40px;
    margin-top: 3px;
    line-height: 15px;
    text-align: center;
    border-radius: 5px;
    margin-left: 5px;
}
button.btn.grid-custom-button:active{
	left: auto;
	top: auto;
}
