@font-face {
  font-family: 'Myriad Pro';
  src: url('fonts/MYRIADPRO-REGULAR.eot'); /* IE9 Compat Modes */
  src: url('fonts/MYRIADPRO-REGULAR.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/MYRIADPRO-REGULAR.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/MYRIADPRO-REGULAR.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/MYRIADPRO-REGULAR.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/MYRIADPRO-REGULAR.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body{padding-top:0px;font-family: Myriad Pro, Arial,Tahoma, Verdana sans-serif; background-color:#f0f0f0;border-top:1px solid #f15a22;
font-size:13px;line-height:21px;color:#333;font-weight:normal;}
time{display:none;color:#333;}
a, a:visited{color:#333;text-decoration:none;}
a:hover{color:#000;text-decoration:none;}
strong{font-weight:600;}
h1,h2,h3,h4,h5,h6{color:#75a0d2;font-weight:600;}
h1{font-size:50px;line-height:40px;}
h2{padding:5px 0px;}
h3{font-size:20px;line-height:30px;padding:5px 0px;}
img{max-width: 100%;}
ul{margin:0;padding:0;}
ul li{list-style:none outside none;}
.font-arial{font-family:Arial;}
.wrapword{
white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
word-break: break-all;
white-space: normal;
}
section {
    background: #f1f1f1 none repeat scroll 0 0;
    margin:0 auto ;
    max-width: 640px;
    position: relative;
    width: 100%;
}
/* header menu */

nav {
	background: #fff;
	clear: both;
	font-size: 19px;
	font-weight: 300;
	line-height: 1;
	margin: 0;
	padding: 15px 0;
	width: 100%;
	position:relative;
}

nav ul {
	padding: 0;
}

nav .menu-item {
	display: inline-block;
	text-align: left;
}

nav a {
	color: #282b2d;
	display: block;
	padding: 10px 64px 10px 0;
}

nav a:hover {
	color: #93a748;
}

.responsive-nav-close{width:20px;height:20px;background:#000;}
.responsive-nav-icon {
	background: #fff;
	line-height: normal;
	padding: 5px 8px 4px;
	top: 5%; left: 5%;
}

.responsive-nav-icon:hover,
.responsive-nav-close:hover {
	opacity: .7;
}

.responsive-nav-close {
	top: 10px; right: 10px;
}

.responsive-nav-icon,
.responsive-nav-close {
    cursor: pointer;
    display: none;
}

#overlay {
    background: 0 0 rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    width: 100%;
    z-index: 90;
}
@media only screen and (max-width: 960px) {
	.responsive-nav-icon,
	.responsive-nav-close {
	    display: block;
	    position: absolute;
	    z-index: 1;
	}

	nav {
	    height: 100%;
	    padding: 20px;
	    position: fixed;
	    top: 0; left: -400px;
	    -moz-transition: all 0.2s linear 0s;
	    -webkit-transition: all 0.2s linear 0s;
	    -ms-transition: all 0.2s linear 0s;
	    transition: all 0.2s linear 0s;
	    width: 0;
	}

	nav.slide-in {
	    left: 0;
	    overflow-y: scroll;
	    width: 280px;
	    z-index: 100;
	}

	nav .menu-item {
		display: block;
	}
}
/* end header menu */