

.jstree-0 li[rel="Y"] > a > .jstree-icon {
    background-position: 0px 0px !important;
    background-image:url("home.png") !important;
}

.jstree-0 li[rel="E"] > a > .jstree-icon {
    background-position: 0px 0px !important;
    background-image:url("user.png") !important;
}

.jstree-0 li[rel="C"] > a > .jstree-icon {
    background-position: 0px 0px !important;
    background-image:url("house.png") !important;
}