<style>
	.btn.btn-white {
  		text-shadow: none!important;
  		background-color: #FFF!important;
	}
	.btn-white.btn-info {
 	 	border-color: #8fbcd9;
  		color: #70a0c1!important;
	}
	.btn.btn-bold {
  		border-bottom-width: 2px!important;
	}
	.btn.btn-white {
  		border-width: 1px;
	}
	.row-fluid > label.span5, .row-fluid > label.span4, .row-fluid > label.span2 {
		text-align: right;
	}
	.row-fluid > div.span5 > span, .row-fluid > div.span6 > span, .row-fluid > div.span2 > span {
		font-size: 14px!important;
		color: green;
	}
	hr{
		margin:0 0 0 20px!important;
	}
	
	.borderBottom{
		border-bottom: 1px dotted #d5e4f1
	}
	
	.lineHeight30{
		line-height: 30px
	}
	
	.labelColor{
		color:  #667e99 !important
	}
</style>