.titleText { width: 100%;}
.titleText > span {
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px!important;
}
.valueTotal { color: #FFFFFF; font-weight: bold; font-size: 15px!important; font-style: italic}
.valueTotal > span { color: #FFFFFF; font-weight: bold;}
.description {
    margin-bottom: 0;
    bottom: 0;
    font-style: italic;
    color: #FFFFFF;
}
.testtest { background: #6FB3E0;}
div.testtest, div.testtest2, div.testtest3, div.testtest4, div.revenueDeduction, div.testTopStore, div.testtest5 {
	-moz-user-select: -moz-none;
 	-moz-user-select: none;
 	-o-user-select: none;
 	-khtml-user-select: none;
 	-webkit-user-select: none;
 	-ms-user-select: none;
	height: 100%;
    cursor: pointer;
}
.testtest2 { background: rgb(111, 179, 224)}
.testtest3 { background: rgb(47, 97, 148)}
.revenueDeduction {background: #30818e;}
.testtest4 { background: #42B27C; overflow-y: hidden;}
.testTopStore{ background:  #1b926c;}
.testtest5 { background: #D68CDF;}
.testtest > i.fa.fa-bar-chart, .testtest2 > i.fa.fa-line-chart, .testtest3 > i.fa.fa-cubes, .revenueDeduction > i.fa.fa-cart-arrow-down, .testtest4 > i.fa.fa-thumbs-o-up, .testTopStore > i.fa.fa-money, .testtest5 > i.fa.fa-shopping-cart, .testApproveOrder > i.fa.fa-exclamation-triangle {
    padding: 20px 0px 0px 10px;
    font-size: 40px;
    color: white;
    width: 50px;
    float: left;
    display: inline-block;
}
.valuee {
    width: 70%;
    float: right;
    padding: 5px;
    display: inline-block;
    float: left;
}
#row00completeOrderGrid > div > input.jqx-input-olbius, #row00cancelOrderGrid > div > input.jqx-input-olbius, #row00intransitOrderGrid > div> input.jqx-input-olbius, #row00approveOrderGrid > div > input.jqx-input-olbius{
	margin: 0!important;
	width: 100%!important;
	height:100%!important;
}
/* new version */
div.test-value-total { background: #6FB3E0;}
div.test-intransit-order { background: #9585BF;}
div.test-approve-order {background: #F89406;}
div.test-complete-order { background: #42B27C;}
div.test-cancel-order { background: #D53F40;}

div.test-approve-order, div.test-intransit-order, div.test-value-total, div.test-complete-order, div.test-cancel-order {color: #fff; height: 100%;}
div.icon{height: 100%; display: flex!important;}
div.icon > i.content-icon {margin: auto; font-size: 40px;}
div.content{    
	font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    height: 100%;
    display: flex!important;
}
div.content-text{margin: auto 0px;}
div.test-intransit-order, div.test-approve-order, div.test-value-total, div.test-complete-order, div.test-cancel-order {
	-moz-user-select: -moz-none;
 	-moz-user-select: none;
 	-o-user-select: none;
 	-khtml-user-select: none;
 	-webkit-user-select: none;
 	-ms-user-select: none;
	height: 100%;
    cursor: pointer;
}
.grid-stack>.grid-stack-item>.grid-stack-item-content {
	overflow-y: hidden !important;
}
