.titleText {
	width: 90%;
	height: 25px;
	padding: 3px 20px;
}

.titleText>span {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #948F8F;
}

.valueTotal>lable {
	font-size: 14px;
}

.valueTotal {
	font-size: 15px;
	font-weight: bold;
	padding: 5px 20px;
	background-color: white;
}

.valueTotal>span {
	color: #0080ff;
	font-size: 15px;
	font-weight: bold;
}

.description {
	padding: 35px 20px 10px;
	margin-bottom: 0;
	bottom: 0;
	font-size: 15px;
	font-style: italic;
	color: #929292;
}

.distance {
	width: 90%;
	height: 20px;
	padding: 3px 20px;
}

.totalOrderNeedApprovalToday {
	width: 100%;
	height: 100%;
	background-color: #9abc32;
}

.totalOrderNeedApprovalToday>lable {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 8px;
	line-height: 2;
}

.totalOrderNeedApprovalToday>i {
	font-size: 25px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 20px;
}

.totalOrderNeedApprovalToday>a>div {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.totalOrderNeedApproval {
	width: 100%;
	height: 100%;
	background-color: #006666;
}

.totalOrderNeedApproval>lable {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
	line-height: 2;
}

.totalOrderNeedApproval>i {
	font-size: 25px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 20px;
}

.totalOrderNeedApproval>a>div {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.portlet-long-value>a>div {
	font-size: 15px;
}

.portlet-long-value>a>div b {
	display: inline-block;
	max-width: 235px;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}

.titleTextReturnSupplier {
	width: 100%;
	height: 45px;
	background-color: #CC3366;
	line-height: 45px;
}

.titleTextReturnSupplier>lable {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
}

.titleTextReturnSupplier>i {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 20px;
}