.modal-email-body{
	max-height: none !important;
	min-height: 200px;
	overflow: hidden;
}
select.email-op-select{
	width: 730px;
}

.resize-none{
	resize: none
}
.margin-top{
	margin-top: 10px;
}
.modal-email{
	width: 760px !important;
	margin-left: -330px !important;
}
.detail-modal{
	width: 700px !important;
	margin-left: -350px !important;
}
.event-row{
	border-bottom: 1px solid #CCC;
	padding-top: 10px;
}
.event-row:first-child{
	padding-top: 0;
}
