@import url("font-awesome.v4.1.css");
#delys-logo {
	background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    line-height: 37px;
    margin-bottom: 0;
    text-align: center
}
.header {
    margin: 5px 0 10px 0!important;
}
.nav-list > li > a > [class*="fa-"]:first-child {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    min-width: 30px;
    text-align: center;
    vertical-align: middle;
}
li [class^="fa-"], li [class*=" fa-"], .nav-list li [class^="fa-"], .nav-list li [class*=" fa-"] {
    width: auto;
}
.nav-list [class^="fa-"], .nav-list [class*=" fa-"] {
    margin-right: 2px;
}
.navbar .brand {
	padding:10px 20px;
}
.logo-group-name {
	font-weight:bold;
	text-transform:uppercase;
	font-size:18px;
}
small {font-size:100%;}

.fa-ap:before{content:url('AP-icon.svg')}
.active .fa-ap:before{content:url("AP-icon-active.svg") !important}
.fa-ar:before{content:url("AR-icon.svg")}
.active .fa-ar:before{content:url("AR-icon-active.svg") !important}