.bootbox{
    z-index: 990009 !important;
}
.popup-footer {
	padding-right: 5px;
	width: calc(100% - 25px) !important;
	background-color: #F6F6F6;
}
.padding-top20 {
	padding-top: 20px;
}
.focus-color {
	background-color : #deedf5;
}
