.titleText {
	width: 100%;
	height: 45px;
	background-color: #6fb3e0;
	line-height: 45px;
}

.titleText>lable {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
}

.titleText>i {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 20px;
}

.valueTotal>lable {
	font-size: 14px;
}

.valueTotal {
	font-size: 15px;
	font-weight: bold;
	padding: 5px 20px;
	background-color: white;
}

.valueTotal>span {
	color: #0080ff;
	font-size: 15px;
	font-weight: bold;
}

.description {
	padding: 35px 20px 10px;
	margin-bottom: 0;
	bottom: 0;
	font-size: 15px;
	font-style: italic;
	color: #929292;
}

.distance {
	width: 90%;
	height: 20px;
	padding: 3px 20px;
}

.totalValueStype {
	width: 100%;
	height: 100%;
	background-color: #9abc32;
}

.totalValueStype>lable {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
	line-height: 2;
}

.totalValueStype>i {
	font-size: 25px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 20px;
}

.totalValueStype>a>div {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.totalValueReceiveStyle {
	width: 100%;
	height: 100%;
	background-color: #e8b110;
}

.totalValueReceiveStyle>lable {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
	line-height: 2;
}

.totalValueReceiveStyle>i {
	font-size: 25px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 20px;
}

.totalValueReceiveStyle>a>div {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.titleTextReceive {
	width: 100%;
	height: 45px;
	background-color: #999900;
	line-height: 45px;
}

.titleTextReceive>lable {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
}

.titleTextReceive>i {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 20px;
}

.totalValueTranferToday {
	width: 100%;
	height: 100%;
	background-color: #CC9966;
}

.totalValueTranferToday>lable {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
	line-height: 2;
}

.totalValueTranferToday>i {
	font-size: 25px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 20px;
}

.totalValueTranferToday>a>div {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.titleTextTransfer {
	width: 100%;
	height: 45px;
	background-color: #006666;
	line-height: 45px;
}

.titleTextTransfer>lable {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
}

.titleTextTransfer>i {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 20px;
}

.totalValueProductExpireStyle {
	width: 100%;
	height: 100%;
	background-color: #e8b110;
}

.totalValueProductExpireStyle>lable {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
	line-height: 2;
}

.totalValueProductExpireStyle>i {
	font-size: 25px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 20px;
}

.totalValueProductExpireStyle>a>div {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.titleTextInventory {
	width: 100%;
	height: 45px;
	background-color: #333366;
	line-height: 45px;
}

.titleTextInventory>lable {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
}

.titleTextInventory>i {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 20px;
}

.titleTextReturn {
	width: 100%;
	height: 45px;
	background-color: #CC0000;
	line-height: 45px;
}

.titleTextReturn>lable {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
}

.titleTextReturn>i {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 20px;
}