<ion-view view-title="{{header}}">
	<ion-nav-buttons side="left">
		<button class="button" ng-click="changeState('tab.customer')">
			<i class='icon ion-ios-people'>&nbsp;</i>
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
        <button class="button" ng-click="btcreateOrder()">
			<i class="icon ion-checkmark"></i>
		</button>
    </ion-nav-buttons>
	<ion-content scroll="false">
		<search-input class='search' ng-if="isValidDistance" search="self.search"></search-input>
		<ion-scroll direction="y" class="search-container" ng-if="isValidDistance">
			<ion-refresher
		    pulling-text="{{getLabel('PullToRefresh')}}"
		    on-refresh="initProduct(true)"></ion-refresher>
			<div class='search-list'>
				<ng-include src="'templates/item/product.htm'"></ng-include>
				<ion-infinite-scroll distance="1" on-infinite="loadMoreData()"/>
			</div>
		</ion-scroll>
	</ion-content>
</ion-view>