<ion-view view-title="{{getLabel('ForLeave')}}">
	<ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear" ng-click="$ionicGoBack()" ng-if="back">
            <i class='icon ion-ios-arrow-back'>&nbsp;</i>
        </button>
    </ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button" ng-click="checkBeforeSend()">
			<i class='icon ion-checkmark'>&nbsp;</i>
		</button>
	</ion-nav-buttons>
	<ion-content padding="true">
		<form novalidate form-validation form-validation-parent="self">
			<ion-list>
				<ion-item class='item-select'>
					<label class="asterisk" for="groupName">
						{{getLabel('LeaveType')}}
					</label>
					<select ng-options="type.workingShiftId as type.workingShiftName for type in workingShifts" ng-model="employee.workingShiftId"  class='full-width-input' required></select>
				</ion-item>
				<ion-item class='item-select'>
					<label class='asterisk'>{{getLabel('ReasonLeave')}}</label>
					<select ng-options="reason.emplLeaveReasonTypeId as reason.description for reason in reasons" ng-model="employee.emplLeaveReasonTypeId"  class='full-width-input' required></select>
				</ion-item>
				<ion-item class='item-divider'>
					<i class='fa fa-calendar'></i> {{getLabel('fromDate')}}
				</ion-item>
				<ion-item>
					{{getLabel('Time')}}
					<calendar option="self.fromDate.options" date="self.employee.fromDate" self="self.fromDate.ele" parent="self" class='item-info'></calendar>
				</ion-item>
				<ion-item class='item-select'>
					{{getLabel('WorkingShift')}}
					<select ng-options="type.time as type.description for type in fromDateShift" ng-model="employee.fromDateLeaveTypeId"  class='full-width-input' required></select>
				</ion-item>
				<ion-item class='item-divider'>
					<i class='fa fa-calendar'></i> {{getLabel('thruDate')}}
				</ion-item>
				<ion-item>
					{{getLabel('Time')}}
					<calendar  class='item-info' option="self.thruDate.options" date="self.employee.thruDate" self="self.thruDate.ele" parent="self" class='item-info'></calendar>
				</ion-item>
				<ion-item class='item-select'>
					{{getLabel('WorkingShift')}}
					<select ng-options="type.time as type.description for type in thruDateShift" ng-model="employee.thruDateLeaveTypeId"  class='full-width-input' required></select>
				</ion-item>
				<ion-item class='item-description'>
					<textarea class="form-control area-radius" rows="4" ng-model="employee.description"
					name="description" style="resize: none;"  maxlength="300" placeholder="{{getLabel('Notes')}}"></textarea>
				</ion-item>
			</ion-list>
		</form>
	</ion-content>
</ion-view>