<ion-view view-title="{{getLabel('InformationOpponent')}}">
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear" ng-click="$ionicGoBack()" ng-if="back">
            <i class='icon ion-ios-arrow-back'>&nbsp;</i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="checkConditionBefore()">
            <i class='icon ion-checkmark'>&nbsp;</i>
        </button>
    </ion-nav-buttons>
    <ion-content>
		<form novalidate form-validation form-validation-parent="self" name="opponentform">
	        <ion-list>
	            <ion-item class='item-select'>
	                <span id="party" ng-click="openPopupCreate()">{{getLabel('OpponentName')}} <i class='icon ion-plus-round'>&nbsp;</i></span>
	                <select name="partyId" ng-options="opponent.partyId as opponent.groupName for opponent in opponents" ng-model="opponent.partyId" display="party" required></select>
	            </ion-item>
	            <ion-item class='item-input'>
	                 <textarea name="info" placeholder="{{getLabel('InformationOpponent')}}" rows='2' ng-model="opponent.description" required></textarea>
	            </ion-item>
	            <ion-item class='item-input'>
	                 <textarea placeholder="{{getLabel('OtherInfomartion')}}" rows='2' ng-model="opponent.comment"></textarea>
	            </ion-item>
	            <ion-item class='item-divider item-icon-right'>
	                {{getLabel('Photo')}}
	                <i class='icon ion-camera' ng-click="takePicture()"></i>
	            </ion-item>
	            <ion-item>
	                <camera path="self.marking.url" self="self.camera"></camera>
	            </ion-item>
	        </ion-list>
        </form>
    </ion-content>
</ion-view>
