<ion-view view-title="{{getLabel('OrderHistory')}}">
	<ion-nav-buttons side="left">
		<button class="button back-button buttons button-clear" ng-click="$ionicGoBack()" ng-if="back">
			<i class='icon ion-ios-arrow-back'>&nbsp;</i>
		</button>
	</ion-nav-buttons>
	<ion-content>
		<ion-refresher pulling-text="{{getLabel('PullToRefresh')}}" on-refresh="getOrderDetail()"></ion-refresher>
		<ion-list>
			<ion-item class='item-icon-left item-divider'>
				<i class='icon ion-ios-information-outline positive'></i>
				{{getLabel('GeneralInformation')}}
			</ion-item>
			<ion-item>
				{{getLabel('OrderId')}}
				<span class="item-info">{{orderHeader.orderId}}</span>
			</ion-item>
			<ion-item>
				{{getLabel('OrderDate')}}
				<span class="item-info">{{getLabel(orderHeader.orderDate.formattedDate)}}</span>
			</ion-item>
			<ion-item>
				{{getLabel('StatusOrder')}}
				<span class="item-info">{{getLabel(orderHeader.statusId)}}</span>
			</ion-item>
			<ion-item>
				{{getLabel('Recipient')}}
				<span class="item-info">{{party.groupName}}</span>
			</ion-item>
			<ion-item class='item-text-wrap'>
				<p class='item-row margin-bottom-10'>{{getLabel('Address')}}</p>
				<p class='item-row description'><i class='fa fa-map-marker'></i> {{orderShipment.address1}}<span ng-if="orderShipment.districtGeoName">, {{orderShipment.districtGeoName}}<span ng-if="orderShipment.city">, {{orderShipment.city}}<span></p>
			</ion-item>
			<ion-item class='item-icon-left item-divider'>
				<i class='icon ion-ios-cart assertive'></i>{{getLabel('Cart')}}
			</ion-item>
		</ion-list>
		<div ng-include="'templates/item/cartitem.htm'"></div>
	</ion-content>
</ion-view>