<ion-view view-title="{{getLabel('PromotionInformation')}}">
	<ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear" ng-click="$ionicGoBack()" ng-if="back">
            <i class='icon ion-ios-arrow-back'>&nbsp;</i>
        </button>
<!--         <button class="button buttons button-clear" ng-click="changeState('tab.setting')">
            <i class='icon ion-ios-home'>&nbsp;</i>
        </button> -->
    </ion-nav-buttons>
	<ion-content padding="true">
		<ion-list can-swipe="enableSwipe">
			<a class='item item-icon-left' href="#/promotion/event/{{obj.productPromoTypeId}}" ng-repeat="obj in promotionTypes track by $index ">
				<i class="icon icon-circle-middle fa fa-tag"></i>&nbsp;{{getLabel(obj.productPromoTypeId)}}
			</a>
			<a class='item item-icon-left' href="#/promotion/event/ORDER_PROMOS">
				<i class="icon icon-circle-middle fa fa-shopping-cart assertive"></i>&nbsp;{{getLabel('OrderPromotion')}}
			</a>
		</ion-list>
	</ion-content>
</ion-view>