<ion-view view-title="{{getLabel('RegisterPromotion')}}">
	<ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear" ng-click="$ionicGoBack()" ng-if="back">
            <i class='icon ion-ios-arrow-back'>&nbsp;</i>
        </button>
        <button class="button buttons button-clear" ng-click="changeState('tab.setting')">
            <i class='icon ion-ios-home'>&nbsp;</i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="buildConfirm(getLabel('Notification'), getLabel('ConfirmRegisterPromotion'), sendRegistration)">
            <i class='icon ion-checkmark'>&nbsp;</i>
        </button>
    </ion-nav-buttons>
    <ion-content padding="true">
        <ion-list>
            <ion-item class='item-divider'>
                {{getLabel('GeneralInformation')}}
            </ion-item>
            <ion-item class='item-select'>
                {{getLabel('Customer')}}
                <select ng-options="customer.partyIdTo as customer.groupName for customer in customers.content" ng-model="registration.partyId"></select>
            </ion-item>
            <ion-item class='item-select' ng-if="!productPromoId">
                <div class='input-label'>
                    {{getLabel('PromotionProgram')}}
                </div>
                <select ng-options="promos.productPromoId as promos.promoName for promos in promotions" ng-model="registration.productPromoId"></select>
            </ion-item>
            <ion-item class='item' ng-if="productPromoId">
                {{getLabel('PromotionProgram')}}
                <span class='item-info'>
			{{promotion.info.promoName}}
                </span>
            </ion-item>
            <ion-item class='item-divider'>
                {{getLabel('ApplicationRule')}}
            </ion-item>
            <ion-radio ng-model="registration.productPromoRuleId" ng-repeat="rule in promotion.rules" ng-value="rule.productPromoRuleId">
		{{rule.ruleName}}
            </ion-radio>
        </ion-list>
    </ion-content>
</ion-view>
