<ion-view view-title="{{getLabel('PromotionInformation')}}">
	<ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear" ng-click="$ionicGoBack()" ng-if="back">
            <i class='icon ion-ios-arrow-back'>&nbsp;</i>
        </button>
        <button class="button buttons button-clear" ng-click="changeState('tab.setting')">
            <i class='icon ion-ios-home'>&nbsp;</i>
        </button>
    </ion-nav-buttons>
	<ion-content>
		<ion-refresher pulling-text="{{getLabel('PullToRefresh')}}" on-refresh="getPromotions(productPromoTypeId, store.productStoreId, true)"></ion-refresher>
		<ion-list>
			<a class='item' href="#/promotion/detail?id={{obj.productPromoId}}&type={{productPromoTypeId}}" ng-repeat="obj in promotions track by $index ">
				{{obj.promoName}}
			</a>
		</ion-list>
		<p class='text-center' ng-if="!promotions.length">
			{{getLabel('PromotionEmpty')}}
		</p>
	</ion-content>
</ion-view>