<ion-view view-title="{{getLabel('PromotionInformation')}}">
	<ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear" ng-click="$ionicGoBack()" ng-if="back">
            <i class='icon ion-ios-arrow-back'>&nbsp;</i>
        </button>
        <button class="button buttons button-clear" ng-click="changeState('tab.setting')">
            <i class='icon ion-ios-home'>&nbsp;</i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button buttons button-clear" ng-click="changeState('promotionregistration', {productPromoId : productPromoId})" ng-if="showAddition">
			<i class="icon ion-plus"></i>
		</button>
    </ion-nav-buttons>
	<ion-content>
		<ion-refresher pulling-text="{{getLabel('PullToRefresh')}}" on-refresh="initData(true)"></ion-refresher>
		<ion-item class='item-divider'>
			{{getLabel('GeneralInformation')}}
		</ion-item>
		<ion-item class='item'>
			{{getLabel('PromoId')}}
			<span class='item-info'> {{promotion.info.productPromoId}} </span>
		</ion-item>
		<ion-item class='item'>
			{{getLabel('PromoName')}}
			<span class='item-info'> {{promotion.info.promoName}} </span>
		</ion-item>
		<ion-item class='item'>
			{{getLabel('fromDate')}}
			<span class='item-info'> {{formatDateDMY(promotion.info.fromDate)}} </span>
		</ion-item>
		<ion-item class='item'>
			{{getLabel('thruDate')}}
			<span class='item-info'> {{formatDateDMY(promotion.info.thruDate)}} </span>
		</ion-item>
		<ion-item class='item'>
			{{getLabel('Distributor')}}
			<span class='item-info'> <span ng-repeat ="obj in promotion.stores track by $index"> <span ng-if="$index != 0">,&nbsp;</span>{{obj.storeName}} </span> </span>
		</ion-item>
		<ion-item class='item-divider'>
			{{getLabel('ApplicationRule')}}
		</ion-item>
		<ion-item class='item' ng-repeat ="obj in promotion.rules">
			{{obj.ruleName}}
		</ion-item>
	</ion-content>
</ion-view>
