<form class="form-horizontal order-statistic" id="customerInfo" novalidate form-validation form-validation-parent="self">
	<div class="form-group">
		<label class="col-sm-4 col-xs-4 control-label no-padding-right">
			<span class='pull-right asterisk'>{{LanguageFactory.getLabel('CustomerNameShort')}}</span>
		</label>
		<div class="col-sm-8 col-xs-8">
			<input class="full-width-input" type="text" ng-model="customer.customerName" name="customerName"
			placeholder="{{LanguageFactory.getLabel('CustomerName')}}" required>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 col-xs-4 control-label no-padding-right">
			<span class='pull-right'>{{LanguageFactory.getLabel('OfficeSiteName')}}</span>
		</label>
		<div class="col-sm-8 col-xs-8">
			<input class="full-width-input" type="text" ng-model="customer.officeSiteName" name="officeSiteName"
			placeholder="{{LanguageFactory.getLabel('OfficeSiteName')}}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 col-xs-4 control-label no-padding-right" for="mobile">
			<span class='asterisk pull-right'>{{LanguageFactory.getLabel('PhoneNumber')}}</span>
		</label>
		<div class="col-sm-8 col-xs-8">
			<input class="full-width-input" type="number" ng-model="customer.phone" name="phone"
				placeholder="{{LanguageFactory.getLabel('PhoneNumber')}}" required rule="phone">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 col-xs-4 control-label no-padding-right" for="sex"> <span class='pull-right'>{{LanguageFactory.getLabel('Sex')}}</span></label>
		<div class="col-sm-8 col-xs-8">
			<div class='marking-item'>
				<input type="radio" id="male" name="gender" ng-model="customer.gender" value="M"/>
				<label for="male">{{LanguageFactory.getLabel('Male')}}</label>
			</div>
			<div class='marking-item'>
				<input type="radio" id="female" name="gender" ng-model="customer.gender" value="F"/>
				<label for="female">{{LanguageFactory.getLabel('Female')}}</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 col-xs-4 control-label no-padding-right"> <span class='pull-right'>{{LanguageFactory.getLabel('BirthDay')}}</span></label>
		<div class="col-sm-8 col-xs-8">
			<input class="full-width-input" type="date" ng-model="customer.birthDay" name="birthDay" ng-max="{{getCurrentDateYMD()}}" max="{{getCurrentDateYMD()}}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 col-xs-4 control-label no-padding-right"> <span class='pull-right'>{{LanguageFactory.getLabel('StartDate')}}</span></label>
		<div class="col-sm-8 col-xs-8">
			<input class="full-width-input" type="date" ng-model="customer.startDate" name="startDate"  ng-min="{{getCurrentDateYMD()}}" min="{{getCurrentDateYMD()}}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 col-xs-4 control-label no-padding-right" for="roadId">
			<span class='pull-right asterisk'>{{LanguageFactory.getLabel('RoadId')}}</span>
		</label>
		<div class="col-sm-8 col-xs-8">
			<select class='full-width-input' ng-options="route.routeId as route.groupName for route in routes" ng-model="customer.routeId" required></select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 col-xs-4 control-label no-padding-right">
			<span class='asterisk pull-right'>{{LanguageFactory.getLabel('Address')}}</span>
		</label>
		<div class="col-sm-8 col-xs-8">
			<input class="full-width-input" type="text" ng-model="customer.address"
			placeholder="{{LanguageFactory.getLabel('SearchMapToFill')}}" rule="validateAddress" name="address" disabled>
		</div>
	</div>
</form>
<googlemap store="store" marker="marker" height="googlemap.height" options="googlemap.options" map="googlemap.element" current="googlemap.scope" gmap="googlemap.scope"></googlemap>
<div class="margin-top-10">
	<camera path="customer.url"></camera>
</div>
<hr />
<div class="bottom-action">
	<div class="right">
		<button class="btn btn-app btn-primary" ng-click="sendRegistration()">
			<i class="ace-icon fa fa-send"></i> {{LanguageFactory.getLabel('CreateNew')}}
		</button>
		<button ng-click="reloadState()" class="btn btn-app btn-purple">
			<i class="ace-icon fa fa-book"></i> {{LanguageFactory.getLabel('Cancel')}}
		</button>
	</div>
</div>