<div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div class="widget-box">
            <div class="widget-header">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<h5><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;<span class="default-color">{{LanguageFactory.getLabel('SyntheticOrders')}}</span></h5>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 widget-toolbar no-border">
						<div class="right">
							<button class="btn btn-minier btn-primary dropdown-toggle" id='time_select' data-toggle="dropdown">
								<i class="glyphicon glyphicon-calendar"></i>&nbsp;{{LanguageFactory.getLabel('Thisweek')}}&nbsp;
								<i class="glyphicon glyphicon-chevron-down"></i>
							</button>
							<ul class="right-dropdown dropdown-menu dropdown-info pull-right dropdown-caret">
								<li id='thisWeek' class="active">
									<a href="javascript:void(0)" ng-click="updateOrderInfo('thisWeek')">{{LanguageFactory.getLabel('Thisweek')}}</a>
								</li>
								<li id="thisMonth">
									<a href="javascript:void(0)" ng-click="updateOrderInfo('thisMonth')">{{LanguageFactory.getLabel('Thismonth')}}</a>
								</li>
								<li id='lastMonth'>
									<a href="javascript:void(0)" ng-click="updateOrderInfo('lastMonth')">{{LanguageFactory.getLabel('Lastmonth')}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
				 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9 default-color">
					{{LanguageFactory.getLabel('TotalOrder')}} :
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
					<b>{{reportOrder.totalOrder}}</b>
				</div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9 default-color">
					{{LanguageFactory.getLabel('TotalUnpaidOrders')}}:
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
					<b>{{reportOrder.totalOrderNotPayment}}</b>
				</div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9 default-color">
					{{LanguageFactory.getLabel('TotalPaymentOrders')}}:
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
					<b>{{reportOrder.totalOrderPayment}}</b>
				</div>
                        </div>
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9 default-color">
					{{LanguageFactory.getLabel('TotalAmount')}} :
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
					<b>{{reportOrder.grandTotal | currency}}</b>
				</div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-9 default-color">
				{{LanguageFactory.getLabel('TotalAmountUnpaid')}}:
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
				<b>{{reportOrder.remainingSubTotal | currency}}</b>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-9 default-color">
				{{LanguageFactory.getLabel('TotalAmountPaid')}}:
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
				<b>{{reportOrder.TotalAmountPaid | currency}}</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" >
        <div class="widget-box">
            <div class="widget-header">
                <h5><i class="glyphicon glyphicon glyphicon-user"></i>&nbsp;<span class="default-color">{{LanguageFactory.getLabel('CustomersInformation')}}</span></h5>
            </div>
            <div class="widget-body">
		<div class="widget-main">
			     <div class="default-color">
					<span class="default-color">{{LanguageFactory.getLabel('CustomerName')}}</span>:&nbsp;<span class="default-color"><b class="default-color">{{customer.groupName}}</b></span>
					<input ng-show ="isChange" name="customerName" type="text" id="customerName" ng-model="groupName" />
					<button ng-click="submitCustomerName()" class="btn btn-minier" ng-show="isChange"><i class=" glyphicon glyphicon-check"></i>&nbsp;Change</button>
					<button ng-click="changeCustomerName()" class="btn btn-minier" ng-show="!isChange"><i class=" glyphicon glyphicon-edit"></i>&nbsp;{{LanguageFactory.getLabel('Edit')}}</button>

			              </div>
			              <div class="default-color">
					<span class="default-color">{{LanguageFactory.getLabel('DeliveryAddress')}}:&nbsp;</span  class="default-color"><b class="default-color">{{customer.address1}} <span class="default-color" ng-if="customer.city">, {{customer.city}}</b></span>
					<button  ng-click = "updateLocationCustomer()"><i class="glyphicon glyphicon-check"></i>&nbsp;{{LanguageFactory.getLabel('UpdateLocation')}}</button>
		               </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 customer-maps">
		<googlemap store="store" marker="marker"></googlemap>
	</div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 30px;">
        <div class="widget-box">
            <div class="widget-header">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<h5><i class="glyphicon glyphicon-gift"></i>&nbsp;<span id="viewCustomerInfo_numberProductOrdered"
							  class="viewCustomerInfo_numberProductOrdered">{{LanguageFactory.getLabel('ProductOrder')}}</span></h5>
				    </div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 widget-toolbar no-border">
						<div class="right">
							<button class="btn btn-minier btn-primary dropdown-toggle" id='time_select' data-toggle="dropdown">
								<i class="glyphicon glyphicon-calendar"></i>&nbsp;Tuần này&nbsp;
								<i class="glyphicon glyphicon-chevron-down"></i>
							</button>
							<ul class="right-dropdown dropdown-menu dropdown-info pull-right dropdown-caret">
								<li id='thisWeek' class="active">
									<a href="javascript:void(0)" ng-click="updateOrderInfo('thisWeek')">{{LanguageFactory.getLabel('Thisweek')}}</a>
								</li>
								<li id="thisMonth">
									<a href="javascript:void(0)" ng-click="updateOrderInfo('thisMonth')">{{LanguageFactory.getLabel('Thismonth')}}</a>
								</li>
								<li id='lastMonth'>
									<a href="javascript:void(0)" ng-click="updateOrderInfo('lastMonth')">{{LanguageFactory.getLabel('Lastmonth')}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
            </div>
            <div class="widget-body">
                <div class="widget-main no-padding">
                    <table id="table_product" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th><i class="icon-caret-right blue"></i>{{LanguageFactory.getLabel('ProductId')}}</th>
                                <th><i class="icon-caret-right blue"></i><span id="viewCustomerInfo_productName" class="viewCustomerInfo_productName">{{LanguageFactory.getLabel('ProductName')}}</span></th>
                                <th><i class="icon-caret-right blue"></i><span id="viewCustomerInfo_productQty" class="viewCustomerInfo_productQty">{{LanguageFactory.getLabel('Quantity')}}</span></th>
                            </tr>
                        </thead>
                        <tbody >
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>