<uib-tabset>
	<uib-tab>
		<uib-tab-heading>
			<i class="fa fa-users"></i>&nbsp;{{LanguageFactory.getLabel('CommentCustomers')}}
		</uib-tab-heading>
		<form class="form-horizontal" id="InfoCustomerForm">
			<div class="form-group">
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<label class="control-label bolder blue">{{LanguageFactory.getLabel('CustomerName')}}</label>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12" >
					<select ng-options="obj.partyIdTo as obj.groupName for obj in customers" ng-model="self.customer.customerId" class='full-width-input'></select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<label class="control-label bolder blue">{{LanguageFactory.getLabel('Comment')}}</label>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
					<textarea ng-model="self.customer.comment" placeholder="{{LanguageFactory.getLabel('CommentCustomers')}}..."
						class='full-width-input area-radius' rows="3"></textarea>
				</div>
			</div>
		</form>
		<div class="form-actions" style="margin: 0">
			<div class="right">
				<button class="btn btn-app btn-primary" ng-click="submitFbCustomer()">
					<i class="ace-icon fa fa-send"></i> {{LanguageFactory.getLabel('Send')}}
				</button>
				<button ng-click="resetForm('InfoCustomerForm')" class="btn btn-app btn-purple">
					<i class="ace-icon fa fa-book"></i> {{LanguageFactory.getLabel('Cancel')}}
				</button>
			</div>
		</div>
	</uib-tab>
	<uib-tab>
		<uib-tab-heading>
			<i class="fa fa-info-circle"></i>&nbsp;{{LanguageFactory.getLabel('InformationOpponent')}}
		</uib-tab-heading>
		<form class="form-horizontal" id="FormOpponent">
			<div class="form-group">
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<label class="control-label bolder blue">{{LanguageFactory.getLabel('OpponentName')}}</label>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
					<select ng-options="obj.partyId as obj.groupName for obj in opponents" ng-model="self.opponent.partyId" class='full-width-input'></select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<label class="control-label bolder blue">{{LanguageFactory.getLabel('PromosOfOpponent')}}</label>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12" >
					<textarea  ng-model="self.opponent.description" id="form-field-11" placeholder="{{LanguageFactory.getLabel('PromosOfOpponent')}}..." class="full-width-input area-radius"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<label class="control-label bolder blue">{{LanguageFactory.getLabel('OtherInfomartion')}}</label>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12" >
					<textarea ng-model="self.opponent.comment" placeholder="{{LanguageFactory.getLabel('OtherInfomartion')}}..."
						class="full-width-input area-radius" row="3"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<label class="control-label bolder blue">{{LanguageFactory.getLabel('PicOpponent')}}</label>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" >
					<camera path="self.opponent.image" image="self.image" parent="self"></camera>
				</div>
			</div>
		</form>
		<div class="form-actions" style="margin: 0">
			<div class="right">
				<button class="btn btn-app btn-primary" ng-click="self.submitInfoOpponent()">
					<i class="ace-icon fa fa-send"></i> {{LanguageFactory.getLabel('Send')}}
				</button>
				<button ng-click="self.resetForm('FormOpponent')" class="btn btn-app btn-purple">
					<i class="ace-icon fa fa-book"></i> {{LanguageFactory.getLabel('Cancel')}}
				</button>
			</div>
		</div>
	</uib-tab>
</uib-tabset>
