<div class="row-fluid">
    <div class="span7">
        <div class="widget-box">
            <div class="widget-header">
                <h4>Vị trí hiện tại NVBH</h4>
            </div>
            <div class="widget-body">
                <div id="map_canvas"></div>
                <div id="warnings_panel"
                     style="width: 100%; height: 10%; text-align: center"></div>
            </div>
        </div>
    </div>
    <div class="vspace-8"></div>
    <div class="span5">
        <div class="widget-box">
            <div class="widget-header">
                <h4>Quản lý vị trí NVBH</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main no-padding">
                    <div class="row-fluid">
                        <div class="space-8"></div>
                        <form class="form-horizontal">
                            <!-- <legend>Form</legend> -->
                            <div class="control-group">
                                <label class="control-label" for="maNV">Mã NVBH</label>
                                <div class="controls">
                                    <input type="text" id="maNV" placeholder="Ten NVBH">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="id-date-picker-1">Ngày</label>
                                <div class="controls">
                                    <div class="input-append date">
                                        <input class="span12 date-picker" id="id-date-picker-1"
                                               type="text" data-date-format="dd-mm-yyyy" /> <span
                                               class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>