<div ng-if="isValidDistance">
	<search-input class='block'></search-input>
	<div class="row" auto-height-scrollable>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 products">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th class="center default-color">{{LanguageFactory.getLabel('ProductName')}}</th>
						<th class="center default-color">{{LanguageFactory.getLabel('QuantityShort')}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="product in currentInventory | filter:search" >
						<td class="default-color">{{product.productName}} ({{ product.orderDate}})</td>
						<td class="default-color">
							<input type="number" name="input" class="number" placeholder="0" id="quantity{{product.productId}}" ng-model="product.qtyInInventory" min="0" max="{{product.max}}" required>
						</td>
					</tr>
				</tbody>
			</table>
			<div ng-if="!currentInventory.length">
				<center>
					<b class="red">{{LanguageFactory.getLabel('NoInventoryStore')}}</b>
				</center>
			</div>
		</div>
	</div>
	<div class="bottom-action">
		<div class="right">
			<button class="btn btn-app btn-purple"
			ng-click="createOrder()" ng-if="isInventory">
				<i class="glyphicon glyphicon-shopping-cart"></i> {{LanguageFactory.getLabel('CreateOrder')}}
			</button>
			<button class="btn btn-app btn-primary"
			ng-click="checkInventory()" ng-if="currentInventory.length">
				<i class="fa fa-send"></i> {{LanguageFactory.getLabel('SendInventory')}}
			</button>
		</div>
	</div>

</div>
<div ng-if="!isValidDistance">
	<center>
		<b class="red">{{LanguageFactory.getLabel('ConditionCreateOrder')}}<span
		class="blue">{{LanguageFactory.getLabel('reload')}}</span> </b>
		<hr />
		<button ng-click="reloadDistance()" class="btn btn-app btn btn-primary">
			<i class="fa fa-map-marker"></i>
			{{LanguageFactory.getLabel('reload')}}
		</button>
		<button ng-click="editLocation()" class="btn btn-app btn btn-purple">
			<i class="fa fa-refresh"></i>
			{{LanguageFactory.getLabel('EditLocation')}}
		</button>
	</center>
</div>