<div class="row margin-bottom-10" id="control-map" ng-if="isControl">
	<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
		<label class="control-label blue" for="road"> <span
			id="createOrderAdvance_road">{{LanguageFactory.getLabel('SelectRoad')}}</span> </label>
	</div>
	<div class="col-lg-10 col-md-9 col-sm-9 col-xs-6">
		<div class="controls">
			<select class="form-control" ng-model="customer.roadId"
			ng-options="option.roadId as option.name for option in customers.road" >
				<option value="" ng-if="false"></option>
				<option value="all">{{LanguageFactory.getLabel('All')}}</option>
			</select>
		</div>
	</div>
</div>
<div id="content">
	<googlemap marker="marker" height="height" gmap="gmap"></googlemap>
</div>

<div class='bottom-action'>
	<button class='btn-action-primary' ng-click="saveLocation()"><i class='fa fa-check'></i>&nbsp;{{LanguageFactory.getLabel('SaveLocation')}}</button>
</div>