<div class="fullscreen">
	<div class="login-form-container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="center">
					<img src="assets/images/logo_olbius_white.png" alt=""
						class="login-logo" />
				</div>
				<div id="login-form" ng-include="'templates/item/loginForm.htm'"></div>
			</div>
		</div>
	</div>
	<div class="forgot-password">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<a href="javascript:void(0)" ng-click="changeState(1)"
					class="forgot-password-link"><i class='fa fa-key white'></i>&nbsp;{{LanguageFactory.getLabel('ForgotPassword')}}</a>
			</div>
		</div>
	</div>

</div>
