<div class="row">
	<div class="col-xs-12" id="mainAction">
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/store" class="btn btn-salesman btn-order">
			<div
			class="btn-inside">
				<div class="btn-inside-content">
					<i class="ace-icon fa fa-user bigger-300"></i>
					<br>
					<div class="text">
						{{LanguageFactory.getLabel('Store')}}
					</div>
				</div>
			</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/customer/create" class="btn btn-salesman btn-calendar">
			<div
			class="btn-inside">
				<div class="btn-inside-content">
					<i class="ace-icon fa fa-user-plus bigger-300"></i>
					<br>
					<div class="text">
						{{LanguageFactory.getLabel('CreateCustomer')}}
					</div>
				</div>
			</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/order/false" class="btn btn-salesman btn-order">
			<div
			class="btn-inside">
				<div class="btn-inside-content">
					<i class="ace-icon fa fa-list-alt bigger-300"></i>
					<br>
					<div class="text">
						{{LanguageFactory.getLabel('Orders')}}
					</div>
				</div>
			</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/product" class="btn btn-salesman btn-apple">
			<div
			class="btn-inside">
				<div class="btn-inside-content">
					<i class="ace-icon fa fa-truck bigger-300"></i>
					<br>
					<div class="text">
						{{LanguageFactory.getLabel('Products')}}
					</div>
				</div>
			</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/sale" class="btn btn-salesman btn-promotion">
			<div
			class="btn-inside">
				<div class="btn-inside-content">
					<i class="ace-icon fa fa-tag bigger-300"></i>
					<br>
					<div class="text">
						{{LanguageFactory.getLabel('Promotions')}}
					</div>
				</div>
			</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/customer-opinion" class="btn btn-salesman btn-sendinfo">
			<div
			class="btn-inside">
				<div class="btn-inside-content">
					<i class="ace-icon fa fa-envelope bigger-300"></i>
					<br>
					<div class="text">
						{{LanguageFactory.getLabel('SendInfomartion')}}
					</div>
				</div>
			</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/dashboard" class="btn btn-salesman btn-dashboard">
			<div
			class="btn-inside">
				<div class="btn-inside-content">
					<i class="ace-icon fa fa-dashboard bigger-300"></i>
					<br>
					<div class="text">
						{{LanguageFactory.getLabel('Dashboard')}}
					</div>
				</div>
			</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/employee-leave" class="btn btn-salesman btn-nppinfo">
			<div
			class="btn-inside">
				<div class="btn-inside-content">
					<i class="ace-icon fa fa-fighter-jet bigger-300"></i>
					<br>
					<div class="text">
						{{LanguageFactory.getLabel('ForLeave')}}
					</div>
				</div>
			</div></a>
		</div>
	</div>
</div>
