<div class="order-statistic">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
			<select ng-options="obj.partyIdTo as obj.groupName for obj in listCustomer.content" ng-model="customerId" class='full-width-input'></select>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
			<select ng-options="obj.value as obj.text for obj in timeViewOrder" ng-model="time"  class='full-width-input'></select>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
			<button class='btn btn-app btn-primary' ng-click="loadData()">
				{{LanguageFactory.getLabel('LoadData')}}
			</button>
		</div>
	</div>
</div>
<div class="order-statistic" ng-if="customerId != 'ALL'">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-7">
			<b class="default-color">{{LanguageFactory.getLabel('TotalOrder')}} </b>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-7 col-xs-5">
			<div style="display : inline;">
				<b>{{listOrder.totalOrder}}</b>
			</div>
			&nbsp;
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-7">
			<b class="default-color">{{LanguageFactory.getLabel('TotalNewOrder')}} </b>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-7 col-xs-5">
			<b>{{listOrder.orderCreated}}</b>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-7">
			<b class="default-color">{{LanguageFactory.getLabel('TotalOrderTransform')}} </b>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-7 col-xs-5">
			<b>{{listOrder.orderApproved}}</b>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-7">
			<b class="default-color">{{LanguageFactory.getLabel('TotalCancelOrder')}} </b>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-7 col-xs-5">
			<b>{{listOrder.orderCancelled}}</b>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-7">
			<b class="default-color">{{LanguageFactory.getLabel('TotalOrderCompleted')}} </b>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-7 col-xs-5">
			<b>{{listOrder.orderCompleted}}</b>
		</div>
	</div>
</div>
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th class="center default-color">{{LanguageFactory.getLabel('OrderId')}}</th>
			<th class="center default-color" ng-if="customerId == 'ALL' ">{{LanguageFactory.getLabel('CustomerName')}}</th>
			<th class="center default-color">{{LanguageFactory.getLabel('Amount')}}</th>
			<th class="center default-color">{{LanguageFactory.getLabel('Status')}}</th>
			<th class="center default-color">{{LanguageFactory.getLabel('OrderDate')}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="order in listOrder.content | filter:search" ng-click="onSelectRow(order.orderId)">
			<td class="default-color">{{order.orderId}}</td>
			<td class="default-color" ng-if="customerId == 'ALL'">{{order.groupName}}</td>
			<td class="default-color">{{FormatNumberBy3(order.grandTotal)}}</td>
			<td class="default-color">{{LanguageFactory.getLabel(order.statusId)}}</td>
			<td class="default-color">{{order.orderDate}}</td>
		</tr>
	</tbody>
</table>

<div id="bottom" class="center" ng-if="loading">
	<i class="fa fa-refresh" id="refresh"></i>
	<span class="default-color">Đang load thêm dữ liệu</span>
</div>
