<div class="tabbable" data-jtabs id="tabs">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a data-toggle="tab" href="#home">
                <i class="green icon-home bigger-110"></i>
                Sự kiện mới
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#newProduct" ng-click="getNewProduct()">Sản phẩm mới
                <span class="badge badge-important" id="numberNewProduct">0</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active" id="home">
            <ul id="tasks" class="item-list">
                <li ng-repeat="event in newEvent" class='item-blue'>
                    <span class='label label-large label-purple arrowed-in'>New</span>
                    {{event.name}}
                </li>
                <li ng-if="!neweEvent.length" class='item-blue'>Không có sự kiện mới</li>
            </ul>
        </div>
        <div id="newProduct" class="tab-pane">
            <ul id="tasks" class="item-list">
                <li ng-repeat="product in newProduct" class='item-blue'>
                    <span class='label label-large label-purple arrowed-in'>New</span>
                    {{product.productName}}  - <b>Ngày phát hành</b>: {{ product.releaseDate}}
                </li>
                <li ng-if="!newProduct.length" class='item-blue'>Không có sản phẩm nào mới</li>
            </ul>
        </div>
    </div>
</div>