<div ng-if="listPromotions" ng-repeat="pro in listPromotions">
<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
	    <div class="widget-header widget-header-flat widget-header-small btn-default">
			<span class="white-color" style="font-size : 18px;"><i class="glyphicon glyphicon-star white-color">&nbsp;</i>
			{{pro.promoName}}</span>
	    </div>
	    <div class="widget-body col-md-12 col-xs-12">
	        <div class="widget-main">
			<div class="col-xs-12 col-md-12">
				<b><i class="glyphicon glyphicon-list-alt"></i>&nbsp;{{LanguageFactory.getLabel('PromotionDetail')}}:</b>
			</div>
			<div class="col-md-12 col-xs-12">
				{{pro.promoName}}
			</div>
			<div class="col-md-12 col-xs-12">
				{{LanguageFactory.getLabel('TimeforPromotions')}} : {{LanguageFactory.getLabel('From')}} <i>{{pro.fromDate}}</i> {{LanguageFactory.getLabel('To')}} <i ng-show="listPromotions.thruDate">{{pro.thruDate}}</i><i ng-show="!listPromotions.thruDate">{{LanguageFactory.getLabel('NoTimeLimit')}}</i>
			</div>
	        </div>
		 </div>
    </div>
<br></br>
<hr>
</div>
<div ng-if="!listPromotions" class="col-md-12 col-xs-12 col-lg-12 col-sm-12" >
	 <div class="widget-header widget-header-flat widget-header-small btn-default">
			<span class="fa fa-info-circle">&nbsp;LanguageFactory.getLabel('Notification')</span>
	    </div>
	    <div class="widget-body col-md-12 col-xs-12">
	        <div class="widget-main">
			<span style= "color :red;" class="center"> LanguageFactory.getLabel('NotificationNoPromotions').</span>
	        </div>
		 </div>
</div>