<uib-tabset>
	<uib-tab>
		<uib-tab-heading>
			<i class="ace-icon fa fa-info"></i>&nbsp;{{LanguageFactory.getLabel('Information')}}
		</uib-tab-heading>
		<div class="user-profile" id="userProfile">
			<form form-validation form-validation-parent="self" name="ProfileForm">
				<button ng-click="self.checkEdit()" class="editSalesMan">
					<i class="ace-icon fa fa-edit"></i>
				</button>
				<div class="center">
					<div class="profile-picture">
						<loading id="self.camera.loading" parent="self"></loading>
						<img class="avatar" src="assets/avatars/avatar.png" ng-show="!self.account.avatar"/>
						<img class="avatar" ng-src="{{self.account.avatar}}" ng-show="self.account.avatar" id="avatar"/>
					</div>
					<camera options="self.camera.options" image="self.camera.image" path="self.account.avatar" ng-show="self.editable" loading="self[self.camera.loading]"></camera>
					<div ng-show="!self.editable">
						{{account.fullName}}
					</div>
					<input ng-show="self.editable" ng-model="self.account.fullName" name="name" class='full-width-input margin-top-10 center' required/>
				</div>
				<h5><i class="ace-icon fa fa-home">&nbsp;</i> {{LanguageFactory.getLabel('Address')}} </h5>
				<div ng-show="!self.editable" class="editable-info">
					{{account.address1}}<span ng-show="self.account.district">, </span> {{account.district}}<span ng-show="self.account.city">, </span>{{account.city}}
				</div>
				<div class='row' ng-show="self.editable">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding-right">
						<select ng-options="obj.geoId as obj.geoName for obj in self.provinces" ng-model="self.account.stateProvinceGeoId" class='full-width-input'></select>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding-right">
						<select ng-options="obj.geoId as obj.geoName for obj in self.districts" ng-model="self.account.districtGeoId" class='full-width-input'></select>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<input ng-model="self.account.address1" class='full-width-input'/>
					</div>
				</div>
				<h5><i class="ace-icon fa fa-phone">&nbsp;</i> {{LanguageFactory.getLabel('PhoneNumber')}} </h5>
				<div ng-show="!self.editable" class="editable-info">
					{{account.contactNumber}}
				</div>
				<input ng-model="self.account.contactNumber" class='full-width-input' name="phone" ng-show="self.editable" rule="phone"/>
				<h5><i class="ace-icon fa fa-envelope">&nbsp;</i> {{LanguageFactory.getLabel('Email')}} </h5>
				<div ng-show="!self.editable" class="editable-info">
					{{account.email}}
				</div>
				<input ng-model="self.account.email" class='full-width-input' ng-show="self.editable" name="email"  rule="email"/>
				<h5><i class="c-icon fa fa-clock-o"></i> {{LanguageFactory.getLabel('Accession')}} </h5>
				<div class="editable-info">
					{{account.startDate}}
				</div>
				<h5><i class="ace-icon fa fa-repeat"></i> &nbsp;{{LanguageFactory.getLabel('LastUpdate')}} </h5>
				<div class="editable-info">
					{{account.lastUpdatedTxStamp}}
				</div>
		</div>
		<div ng-show="self.editable" class="form-actions" style="margin: 0">
			<div class="right">
				<button class="btn btn-app btn-primary" ng-click="self.updateProfile()">
					<i class="ace-icon fa fa-send"></i> {{LanguageFactory.getLabel('Send')}}
				</button>
				<button ng-click="self.resetForm('userProfile')" class="btn btn-app btn-purple">
					<i class="ace-icon fa fa-book"></i> {{LanguageFactory.getLabel('Cancel')}}
				</button>
			</div>
		</div>
		</div>
	</uib-tab>
	<uib-tab>
		<uib-tab-heading>
			<i class="fa fa-lock light-green"></i>&nbsp;{{LanguageFactory.getLabel('changePassword')}}
		</uib-tab-heading>
		<div id="updatePasswordForm">
			<form form-validation form-validation-parent="self" name="PasswordForm">
				<input type="password" name="currentPassword" required ng-model="self.password.currentPassword" class="full-width-input margin-bottom-10" placeholder="{{LanguageFactory.getLabel('PasswordCurrent')}}"/>
				<input type="password" name="newPassword" required ng-model="self.password.newPassword" class="full-width-input margin-bottom-10" placeholder="{{LanguageFactory.getLabel('NewPassword')}}"/>
				<input type="password" name="passwordVerify" required ng-model="self.password.passwordVerify" class="full-width-input margin-bottom-10" placeholder="{{LanguageFactory.getLabel('ConfirmPassword')}}"/>
				<div class="form-actions action-normal">
					<div class="right">
						<button class="btn btn-app btn-primary" ng-click="self.updatePassword()">
							<i class="ace-icon fa fa-send"></i> {{LanguageFactory.getLabel('Send')}}
						</button>
						<button ng-click="self.resetForm('updatePasswordForm')" class="btn btn-app btn-purple">
							<i class="ace-icon fa fa-book"></i> {{LanguageFactory.getLabel('Cancel')}}
						</button>
					</div>
				</div>
			</form>
		</div>
	</uib-tab>
</uib-tabset>
