<div class="order-statistic">
	<div class='row'>
		<div class='col-lg-3 col-md-3 col-sm-5 col-xs-5'>
			<label>{{LanguageFactory.getLabel('PromoId')}}:</label>
		</div>
		<div class='col-lg-9 col-md-9 col-sm-7 col-xs-7'>
			{{promotion.info.productPromoId}}
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-3 col-md-3 col-sm-5 col-xs-5'>
			<label>{{LanguageFactory.getLabel('PromoName')}}:</label>
		</div>
		<div class='col-lg-9 col-md-9 col-sm-7 col-xs-7'>
			{{promotion.info.promoName}}
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-3 col-md-3 col-sm-5 col-xs-5'>
			<label>{{LanguageFactory.getLabel('fromDate')}}:</label>
		</div>
		<div class='col-lg-9 col-md-9 col-sm-7 col-xs-7'>
			{{formatDateDMY(promotion.info.fromDate)}}
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-3 col-md-3 col-sm-5 col-xs-5'>
			<label>{{LanguageFactory.getLabel('thruDate')}}:</label>
		</div>
		<div class='col-lg-9 col-md-9 col-sm-7 col-xs-7'>
			{{formatDateDMY(promotion.info.thruDate)}}
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-3 col-md-3 col-sm-5 col-xs-5'>
			<label>{{LanguageFactory.getLabel('Distributor')}}:</label>
		</div>
		<div class='col-lg-9 col-md-9 col-sm-7 col-xs-7'>
			<span ng-repeat ="obj in promotion.stores track by $index">
				<span ng-if="$index != 0">,&nbsp;</span>{{obj.storeName}}
			</span>
		</div>
	</div>
</div>
<table class="table table-striped table-bordered table-hover center">
	<thead>
		<tr>
			<th colspan="2">{{LanguageFactory.getLabel('Condition')}}</th>
			<th colspan="2">{{LanguageFactory.getLabel('Action')}}</th>
		</tr>
		<tr>
			<th>{{LanguageFactory.getLabel('ProductCategoryApply')}}</th>
			<th>{{LanguageFactory.getLabel('Condition')}}</th>
			<th>{{LanguageFactory.getLabel('ProductCategoryApply')}}</th>
			<th>{{LanguageFactory.getLabel('Action')}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat ="obj in promotion.rules">
			<td>
				<div ng-repeat ="objc in obj.condition">
					&nbsp;
				</div>
				<div ng-repeat ="objc in obj.productCondition">
					[{{objc.productCode}}]-{{objc.productName}}
				</div>
			</td>
			<td>
				<div ng-repeat ="objc in obj.condition">
					{{LanguageFactory.getLabel(objc.inputParamEnumId)}} {{LanguageFactory.getLabel(objc.operatorEnumId)}} {{FormatNumberBy3(objc.condValue)}}
				</div>
				<div ng-repeat ="objc in obj.productCondition">
					{{LanguageFactory.getLabel(objc.inputParamEnumId)}} {{LanguageFactory.getLabel(objc.operatorEnumId)}} {{objc.condValue}} {{objc.otherValue}} {{objc.note}}
				</div>
			</td>
			<td>
				<div ng-repeat ="objc in obj.action">
					<span ng-if="objc.operatorEnumId">
						&nbsp;
					</span>
				</div>
				<div ng-repeat ="obja in obj.productAction">
					[{{obja.productCode}}]-{{obja.productName}} ({{LanguageFactory.getLabel(obja.productPromoActionEnumId)}})
				</div>
			</td>
			<td>
				<div ng-repeat ="objc in obj.action">
					<span ng-if="objc.operatorEnumId">
						{{LanguageFactory.getLabel(objc.inputParamEnumId)}} {{LanguageFactory.getLabel(objc.operatorEnumId)}} {{FormatNumberBy3(objc.condValue)}}
					</span>
				</div>
				<div ng-repeat ="obja in obj.productAction">
					<span ng-if="obja.quantity">{{LanguageFactory.getLabel("Quantity")}} {{obja.quantity}}</span> <span ng-if="obja.amount">{{LanguageFactory.getLabel("AmountValue")}} {{obja.amount}}</span>
				</div>
			</td>
		</tr>
	</tbody>
</table>
