<div class='search-container'>
    <input type="search" placeholder="Search..." ng-model="search" class='search'/>
    <i class="fa fa-search search-icon"></i>
</div>
<div auto-pageable auto-pageable-data="customers.content" auto-pageable-item-height='itemHeight' auto-pageable-callback="reloadDistance" auto-pageable-renderer="customerRenderer" id="list-customer">
	<div ng-if="customerRenderer && isCalculateDistance" class='row'>
		<div ng-repeat ="obj in customerRenderer | filter : search" class='col-lg-12 col-md-12 col-xs-12 col-sm-12 store-row-container' ng-click="toStore($index)">
			<div class='store-row'><h3 class='store-row-header'>{{obj.groupName}}</h3>
			<div class='store-row-info'><i class='glyphicon glyphicon-map-marker'></i>&nbsp;<b>{{LanguageFactory.getLabel('Address')}}:&nbsp;</b>{{obj.address1}} &nbsp; {{obj.city}}</div>
			<div class='store-row-info'><i class='glyphicon glyphicon-phone-alt'></i>&nbsp;<b>{{LanguageFactory.getLabel('Phone')}}:&nbsp;</b>
				<a href="tel:{{obj.phoneNumber.contactNumber}}" ng-if="obj.phoneNumber.contactNumber">{{obj.phoneNumber.contactNumber}}</a>
			</div>
				<div class='store-row-info'><i class='glyphicon glyphicon-road'></i>&nbsp;<span><b>&nbsp;{{LanguageFactory.getLabel('Distance')}}:&nbsp;</b>{{obj.distance.text}}</span>
				</div>
			</div>
			<div class='inven-order'>
				<div class='signal-icon' ng-if="obj.isInventory"><i class='fa fa-check-square-o'>&nbsp;</i></div>
				<div class='signal-icon' ng-if="obj.isOrder"><i class='fa fa-cart-plus'>&nbsp;</i></div>
				<div class='signal-icon' ng-if="obj.isBirthDateToday"><i class='fa fa-birthday-cake'>&nbsp;</i></div>
			</div>
		</div>
	</div>
</div>
<!-- <div class='pagination' ng-if="total">
	<button ng-repeat="i in range(0, total)" class='btn page-item' id='page-{{i}}' ng-click='pagination($i)'>{{i + 1}}</button>
</div> -->
<!-- <div class="row store" id="listStore">

</div> -->

<!-- <div class="pagination">
	<button class="btn pagination-btn" ng-if="current > 1" ng-click="previous()">{{LanguageFactory.getLabel('Previous')}}</button>
	<span id="paginationNumber"></span>
	<button class="btn pagination-btn" ng-if="total > 1" ng-click="next()">{{LanguageFactory.getLabel('Next')}}</button>
</div> -->