.jqx-notification-container#jqxNotificationDefaultContainer-top-right {
	top: 45px !important;
	z-index: 99999;
}
.jqx-menu.jqx-menu-olbius > ul > li > [class*=" fa-"], 
.jqx-menu.jqx-menu-olbius > ul > li > [class^="fa-"], 
.jqx-menu.jqx-menu-olbius > ul > li > .fa {
	min-width:20px;
	display:inline-block;
}
.font-common{font-size:13px}

.jqx-fill-state-disabled .jqx-combobox-content-olbius, 
.jqx-fill-state-disabled .jqx-input-olbius, 
.jqx-fill-state-disabled .jqx-button-olbius,
.jqx-fill-state-disabled .jqx-combobox-arrow-normal {
	color: #999!important;
    opacity: 1;
    background: #EEE;
    cursor: not-allowed;
}

.button-action {font-size:18px; padding:0 0 0 8px;}
.text-strong {font-weight: bold; font-size:16px}
.small-margin {margin:5px 0 10px}
.container-noti {
	background-color: transparent;
	overflow: auto;
	position:fixed;
	top:0; right:0;
	z-index: 99999;
	width:auto
}
.container-add-plus {
	position: relative;
	height: 28px;
}
.container-add-plus .add-quickly {
	position: absolute;
    top: 4px;
    right: -18px;
    color: #87b87f;
}
.container-add-plus .add-quickly:hover {
    color: #528b48;
    //color: #629b58;
}
.container-add-plus > div{
	display:inline-block;
}
.container-add-plus .clear-value {
	display:inline-block;
	vertical-align: top;
   	padding-top: 3px;
   	color: #ddd
}
.container-add-plus .clear-value:hover {color: #b52c26}

a.clear-value-jqx {
	display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    color: #ddd;
    position: absolute;
    top: 0px;
} /*xam: #ddd. do = #ef827e*/
a.clear-value-jqx:hover {color: #b52c26} /*xam: #797979. do: #b52c26*/
a.clear-value-jqx:focus {outline:0px}

a.btn-add-quick {
	display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    color: #87b87f;
    position: absolute;
    top: 0px;
}
a.btn-add-quick:hover {color: #528b48}
a.btn-add-quick:focus {outline:0px}

.container-add-plus .add-value {
	display:inline-block;
	vertical-align: top;
   	padding-top: 3px;
   	color: #87b87f
}
.container-add-plus .add-value:hover {
	color: #6c9842
}
.legend-container span{
	font-size:15px;
	color:#55b83b;
	position: absolute;
    margin-top: -14px;
    background-color: #FFF;
    padding-right: 6px;
    font-weight: 600;
}
.legend-container hr{
	border-top: 1px solid #ddd;
	width:100%;
   	margin: 15px 0px 10px 0px;
 	padding: 0px;
}

/* Start for MODULE_SALES  ========================= MODULE_SALES =========================== */
.background-root {
	color: #DD0806 !important;
	font-weight:bold;
}
.background-one {
	background: #FF99CC !important;
	border-color: #F184BA !important;
	font-weight:bold;
}
.background-two {
	background: #FFCC99 !important;
	border-color: #E8AB6E !important;
	font-weight:bold;
	color: #0000FF !important;
}
.background-three {
	background: #E6B8B7 !important;
	border-color: #DA9694 !important;
	font-weight:bold;
	color: #DD0806 !important;
}
.background-four {
	background: #CCFFFF !important;
	border-color: #87DEDE !important;
	font-weight:bold;
}
.background-five {
	background: #FFFF99 !important;
	border-color: #DCDC91 !important;
}

/*
	border-color: #ffb4b4 16757940
	background: #ffc4c4 16762052
	= 4112
*/

li i.fa-null {
	width: 15px;
}
.background-promo {
	color: #009900 !important;
	background: #f1ffff !important;
}
.background-virtual {
	color: #009900 !important;
	background: #e6e6e6!important;
	font-weight:bold;
}
.background-favor-delivery {
	/*color: #FFFFFF !important;*/
	background: #78E8BB !important; /*#2E8965 !important;*/
}
.background-cancel-ze {
	background: #e8e9e4!important;
}
.background-cancel {
	background: #daddd5 !important;
}
.background-cancel-nd {
	background: #f0f1ed!important;
}
.background-important-nd {
	border-color: #ffb4b4 !important;
	background: #ffd4d4 !important;
}
.background-running {
	/* color: #009900 !important; */
	border-color: #add7f3 !important;
	background: #eaf7ff !important;
}
.background-prepare {
	border-color: #a2f0a8 !important;
	background: #ecffea !important;
}
.background-waiting, .background-created {
	border-color: #fcc !important;
	background: #fee !important;
}
.background-lvheight {
	border-color: #fcc !important;
	background: #fff2f2 !important;
}
.background-popup-white {
	background:#FFF;
	width:100%;
	height:100%;
	position:absolute;
	z-index: 1;
	display:none;
	top:0;
	left:0;
}

.btn-rolldown {
	position:absolute;
	bottom:0;
	right:0;
	font-size:24px;
	opacity:0.5;
}
.btn-rolldown:hover {
	opacity:1
}

ul.breadcrumb li {
	white-space:nowrap;
}
.form-size-mini {
	padding-top:10px;
	font-size:12pt;
}
.form-size-mini .control-group{
	margin-bottom: 0px !important;
	padding-top:0;
}
.form-size-mini .control-group .control-label{
	font-size:10pt;
}
.form-size-mini .control-group .control-label.required:after {
	content: " *";
	color:#F00;
}
.ibefore-icon-angle-right:before {
	content: "\f105";
	color: #ccc;
	font-family: FontAwesome;
	margin-right: 3px;
}
.form-size-mini .controls select, 
.form-size-mini .controls textarea, 
.form-size-mini .controls input[type="text"], 
.form-size-mini .controls input[type="password"], 
.form-size-mini .controls input[type="datetime"], 
.form-size-mini .controls input[type="datetime-local"], 
.form-size-mini .controls input[type="date"], 
.form-size-mini .controls input[type="month"], 
.form-size-mini .controls input[type="time"], 
.form-size-mini .controls input[type="week"], 
.form-size-mini .controls input[type="number"], 
.form-size-mini .controls input[type="email"], 
.form-size-mini .controls input[type="url"], 
.form-size-mini .controls input[type="search"], 
.form-size-mini .controls input[type="tel"], 
.form-size-mini .controls input[type="color"], 
.form-size-mini .controls .uneditable-input {
	font-size:10pt;
	min-height: 27px;
	margin-bottom: 0;
	margin-top: 2px;
}

.form-size-mini .controls select.disabled, 
.form-size-mini .controls textarea.disabled, 
.form-size-mini .controls input[type="text"].disabled, 
.form-size-mini .controls input[type="password"].disabled, 
.form-size-mini .controls input[type="datetime"].disabled, 
.form-size-mini .controls input[type="datetime-local"].disabled, 
.form-size-mini .controls input[type="date"].disabled, 
.form-size-mini .controls input[type="month"].disabled, 
.form-size-mini .controls input[type="time"].disabled, 
.form-size-mini .controls input[type="week"].disabled, 
.form-size-mini .controls input[type="number"].disabled, 
.form-size-mini .controls input[type="email"].disabled, 
.form-size-mini .controls input[type="url"].disabled, 
.form-size-mini .controls input[type="search"].disabled, 
.form-size-mini .controls input[type="tel"].disabled, 
.form-size-mini .controls input[type="color"].disabled {
	pointer-events:none;
	background:#fafafa;
}

a.disabled {
	pointer-events:none;
	color:#aaa;
}

.form-size-mini .controls .chzn-container input[type="text"] {
	min-height:0px;
}

.form-size-mini .controls select {
	height: 27px;
	line-height: 27px;
	padding: 0;
	margin-bottom: 0;
	margin-top: 2px;
}
.form-size-mini .controls .field-lookup input[type="text"], 
.form-size-mini .controls .view-calendar input[type="text"]{
	padding: 0 6px;
	min-height: 23px;
}
.form-size-mini .controls .view-calendar button {
	height: 27px;
	margin-left: -5px;
	margin-top:2px;
}
/*@media screen and (-webkit-min-device-pixel-ratio: 0) .field-lookup a:before*/
/*.form-size-mini .controls .field-lookup a {margin-top:0;}*/
.form-size-mini .controls .field-lookup a:before {
	height: 20px;
	margin-top:0;
}
.form-size-mini .controls .input-mini {
	width: 75px;
}
.form-size-mini .controls .input-small {
	width: 180px;
}
.form-size-mini .controls .input-normal {
	width: 220px;
}
.form-size-mini .controls .input-less-small {
	width: 125px;
}
/*.form-size-mini .controls .input-normal {
	width: 75px;
}
.form-size-mini .controls .input-large {
	width: 75px;
}*/
.form-size-mini .controls .input-mini.chzn-select {
	width: 125px;
}
.form-size-mini .controls .input-mini.chzn-select + .chzn-container-single .chzn-drop {
	width:100% !important;
}
.form-size-mini .controls .input-mini.chzn-select + .chzn-container-single .chzn-drop .chzn-search input{
	height: 27px;
	width:100% !important;
	line-height: 27px;
}
.form-size-mini .controls .input-mini.chzn-select + .chzn-container-single .chzn-search:after {
	right: 10px;
}
.ui-dialog .jqx-grid.jqx-grid-olbius.jqx-widget-olbius [id^="contentjqxgrid"], .ui-dialog .jqx-grid.jqx-grid-olbius.jqx-widget-olbius [id*=" contentjqxgrid"]{
	z-index: 1005 !important;
}
.ui-dialog .jqx-grid.jqx-grid-olbius.jqx-widget-olbius .jqx-grid-cell.jqx-grid-cell-olbius.jqx-grid-cell-filter-row.jqx-grid-cell-filter-row-olbius {
	z-index: 1008 !important;
}
.ui-dialog .jqx-grid.jqx-grid-olbius.jqx-widget-olbius .jqx-grid-pager.jqx-grid-pager-olbius.jqx-widget-header.jqx-widget-header-olbius {
	z-index: 1010 !important;
}
.form-size-mini .table, 
.form-size-mini .row.row-desc .control-label-desc, 
.form-size-mini .row.row-desc .controls-desc {
	font-size:10pt;
}
.form-size-mini .table th, .form-size-mini .table td {
	padding: 3px 8px;
}
.form-size-mini .table .lbl {
	margin-top:-8px !important;
}
.form-size-mini .table .controls select, 
.form-size-mini .table .controls textarea, 
.form-size-mini .table .controls input[type="text"], 
.form-size-mini .table .controls input[type="password"], 
.form-size-mini .table .controls input[type="datetime"], 
.form-size-mini .table .controls input[type="datetime-local"], 
.form-size-mini .table .controls input[type="date"], 
.form-size-mini .table .controls input[type="month"], 
.form-size-mini .table .controls input[type="time"], 
.form-size-mini .table .controls input[type="week"], 
.form-size-mini .table .controls input[type="number"], 
.form-size-mini .table .controls input[type="email"], 
.form-size-mini .table .controls input[type="url"], 
.form-size-mini .table .controls input[type="search"], 
.form-size-mini .table .controls input[type="tel"], 
.form-size-mini .table .controls input[type="color"], 
.form-size-mini .table .controls .uneditable-input {
	font-size:10pt;
	height:15px;
	min-height: 15px;
	margin-bottom: 0;
	margin-top: 2px;
}
.form-size-mini.form-horizontal input, 
.form-size-mini.form-horizontal textarea, 
.form-size-mini.form-horizontal select, 
.form-size-mini.form-horizontal .help-inline, 
.form-size-mini.form-horizontal .uneditable-input, 
.form-size-mini.form-horizontal .input-prepend, 
.form-size-mini.form-horizontal .input-append {
	margin-left: 0;
	margin-bottom: 0;
}
.form-size-mini .controls label, .form-size-mini .lbl {
	margin-top:0 !important;
}
.form-size-mini input[type=checkbox]+.lbl::before, .form-size-mini input[type=radio]+.lbl::before {
	vertical-align:top;
	margin-top:3px;
}
.form-size-mini.form-size-micro .control-label {
	width: 90px!important;
}
.form-size-mini.form-size-micro .controls {
	margin-left: 100px!important;
}
.form-size-mini.form-size-micro, 
.form-size-mini.form-size-micro label, 
.form-size-mini.form-size-micro a, 
.form-size-mini.form-size-micro span {
	font-size: 10pt;
}

.form-size-mini input[type=checkbox]+.lbl::before, .form-size-mini input[type=radio]+.lbl::before {vertical-align:top;margin-top:3px;}
.form-size-mini.form-size-micro .control-label {width: 90px!important;}
.form-size-mini.form-size-micro .controls {margin-left: 100px!important;}
.form-size-mini.form-size-micro, 
.form-size-mini.form-size-micro label, 
.form-size-mini.form-size-micro a, 
.form-size-mini.form-size-micro span {font-size: 10pt;}

.form-size-small {padding-top:10px;font-size:13pt;}
.form-size-small .control-group{margin-bottom: 7px !important;padding-top:0;}
.form-size-small .control-group .control-label{font-size:10pt;}
.form-size-small .control-group .control-label.required:after {content: " *";color:#F00;}
.form-size-small .controls select, .form-size-small .controls textarea, .form-size-small .controls input[type="text"], .form-size-small .controls input[type="password"], 
	.form-size-small .controls input[type="datetime"], .form-size-small .controls input[type="datetime-local"], .form-size-small .controls input[type="date"], 
	.form-size-small .controls input[type="month"], .form-size-small .controls input[type="time"], .form-size-small .controls input[type="week"], .form-size-small .controls input[type="number"], 
	.form-size-small .controls input[type="email"], .form-size-small .controls input[type="url"], .form-size-small .controls input[type="search"], 
	.form-size-small .controls input[type="tel"], .form-size-small .controls input[type="color"], .form-size-small .controls .uneditable-input {
	font-size:10pt;min-height: 28px;margin-bottom: 0;margin-top: 2px;
}
.form-size-small .controls .chzn-container input[type="text"] {min-height:0px;}
.form-size-small .controls select {height: 25px;line-height: 25px;padding: 0;margin-bottom: 0;margin-top: 2px;}
.form-size-small .controls .field-lookup input[type="text"], 
	.form-size-small .controls .view-calendar input[type="text"]{padding: 0 6px;min-height: 23px;}
.form-size-small .controls .view-calendar button {height: 25px;margin-left: -5px;margin-top:2px;}
.form-size-small .controls .field-lookup a:before {height: 20px;margin-top:0;}
.form-size-small .controls .input-mini {width: 75px;}
.form-size-small .controls .input-small {width: 180px;}
.form-size-small .controls .input-mini.chzn-select {width: 125px;}
.form-size-small .controls .input-mini.chzn-select + .chzn-container-single .chzn-drop {width:100% !important;}
.form-size-small .controls .input-mini.chzn-select + .chzn-container-single .chzn-drop .chzn-search input{height: 25px;width:100% !important;line-height: 25px;}
.form-size-small .controls .input-mini.chzn-select + .chzn-container-single .chzn-search:after {right: 10px;}
.form-size-small .table, .form-size-small .row.row-desc .control-label-desc, .form-size-small .row.row-desc .controls-desc {font-size:10pt;}
.form-size-small .table th, .form-size-small .table td {padding: 3px 8px;}
.form-size-small .table .lbl {margin-top:-8px !important;}
.form-size-small .table .controls select, .form-size-small .table .controls textarea, .form-size-small .table .controls input[type="text"], 
	.form-size-small .table .controls input[type="password"], .form-size-small .table .controls input[type="datetime"], .form-size-small .table .controls input[type="datetime-local"], 
	.form-size-small .table .controls input[type="date"], .form-size-small .table .controls input[type="month"], .form-size-small .table .controls input[type="time"], .form-size-small .table .controls input[type="week"], 
	.form-size-small .table .controls input[type="number"], .form-size-small .table .controls input[type="email"], .form-size-small .table .controls input[type="url"], .form-size-small .table .controls input[type="search"], 
	.form-size-small .table .controls input[type="tel"], .form-size-small .table .controls input[type="color"], .form-size-small .table .controls .uneditable-input {
	font-size:10pt;height:15px;min-height: 15px;margin-bottom: 0;margin-top: 2px;}
.form-size-small.form-horizontal input, .form-size-small.form-horizontal textarea, .form-size-small.form-horizontal select, .form-size-small.form-horizontal .help-inline, 
	.form-size-small.form-horizontal .uneditable-input, .form-size-small.form-horizontal .input-prepend, .form-size-small.form-horizontal .input-append {
	margin-left: 0;margin-bottom: 0;}
.form-size-small .controls label, .form-size-small .lbl {margin-top:0 !important;}

.form-size-small .controls select.disabled, .form-size-small .controls textarea.disabled, .form-size-small .controls input[type="text"].disabled, 
.form-size-small .controls input[type="password"].disabled, .form-size-small .controls input[type="datetime"].disabled, 
.form-size-small .controls input[type="datetime-local"].disabled, .form-size-small .controls input[type="date"].disabled, .form-size-small .controls input[type="month"].disabled, 
.form-size-small .controls input[type="time"].disabled, .form-size-small .controls input[type="week"].disabled, .form-size-small .controls input[type="number"].disabled, 
.form-size-small .controls input[type="email"].disabled, .form-size-small .controls input[type="url"].disabled, .form-size-small .controls input[type="search"].disabled, 
.form-size-small .controls input[type="tel"].disabled, .form-size-small .controls input[type="color"].disabled {
	pointer-events:none;
	background:#fafafa;
}

.form-legend {
	border: 1px solid #ddd; 
	padding: 5px 8px 8px;
	margin-bottom: 30px;
}
.form-legend .contain-legend {
	display:block;
	margin-top:-20px;
}
.form-legend .contain-legend .content-legend {
	/*display:block; margin-top: -25px; width: 160px;*/
	padding: 5px; 
	background-color:#FFF; 
	font-size:10pt; 
	font-weight:bold; 
}
.form-legend .contain-legend .content-legend.text-uppercase {
	text-transform:uppercase;
}
.form-legend .contain-legend .content-legend.text-normal {
	font-weight:normal;
}
[id^="add-new-action-container"], [id^="add-new-condition-container"] {
	margin-top:-15px;
}
.wizard-steps.wizard-steps-mini li .step {
	border: 3px solid #ced1d6;
	font-size: 14px;
	width: 20px;
	height: 20px;
	line-height: 20px;
}
.wizard-steps.wizard-steps-mini li:before {
	border-top: 3px solid #ced1d6;
	top: 15px;
}
.wizard-steps.wizard-steps-mini li.active:before, .wizard-steps.wizard-steps-mini li.complete:before, .wizard-steps.wizard-steps-mini li.active .step, .wizard-steps.wizard-steps-mini li.complete .step {
	border-color: #5293c4;
}
.wizard-steps.wizard-steps-mini li.complete .step:before {
	line-height: 20px;
	font-size: 15px;
}
.hidden{
	display:none;
}
.form-horizontal.form-decrease-padding .control-group {
	margin-bottom:5px !important;
}
.table.table-decreace-padding th, .table.table-decreace-padding td {
	padding: 5px 8px;
}
.table-padding-small td {
	padding: 3px 8px;
}
.table-padding-small tr td:first-child {
	border-left:0;
}
.form-horizontal.form-controls-margin-small .control-label {
	width: 190px !important;
}
.form-horizontal.form-controls-margin-small .controls{
	margin-left: 205px !important;
}
.control-group label.control-label-desc {width:inherit;text-align:left;line-height:inherit;}
.basic-custom-form .control-group .control-label.required:after, td.required:after, label.required:after {
	content: " *";
	color:#F00;
}
.widget-toolbar a i.open-sans {
	font-family: "Open Sans";
}
.fa.open-sans.open-sans-index {
	font-family: "Open Sans";
}
.form-table-block {
	display:table;
}
.form-table-block .control-group {
	display:table-row;
	height: 40px;
	width:100%;
}
.form-table-block .control-group .control-label {
	display:table-cell;
	padding-right:5px;
	width:41.67% !important;
	font-size:13px;
}
.form-table-block .control-group .controls {
	display:table-cell;
	margin-left: 10px !important;
	padding-left: 5px;
	vertical-align: middle;
	width:58.33%;
}
.form-table-block .control-group .controls input, .form-table-block .control-group .controls select {
	margin-bottom:0;
	padding: 0 3px;
	margin-top: 4px;
	
	height: 29px;
  	font-size: 13px;
  	min-height: inherit;
}
/* .form-table-block .control-group .controls input {
	height: 27px;
	min-height: inherit;
	font-size: 13px;
}
.form-table-block .control-group .controls select {
	height: 29px;
  	margin-top: 4px;
  	font-size: 13px;
  	min-height: inherit;
} */
.form-table-block .control-group .controls .input-normal{
	width: 220px;
}
.form-table-block .control-group .control-label.required:after, .control-label.required:after {
	content: " *";
	color:#F00;
}
.form-table-block .controls .field-lookup input[type="text"], 
.form-table-block .controls .view-calendar input[type="text"]{
	padding: 0 6px;
	min-height: 23px;
}
.form-table-block .controls .view-calendar button {
	height: 27px;
	margin-left: -5px;
	margin-top:2px;
}
.form-table-block .controls .field-lookup a:before {
	height: 24px;
	margin-top:0;
}
.icon-modal-alert-danger {
	font-size:24px; color:#b94a48; vertical-align: middle;
}
.message-content-alert-danger {
	color:#b94a48;
}
.icon-modal-alert-info {
	font-size:24px; color:#3a87ad; vertical-align: middle;
}
.message-content-alert-info {
	color:#3a87ad;
}
.message-content-alert-info p {
	margin-left:28px;
}
.input-no-border-bottom input, .input-no-border-bottom select{
	margin-bottom: 0;
}
.input-no-border-bottom tr td {
	padding-top:10px;
}
.input-no-border-bottom tr:first-child td {
	padding-top:0;
}
.action-custom .form-action-button {
	margin-right: initial !important;
}
.jqx-modal-standard .jqx-window-content{
	position:relative;
	overflow:hidden;
	max-height: inherit;
	padding:10px;
}

.form-window-content-custom .row-fluid {
	margin-bottom: 10px
}
.form-window-content-custom .row-fluid > div:first-child {
	text-align:right;
}
.form-window-content-custom .row-fluid > div:first-child {
	text-align:right;
}
.form-window-content-custom.content-description .row-fluid {
	margin-bottom: 0;
	font-size:14px;
	font-family:'Arial';
}
.form-window-content-custom .div-inline-block{
	display:inline-block;
}
.form-window-content-custom.label-text-left .row-fluid > div:first-child {
	text-align:left;
}
.form-window-content-custom.content-description .row-fluid > div:last-child > span {
	color: #037c07;
	font-weight: bold;
	vertical-align: bottom;
	line-height:20px;
}
.form-window-content-custom label {
	line-height: 30px;
	margin-bottom:0;
}
.form-window-content-custom .form-action-button {
	margin-right:0 !important;
	margin-left:5px !important;
}
/* .form-window-content-custom .jqx-dropdownlist-content {
	padding-left:0;
} */
.form-window-content-custom [id^='dropDownButtonArrow'] {
	margin-left:-3px;
}
.form-window-content-custom input.jqx-input {
    padding: 0px 0 2px 5px !important;
    margin: 0;
}
.form-window-content-custom .jqx-grid-group-cell, .jqx-grid-empty-cell {
	border-width:1px;
}
.form-window-content-custom.content-align-left .row-fluid > div:first-child{
    text-align: left;
}
/* ============= description align left ================== */
.form-window-content-custom.content-description-left .row-fluid{
    border-bottom: 1px solid #ccc;
    margin-bottom:0;
    font-family: helvetica, arial, sans-serif;
    padding-top:2px;
}
.form-window-content-custom.content-description-left .row-fluid > div:first-child {
    text-align: left;
    width: 116px;
    line-height: 30px;
}
.form-window-content-custom.content-description-left .row-fluid > div:last-child {
    width: calc(100% - 120px);
    vertical-align:middle;
    display:inline-block;
}
.form-window-content-custom.content-description-left .row-fluid > div:last-child > span {
    color: #393939;
}
.form-window-content-custom.content-description-left .row-fluid > label{
    text-align: left;
    width: 116px;
    display:inline-block;
    vertical-align: middle;
    line-height: 30px;
}
.form-window-content-custom.content-description-left .row-fluid label{
	margin-top:0;
	font-size:13px;
	font-weight: bold;
}
.form-window-content-custom.content-description-left .row-fluid.title-description {
	padding-top:5px
}
.form-window-content-custom.content-description-left .row-fluid.title-description label {
	text-transform: uppercase;
	color: #4383b4; //color: #ff892a;
	font-weight:bold;
	width:auto;
}
.form-window-content-custom.content-description-left .row-fluid.title-description div {
    width: auto;
}

/* .jqx-grid-pager.jqx-grid-pager-olbius#pagershipToCustomerPartyGrid {
	height: 0 !important;
} */
/*
.form-window-content-custom input{
	padding-top:2px !important;
}
*/

/* ===================================== htmlForm ================================= */
#dropDownButtonPopupcustomerId, #dropDownButtonPopupshipToCustomerPartyId, 
#dropDownButtonPopupshippingContactMechId, #dropDownButtonPopupagreementId, #dropDownButtonPopupsalesExecutiveId,
#dropDownButtonPopupfavorSupplierPartyId, #dropDownButtonPopupshipGroupFacilityId {
	width: inherit !important;
}
/* #horizontalScrollBarshippingContactMechGrid{
  	visibility: inherit !important;
} */
/*drop down buttton custom = ddbc*/
[id^="dropDownButtonPopupddbc"], [id^="dropDownButtonPopupwn_"], [id^="dropDownButtonPopupwe_"] {
	width: inherit !important;
}
.container_loader{
	position: relative
}
.jqx-rc-all.loader-page-common-custom{
	overflow: hidden; 
	position: fixed; 
	display: none; 
	left: 50%; 
	top: 50%; 
	z-index: 99998;
}
.jqx-rc-all.loader-page-common-custom .jqx-fill-state-normal{
	z-index: 99999; 
	position: relative; 
	width: auto; 
	height: 33px; 
	padding: 5px; 
	font-family: verdana; 
	font-size: 12px; 
	color: #767676; 
	border-color: #898989; 
	border-width: 1px; 
	border-style: solid; 
	background: #f6f6f6; 
	border-collapse: collapse;
}
.jqx-rc-all.loader-page-common-custom .jqx-fill-state-normal > div{
	float: left;
}
.jqx-rc-all.loader-page-common-custom .jqx-fill-state-normal .jqx-grid-load{
	float: left; overflow: hidden; width: 32px; height: 32px;
}
.jqx-rc-all.loader-page-common-custom .jqx-fill-state-normal span{
	margin-top: 10px; float: left; display: block; margin-left: 5px;
}
.display-none-pager-header .jqx-grid-pager.jqx-widget-header{
	display:none;
}
.display-none-pager-header .jqx-grid-statusbar > div {
	height: calc(100% - 3px) !important;
}
.display-none-pager-header .jqx-grid-statusbar .jqx-grid-cell{
	border-bottom: 1px solid #ccc;
}
/* ===================================== end htmlForm ============================= */
#jqxgridSOContainer {
	height:auto !important;
}

/* Wizard steps square ================================== */
.wizard-steps.wizard-steps-square li {
	text-align:left;
	position: relative;
}
.wizard-steps.wizard-steps-square li:before{
	border-top:0;
	height:0;
}
/*.wizard-steps.wizard-steps-square li:last-child .step {
	width:100%;
}*/
.wizard-steps.wizard-steps-square li .step{
	border-radius: 0;
	border:0;
	text-align: left;
	width:100%;
	line-height:30px;
	height:30px;
	border-width:3px;
	background-color: #ced1d6;
	font-family: 'Arial';
    font-size: 14px;
}
.wizard-steps.wizard-steps-square li .step:before {
	position: relative; 
    display: inline-block;
    vertical-align:top;
    z-index: 100;
	content: ' ';
	margin-right: 5px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #FFFFFF;
}
.wizard-steps.wizard-steps-square li .step:after {
	position: relative; 
    display: block;
    z-index: 120;
    float:right;
    right: -15px;
	content: ' ';
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #ced1d6;
}
.wizard-steps.wizard-steps-square li.active .step{
	background-color: #5293c4;
	color:#FFF;
}
.wizard-steps.wizard-steps-square li.active .step:after {
	border-left: 15px solid #5293c4;
}
.wizard-steps.wizard-steps-square li.complete .step {
	color: #FFFFFF;
	text-align: left;
	background-color: #86B593; /*#82af6f | #86b558*/
}
.wizard-steps.wizard-steps-square li.complete .step:after {
	border-left: 15px solid #86B593;
}
.wizard-steps.wizard-steps-square li.complete .step:before {
	position: relative; 
    display: inline-block;
    vertical-align:top;
    z-index: 100;
	content: ' ';
	margin-right: 5px;
	border-radius:0;
	background-color: transparent;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #FFFFFF;
}
.wizard-steps.wizard-steps-square li:first-child .step:before, .wizard-steps.wizard-steps-square li.complete:first-child .step:before {
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
}
.wizard-steps.wizard-steps-square li:last-child .step:after, .wizard-steps.wizard-steps-square li.complete:last-child .step:after {
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
}
/*
.wizard-steps.wizard-steps-square li + li {
   right: -5px;
}
*/
.wizard-steps.wizard-steps-square li:nth-child(1) {
    z-index:10; 
}
.wizard-steps.wizard-steps-square li:nth-child(2) {   
    z-index:9;  
}
.wizard-steps.wizard-steps-square li:nth-child(3) {
    z-index:8;  
}
.wizard-steps.wizard-steps-square li:nth-child(4) {   
    z-index:7;  
}
.wizard-steps.wizard-steps-square li:nth-child(5) {
    z-index:6;  
}
.wizard-steps.wizard-steps-square li:nth-child(6) {   
    z-index:5;  
}
.wizard-steps-actions {
	width:30px; 
	display:inline-block; 
	float:right; 
	line-height:30px;
	height:30px;
}
.wizard-steps-steps {
	background-color:#ced1d6;
	width:calc(100% - 30px); 
	display:inline-block;
	line-height:30px;
	height:30px;
	background-size: 100% 30px;
}
.wizard-steps-actions div {
	background-color:#ced1d6;
	line-height:30px;
	height:30px;
}
.wizard-steps-actions div:before {
	height:1px;
	content:"";
}
.wizard-steps-actions .btn {
	line-height: 25px;
    height: 25px;
    vertical-align: top;
    padding: 0 5px;
    border-width: 2px;
    float:right;
}
.innerDropdownContent {
	position: relative; margin-left: 3px; margin-top: 5px;
}
.innerGridCellContent {
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: 2px;
	text-align: left;
	margin-right: 2px;
	margin-left: 4px;
	margin-top: 6px;
}

.title-status {
	position: absolute;
	color:#FFF;
	background: rgba(0,0,0,0.3);
	right: 0;
	padding: 5px 20px;
}
.margin-between-block {
	margin-top: 10px
}
.jqx-widget-olbius .row-error {
	border-color: #f09784;
    color: #d68273;
}
.jqx-widget-olbius .jqx-grid-cell.row-cell-error {
	//color: #d68273;
	color: #fc2a05;
	font-weight:bold;
}
.jqx-widget-olbius .row-success {
	border-color: #92bf65;
    color: #8bad4c;
}
.jqx-widget-olbius .jqx-grid-cell.row-cell-success {
    //color: #8bad4c;
    color: #1B8000;
    font-weight:bold;
}
.div-input-error {
	color: #fc2a05;
	border-color: #f09784;
	background: rgba(219,137,120,0.3);
}
.div-input-success {
	color: #1B8000;
	border-color: #92bf65;
	background: rgba(130,188,58,0.3);
}
.div-input-important input {
	background: rgba(130,188,58,0.3);
}
.container-approve label{
	line-height: 30px;
}
.container-approve .view-calendar > input:first-child{
	height: 18px;
}
.container-approve .view-calendar > .ui-datepicker-trigger{
	height: 28px;
}
.container-approve a.btn{
	line-height: 24px;
}
.container-approve button.btn{
	height: 28px;
}
.close-box-custom .jqx-combobox-multi-item div:last-child{
	float:left !important;
}
.lbl .font-normal-span {
	font-size: 13px;
}
/* End for MODULE_SALES  ========================= MODULE_SALES ============================= */

.container-chart-inner-page {
	border: 1px solid #ddd;
	margin-top: 5px;
}
.tab-content {
	z-index: auto;
}
