.nav-list li .hasmegamenu {overflow:visible;}
.mega_3_col {
	background:#FFF;
    font-size: 13px;
    line-height: 23px;
    color: #333;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    width: 790px;
    position: absolute;
    top: -1px;
    left: calc(100% + 1px);
    -webkit-box-shadow: 2px 2px 3px #ddd;
    -moz-box-shadow: 2px 2px 3px #ddd;
    box-shadow: 2px 2px 3px #ddd;
    border-top: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
	-webkit-transform: translate3d(0, 50px, 0);
	-moz-transform: translate3d(0, 50px, 0);
	-o-transform: translate3d(0, 50px, 0);
	-ms-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
	-webkit-transition: opacity .2s ease-in, visibility 0s linear .2s, -webkit-transform .2s linear;
	-moz-transition: opacity .2s ease-in, visibility 0s linear .2s, -moz-transform .2s linear;
	-o-transition: opacity .2s ease-in, visibility 0s linear .2s, -o-transform .2s linear;
	-ms-transition: opacity .2s ease-in, visibility 0s linear .2s, -ms-transform .2s linear;
	transition: opacity .2s ease-in, visibility 0s linear .2s, transform .2s linear;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}
li.megamenu:hover {
	border-right:1px solid #FFF;
}
li.megamenu:hover > .mega_3_col {
    opacity: 1;
    visibility: visible;
	z-index: 1000;
	-webkit-transform: translate3d(0, 0px, 0);
	-moz-transform: translate3d(0, 0px, 0);
	-o-transform: translate3d(0, 0px, 0);
	-ms-transform: translate3d(0, 0px, 0);
	transform: translate3d(0, 0px, 0);
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0.1s;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	display:block;
}
.col_3_container {
    width: 760px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.col_3_fullwidth {
    width: 30.293%;
    float: left;
    padding: 1.52%;
    margin-bottom: 10px;
}
.megamenu .list-top
{
	width:90%;
	padding:5px 10px;
	color:#1963aa;
	margin-bottom:10px;
	font-size:14px;
	text-transform:uppercase;
	background:#f7f7f7;
	border:1px solid #EEE;
	font-weight:600;
	text-shadow: 1px 1px 1px #FFF;
	border-radius:3px;
}

.megamenu .list_links i
{
	margin-left:0px !important;
	font-size:13px !important;
}
.megamenu ol {
	list-style:none;
	margin-left:10px;
}
.list_links a {
	color:#393939	
}
.list_links a:hover{
	color:#4b88b7!important;	
}