<!doctype html>
<html lang="en" ng-app="olbius" data-framework="angularjs"
	ng-style="{
'background'
: !isMain ? 'rgb(242, 242, 242)' : '#007145'}">
<head>
<meta charset="utf-8" />
<title>Salesman - Đăng nhập</title>
<meta name="description" content="User login page" />
<!-- <meta http-equiv="Content-Security-Policy"
	content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'"> -->
<!-- <meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" /> -->
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<!-- basic styles -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="assets/css/ace-fonts.css" />
<!-- ace styles -->
<link rel="stylesheet" href="assets/css/jquery-ui.min.css" />
<link rel="stylesheet" href="assets/css/ace.min.css" />
<!--fonts-->
<link rel="stylesheet" href="assets/css/ace-fonts.css" />
<!--custom css-->
<link rel="stylesheet" href="assets/css/snap.css" />
<link rel="stylesheet" href="assets/css/salesman.css" />
<link rel="stylesheet" href="assets/css/style-responsive.css" />
<link rel="stylesheet" href="assets/css/custom/loading.css">
<!-- bootstrap-dialog css-->
<link rel="stylesheet" href="assets/css/bootstrap-dialog.min.css" />
</head>
<body>
	<div ng-if="isHeader" ng-include="'templates/item/sidebar.htm'"
		id="sidebar" class='snap-drawers'></div>
	<div ng-class="{'login-layout'  : !isHeader}" id="wrapper"
		class="wrapper snap-content">
		<div ng-if="isHeader" ng-include="'templates/item/header.htm'"></div>
		<section class="main-container" id="container">
			<section class="main-content">
				<section class="page-content" ng-view id="view"></section>
			</section>
		</section>
	</div>
	<loading id="mainloading"></loading>
	<script src="assets/js/jquery/jquery.min.js"></script>
	<script src="assets/js/angular/angular.min.js"></script>
	<script src="assets/js/angular/angular-touch.min.js"></script>
	<script src="assets/js/angular/angular-route.min.js"></script>
	<script src="assets/js/angular/angular-animate.min.js"></script>
	<script src="assets/js/angular/angularjs-geolocation.min.js"></script>

	<!-- cordova -->
	<!-- <script src="ng-cordova.min.js"></script>
	<script src="cordova.js"></script> -->
	<!-- map -->
	<script src="assets/js/other/underscore.js"></script>
	<script src="assets/js/ui/lodash.js"></script>
	<script src="assets/js/angular/angular-simple-logger.min.js"></script>
	<script src="assets/js/angular/angular-google-maps.min.js"></script>
	<!-- page specific plugin scripts -->
	<script src="assets/js/ui/snap.js"></script>
	<script src="assets/js/ui/bootstrap.min.js"></script>
	<script src="assets/js/ui/bootstrap-dialog.min.js"></script>
	<script src="assets/js/ui/jquery.image.blob.js"></script>
	<script src="assets/js/ui/ui-bootstrap-tpls-0.14.3.min.js"></script>
	<!-- <script src="assets/js/ui/ui-bootstrap-tpls-0.14.3.js"></script> -->
	<!-- highchart Script -->
	<!-- <script src="assets/js/highchart/highcharts.js"></script>
	<script src="assets/js/highchart/highcharts-ng.min.js"></script> -->
	<!-- config Language -->
	<script src="common/configLanguage.js"></script>
	<!-- config Page -->
	<script src="common/configPage.js"></script>
	<!--main js-->
	<script src="common/Utils.js"></script>
	<script src="common/main.js"></script>
	<!--controller-->
	<script src="controllers/base.js"></script>
	<script src="controllers/customer.js"></script>
	<script src="controllers/createCustomer.js"></script>
	<script src="controllers/customerDetail.js"></script>
	<script src="controllers/customerOpinion.js"></script>
	<script src="controllers/dashboard.js"></script>
	<script src="controllers/employeeLeave.js"></script>
	<script src="controllers/employeeLeaveReport.js"></script>
	<script src="controllers/sidebar.js"></script>
	<script src="controllers/header.js"></script>
	<script src="controllers/inventory.js"></script>
	<script src="controllers/login.js"></script>
	<script src="controllers/index.js"></script>
	<script src="controllers/main.js"></script>
	<script src="controllers/order.js"></script>
	<script src="controllers/orderDetail.js"></script>
	<script src="controllers/orderList.js"></script>
	<script src="controllers/product.js"></script>
	<script src="controllers/sale.js"></script>
	<script src="controllers/promotion.js"></script>
	<script src="controllers/promotiondetail.js"></script>
	<script src="controllers/store.js"></script>
	<script src="controllers/profile.js"></script>
	<script src="controllers/location.js"></script>
	<!-- directive -->
	<script src="directives/camera.js"></script>
	<script src="directives/googlemap.js"></script>
	<script src="directives/common.js"></script>
	<!--<script src="directives/highchart.js"></script>
	<!-- service -->
	<script src="services/service.js"></script>
	<script src="services/factory.js"></script>
	<script src="services/requestfactory.js"></script>
	<script src="services/GPS.js"></script>

	<script src="common/init.js"></script>
</body>
</html>
