<ion-modal-view>
	<ion-header-bar class="bar-positive">
		<div class="button buttons button-clear" ng-click="routedetail.hide()">
			<i class="icon ion-close">&nbsp</i>
		</div>
		<h1 class="title">{{getLabel('RouteDetail')}}</h1>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="{{getLabel('PullToRefresh')}}" on-refresh="getRouteDetail(selectedRouteId, true)"></ion-refresher>
		<ion-list>
			<ion-item>
				<h3>{{getLabel('RouteId')}}</h3>
				<p>{{currentRoute.partyCode}}</p>
			</ion-item>
			<ion-item>
				<h3>{{getLabel('RouteName')}}</h3>
				<p>{{currentRoute.groupName}}</p>
			</ion-item>
			<ion-item>
				<h3>{{getLabel('description')}}</h3>
				<p>{{currentRoute.description}}</p>
			</ion-item>
			<ion-item>
				<h3>{{getLabel('WhoInCharge')}}</h3>
				<p ng-repeat="name in currentRoute.employee">{{name}}</p>
			</ion-item>
			<ion-item>
				<h3>{{getLabel('Schedule')}}</h3>
				<div class='schedules'>
					<div class='icon icon-circle day-icon positive' ng-class="{'day-disabled' : notValidSchedule('MONDAY')}">{{getLabel('SHORT_MONDAY')}}</div>
					<div class='icon icon-circle day-icon calm' ng-class="{'day-disabled' : notValidSchedule('TUESDAY')}">{{getLabel('SHORT_TUESDAY')}}</div>
					<div class='icon icon-circle day-icon balanced' ng-class="{'day-disabled' : notValidSchedule('WEDNESDAY')}">{{getLabel('SHORT_WEDNESDAY')}}</div>
					<div class='icon icon-circle day-icon energized' ng-class="{'day-disabled' : notValidSchedule('THURDAY')}">{{getLabel('SHORT_THURDAY')}}</div>
					<div class='icon icon-circle day-icon assertive' ng-class="{'day-disabled' : notValidSchedule('FRIDAY')}">{{getLabel('SHORT_FRIDAY')}}</div>
					<div class='icon icon-circle day-icon royal' ng-class="{'day-disabled' : notValidSchedule('SATURDAY')}">{{getLabel('SHORT_SATURDAY')}}</div>
					<div class='icon icon-circle day-icon dark' ng-class="{'day-disabled' : notValidSchedule('SUNDAY')}">{{getLabel('SHORT_SUNDAY')}}</div>
				</div>
			</ion-item>
			<ion-item class='item-text-wrap'>
				<h3>{{getLabel('RouteArea')}}</h3>
				<p ng-repeat="address in currentRoute.addresses">{{address.address1}} {{address.districtGeo}} {{address.stateProvinceGeo}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-modal-view>