@mixin circle(){
    border-radius: 50%;
    color: #FFF;
    width: 32px;
    height: 32px;
    font-size: 18px;
}

@mixin positive(){
	background-color: #387ef5;
}

@mixin labelColor(){
    color : #246EE8;
}

@mixin _positive($type,$reg){
    #{$type}: #{$reg};
}

@mixin assertive(){
	background: #ef473a;
}

@mixin balanced(){
	background : #33cd5f;
}

@mixin calm(){
	background : #11c1f3;
}

@mixin calculateBottomRight($radius){
	bottom : 5%;
	right : 5%;
	border-radius : $radius;
}

@mixin arrow-right{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid green;
}


@mixin preWarapAndBoldFont(){
	white-space : pre-wrap !important;
	font : {
		size : 15px !important;
	}
}

.login-layout{
	background-color: #387ef5;
    background-image: -webkit-radial-gradient(center center, circle cover, #09c, #387ef5);
	.login-container {
		 position: absolute;
	    height: 285px;
	    top: 35%;
	    margin-top: -142.5px;
	    width: calc(100% - 20px);

	}

	.form-login {
	    border-radius: 10px;
	    background: transparent;
	    margin-top: 40px;
	    label.item{
		    background: rgba(255,255,255,0.2);
		    border: none;
		    input {
			    color: #EEE;
			}
		}
	}

	.app-logo {
	    text-align: center;
	}

	.button {
	    background: rgba(255,255,255,0.2);
	    border-radius: 10px;
	    color: #EEE;
	    text-transform: uppercase;
	}
  }

.register-login {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    a {
	    color: #FFF;
	}
}

.view-password-login-icon{
	position: absolute;
    z-index: 9999999999;
    left: 100%;
    top: 50%;
    margin-left: -30px;
    margin-top: 15px;
    font-size: 20px;
}
.icon-circle{
	@include circle();
}

.icon-circle-middle{
	 	top: 50%;
	    margin-top: -16px;
	    font:{
	    	weight : bold;
	    	size : 20px !important;
	    };
	    @include circle();
	}
.item-icon-left .icon-circle-middle{
	@extend .icon-circle-middle;
}
.item-icon-right{
	.icon-circle-middle{
		@extend .item-icon-left;
	}
}

i{
	&.positive{
		@include positive();
	}
	&.assertive{
		@include assertive();
	}
	&.balanced{
		@include balanced();
	}
	&.calm{
		@include calm();
	}
}

a.view-detail .positive{
    @include _positive(color,#83A6E0);
    font-size : initial;
    &:active{
        background : #B7BECA
    }
}

p.item-road {
    @include _positive(color,#246EE8);
    font-size : initial;
    &>i{
        font-size : 18px;
        color: #ffc900;
    }
}

a.item.item-icon{
	font-family : san-serif;
}

.tab-current{
	background: dimgray !important;
    font-style: oblique;
    color: whitesmoke !important;
    &>a>label{
        color : white;
        font-size : 16px;
    }
}

.view-road-on-map{
	z-index : 99999999;
	position : absolute;
    background : #0c60ee;
    border : 1px #0c60ee;
    padding : 10px;
	@include calculateBottomRight(#{'50%'});
    .icon-view-map{
        color: #f8f8f8;
        font-size: xx-large;
    }
}

.edit-route {
    color : white !important;
    font-size : 25px;
    @extend .view-road-on-map;
}

.btn-add-new-route{
    @extend .view-road-on-map;
    bottom : 0%;
}

.add-route{
	@extend .view-road-on-map;
    font-size: -webkit-xxx-large;
}

.item-road{
	@include preWarapAndBoldFont();
    padding-top : 5px;
    &.item-road-name{
        font-size : 15px !important;
    }
}

.item-content{
    color: #B3E3F1;
    padding-top : 20px;
    &>i{
        position : absolute;
        float: right;
        font-size: 25px;
        right : 5%;
        top : 35%;
    }

    &>.infor-route{
        color : #387ef5;
        white-space : normal;
    }
}

.bar-positive .button{
    font-size: 25px !important;
    border-color : #387ef5;
}

title-back-view{
    font-size : 12px !important;
}

.list-info{
    &>.list{
        white-space : normal;
        &>p{
            padding: 10px 0px 0px 5px;
            margin-left: 10px;
        }

        &>span>p{
            padding: 10px 0px 0px 5px;
        }

        &>.item.item-divider{
            color: #1892B5;
        }
    }
}

.infor-route{
    &>.item.item-divider{
        background: #FAFFFB;
        &>i{
            font-size : 30px;
        }
        color : #8194B5;
        font-size : 16px;
    }

    &>.item>#form {
        font-size : 14px;
        &.border-empl-detail{
            border: 2px solid #B3E3F1;
            border-radius: 15px;
             white-space: normal;
        }

        &>.row>.col{
                &.col-30{
                    font-weight : bold;
                }
                &.val{
                    border-bottom: 1px solid #49C8EC;
                }
            }
    }
}
.form-empl-detail{
    margin: 5px 5px 0 5px;
    .header{
        &>i{
            color: white;
            font-size: 30px;
            padding: 2px 2px 2px 4px;

        }

        &>i.ion-edit,i.ion-gear-b{
            float: right;
            font-size: 22px;
            padding-right: 5px;
        }

        &>select{
            background  : none;
            border : none;
            float : right;
        }

        border: 2px solid #11c1f3;
        height: 30px;
        padding-top: -9px;
        background: #11c1f3;
    }
    .body{
        border: 2px solid #11c1f3;
        &>.row>.col.col-30{
            color: #0a9dc7;
        }
        white-space : normal;
    }
}



.form-route-add{

    &>.item.item-divider{
         color : #1892B5;
        &>i{
            font-size : 30px;
            color : white;
        }
        &>a>i {
            float : right;
            font-size : 22px;
         }
    }

    &>.item>.list>label{
        height: 30px;
        border-radius: 20px;
    }

    &>.item>label{
        height: 30px;
        border-radius: 20px;
    }

    &.item>.row>.col{
        border: 1px solid #0c60ee;
        background: #0c60ee;
        color: white;
        text-align  :center;
    }
}

.day{
    border: 1px solid #0a9dc7;
        background: #0a9dc7;
        color: white;
}

.route-detail-item{
        background: #D2F3DC;
        height : 40px;
        border-radius : 30px;
    }

 .route-detail-item-odd{
    @extend .route-detail-item;
    background : #B7E2EF;
}

.viewRouteDetail{
	@extend .icon-circle;
	font-size : 60px !important;
}

.lines {
    width: 100px;
    height: 10px;
    background: #f447ff;
}

.btn-remove{
    font-size :large !important;
}

.btn-edit-address-map{
    width : 40px;
    height : 40px;
}

.content-ntf{
    background: red;
    color: white;
    font : {
        family : cursive;
        size : large;
    };
    text-align : center;
    height: 50px;
    padding: 10px;
}

.col i{font-size: 30px;}

@mixin content-box(){
        border-radius: 5%;
        padding : 5px;
        margin-bottom: 13px;
        &>.row>.col{
             @include labelColor();
                &.val{
                    border-bottom: 1px solid #49C8EC;
                    font-family: sans-serif;
                }
                &>label>x{
                    color :red;
                }
            }
}

.form-slide {
    &>#content{
        @include content-box();
    }

    &>#content-rule{
        @include content-box();
        &>.row.space{
            margin-top : 10px;
            margin-bottom : 10px;
        }
    }

    &>.approve-promotions{
            text-align : center;
            &>button{
                line-height: 3px;
                min-height: 35px;
            }
            &>h4{
                font-size : 16px;
                color : #49C8EC;
            }
    }
}

.slide-box{
    height : auto;
}

.form-update>.row>.col>.item.item-input{
    border-radius : 30px;
}

.text-danger{color:red;height : 40px;};

.directions-detail{width : 1000px;height : 1000px;}

.img-logo-menu {width : 120px;height : 25px;}

.angular-google-map-container { height: 300px; }

.title-dashboard{
    text-align: center;
    color: white;
    background: #0a9dc7;
    font-size: bold;
    font-weight: bold;
    height: 38px;
    top: 50%;
    left: 50%;
    position: static;
    margin: 0 100px;
    &>i{
        font-size: 30px;
    }
    border-radius : 5px;
}

#dashboard{
    &>#body>.row{
        margin : 10px 0 0 0;
        &>.col{
            border-radius  :5px;
            padding : 8px;
            &.turnover{
                 background : #5E5EEC;
              }
            &.move{
                background : #33cd5f;
            }
            &.ok{
                 background : #11c1f3;
            }
            &.cancel{
                 background : #EF473A;
            }

            &>i {
                font-size : 30px;
            }

            &>label{
                 font-size : 16px;
                 margin  :10px;
            }

            color:white;
           }
    }
}

.turnOver-rank-saler{
    height : 400px;
    margin : 0 auto;
}

.report-item{
    height : 400px;
    margin : 0 auto;
}

.no-result-found{
    position: absolute;
    z-index: 9999999;
    bottom: 5%;
    text-align: cente;
    left: 20%;
    right: 20%;
    color: white;
    background: #717171;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
}

.icon-ntf{
    position: relative;
    border: #E84343;
    color: white;
    /* border-radius: 50%; */
    padding: 2px 5px;
    font-weight: bold;
    &.b{
        background: #2ABB54;
    }
    &.r{
        background: #E84343;
    }
    &.p{
         background: #ffc900;
    }

}

.menu-apps{
    &>.list>.item>a{
        text-decoration : none;
    }
}

.search-app{
    position : absolute;
    top : 7%;
    color : #11c1f3;
    &>.col{
        /*border : 1px solid;
        border-radius : 15px;*/
        &>input{
            position : relative;
            width : 80%;
            left : 10%;
        }
        &>i{
            position : absolute;
            top  :14px;
            left :20px;
        }

        &>trash{
                position : absolute;
                top :20px;
                right : 20px;
                font-size : 20px;
            }
    }
}

.under-construction{
    width : calc(100% - 20px);
    padding : 5%;
}

.inventory-list-total{
    margin : 10% 0 0 0;
}

.profile{
        height: 150px;
        background : {
            image : url('assets/img/profile.jpg');
            repeat: no-repeat;
            size: 100%;
        }
    &>.col{
        text-align : center;
    }
    &>.profile-item{
        position: relative;
        &>a>p.profile-name{
            position: absolute;
            bottom: -5%;
            color: white;
            font-weight: bold;
            text-align : left;
        }
    }
}

.profile-bg{
    position: fixed;
    left: 0;
    width: 100%;
    background-size: 100%;
    background-position: 50% 20%;
    text-align: center;

}

 #content {
    position: relative;
    margin-top: -10%;
    background-color: white;
    /*box-shadow: 0px -1px 10px rgba(0,0,0,0.4);*/
    padding-top: 100%;
  }

#profile-info {
    position: absolute;
    top: -80px;
    width: 100%;
    z-index: 2;
    text-align: center;
  }

#profile-name {
    color: #444;
    font-size: 16px;
  }

#profile-description {
    font-size: 15px;
    color: #888;
    &>.card.list{
        &>.item{
            &.item-divider{
                color  :#0a9dc7
            }
            &>.row{margin : 1px}
            &>.row>.content{
                   padding: 0 0 0 15px;
                    white-space: normal;
            }
            &>.row{
                &>.col-50{
                    color: #387ef5
                }
                &>.col.special{
                    color: #28a54c
                }
            }
            text-align : left;
            font-size : 15px;
        }
    }
}

#profile-description a {
    color: #888;
}

#profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 90px;
    height: 90px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
  }

.profile-popup>.row{
    font-size : 14px;
    color: #0a9dc7;
    margin : 5px;
}

.infor-list{
    &>.row{
        margin-bottom:1%;
        font-size : 14px;
         &>.col{
            padding : 0;
            text-align : left;
        }
    }

}
/*animation*/
@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}


