<ng-include src="'templates/item/product.htm'"></ng-include>
<ion-list class='cart'  ng-if="cart.promotions.length">
	<ion-item class='item-divider'>
		<i class='fa fa-tag green'></i> {{getLabel('Promotion')}}
	</ion-item>
	<ion-item ng-repeat="product in cart.promotions track by $index "
	class='item-thumbnail-left item-icon-right cart-item promotion-item'>
		<div class='item-content'>
			<div class='product-content cart-content'>
				<div class='cart-content-img'>
					<img src="assets/images/default.jpg" ng-if="!product.image && !product.image_small">
					<img ng-src="{{imageUrl}}{{product.image}}" ng-if="product.image">
					<img ng-src="{{imageUrl}}{{product.image_small}}" ng-if="!product.image && product.image_small">
				</div>
				<div class='product-content-text'>
					<h3>{{product.productCode}} - {{product.productName}}</h3>
					<p>
						<i class='fa fa-money'></i>&nbsp;{{formatNumberDecimal(product.productPrice)}}<sup>đ</sup>
					</p>
				</div>
			</div>
			<div class="cartquantity">
				<div class='middle-wrapper'>
					<div class='middle-content'>
						{{product.productQuantity}}
					</div>
				</div>
			</div>
		</div>
	</ion-item>
</ion-list>
<ion-list ng-if="products.length">
	<ion-item>
		<i class="icon fa fa-shopping-cart"></i> {{getLabel('CartSubTotal')}} <span class="item-note order-item">{{formatNumberDecimal(cart.totalAmount)}}<sup>đ</sup></span>
	</ion-item>
	<ion-item>
		<i class="icon fa fa-tag"></i> {{getLabel('Discount')}} <span class="item-note order-item">{{formatNumberDecimal(cart.discountAmount)}}<sup>đ</sup></span>
	</ion-item>
	<ion-item>
		<i class="icon fa fa-percent"></i> {{getLabel('TaxTotal')}} <span class="item-note order-item">{{formatNumberDecimal(cart.taxAmount)}}<sup>đ</sup></span>
	</ion-item>
	<ion-item>
		<i class="icon fa fa-money"></i> {{getLabel('TotalPaymentAmount')}} <span class="item-note order-item">{{formatNumberDecimal(cart.grandTotal)}}<sup>đ</sup></span>
	</ion-item>
</ion-list>