<ion-tabs class="tabs-icon tabs-background-positive tabs-color-light" ng-class="{'tabs-item-hide': $root.hideTabBar}">
  <ion-tab icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <ion-tab icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/customer">
    <ion-nav-view name="tab-customer"></ion-nav-view>
  </ion-tab>
  <ion-tab icon-off="ion-ios-cart" icon-on="ion-ios-cart" href="#/tab/cart">
    <ion-nav-view name="tab-cart"></ion-nav-view>
  </ion-tab>
  <ion-tab icon-off="ion-ios-gear" icon-on="ion-ios-gear" href="#/tab/setting">
    <ion-nav-view name="tab-setting"></ion-nav-view>
  </ion-tab>
</ion-tabs>
