<div class='profile-picture' ng-if="options.preview">
	<loading id="{{loadingid}}"></loading>
	<img class="avatar" src="assets/images/default.jpg" ng-show="!image && !path"/>
	<img class="avatar" ng-src="{{imageUrl}}{{path}}" ng-show="!image && path"/>
	<img class="avatar" ng-src="{{image}}" ng-show="image" id="Image{{id}}"/>
	<input type="file" class='hide' accept="image/*" id="InputSelect{{id}}" ng-model="self.url" name="files" image-reader/>
	<button class='capture' ng-click="chooseImage()">&nbsp;</button>
</div>
