<ion-modal-view>
	<ion-header-bar class="bar-positive">
		<div class="button buttons button-clear" ng-click="customerdetail.hide()">
			<i class="icon ion-close">&nbsp</i>
		</div>
		<h1 class="title">{{getLabel('CustomerDetail')}}</h1>
		<div class="button buttons button-clear" ng-click="editCustomer(selectedId)">
			<i class="icon ion-edit">&nbsp</i>
		</div>
	</ion-header-bar>
	<ion-content on-pull-refresh="getPartyDetail(selectedId, true)" scope="self">
		<!-- <ion-refresher
	    pulling-text="{{getLabel('PullToRefresh')}}"
	    on-refresh="getPartyDetail(selectedId, true)"></ion-refresher> -->
		<ion-list>
			<ion-item class='item-img'>
				<img src="assets/images/default.jpg" ng-if="!selectedCustomer.logoImageUrl">
				<img ng-src="{{imageUrl}}{{selectedCustomer.logoImageUrl}}" ng-if="selectedCustomer.logoImageUrl"/>
			</ion-item>
			<ion-item class='item-text-wrap'>
				<h3>{{getLabel('CustomerNameFull')}}</h3>
				<p>{{selectedCustomer.groupName}}</p>
			</ion-item>
			<ion-item class='item-text-wrap'>
				<h3>{{getLabel('Address')}}</h3>
				<p>{{selectedCustomer.address}}</p>
			</ion-item>
			<ion-item>
				<h3 class='item-info-label'>{{getLabel('PhoneNumber')}}</h3>
				<p class='item-info'><a href='tel:{{selectedCustomer.contactNumber}}'>{{selectedCustomer.contactNumber}}</a></p>
			</ion-item>
			<ion-item class='item-divider' ng-if="selectedCustomer.representative">
				{{getLabel('Representative')}}
			</ion-item>
			<ion-item class='item-icon-left' ng-if="selectedCustomer.representative">
				<i class='icon fa fa-user'></i>
				{{selectedCustomer.representative.partyFullName}}&nbsp;
			</ion-item>
			<ion-item class='item-icon-left' ng-if="selectedCustomer.representative">
				<i class='icon fa fa-calendar'></i>
				{{formatDateDMY(selectedCustomer.representative.birthDate)}}&nbsp;
			</ion-item>
			<ion-item class='item-divider' ng-if="selectedCustomer.contacts.length">
				{{getLabel('OtherContacts')}}
			</ion-item>
			<ion-item ng-repeat="contact in selectedCustomer.contacts">
				<label class='item-info-label'>{{contact.name}}</label>
				<span class='item-info'>{{contact.phone}}</span>
			</ion-item>
			<ion-item class='item-divider'>
				{{getLabel('RouteInformation')}}
			</ion-item>
			<ion-item class='item-icon-left'>
				<i class='icon fa fa-user'></i>
				{{selectedCustomer.salesman}}
			</ion-item>
			<ion-item class='item-icon-left'>
				<i class='icon fa fa-road'></i>
				<span ng-repeat="route in selectedCustomer.routes">{{route}}&nbsp;</span>
			</ion-item>
			<ion-item class='item-divider'>
				{{getLabel('OtherInfomartion')}}
			</ion-item>
			<ion-item class='item-text-wrap'>
				<p>{{selectedCustomer.comments}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-modal-view>