<ion-list  ng-if="currentCustomer">
	<ion-item class='item-thumbnail-left item-text-wrap'>
		<img src="assets/images/default.jpg" ng-if="!currentCustomer.logoImageUrl" on-double-tap="getPartyDetail(currentCustomer.partyIdTo)">
		<img ng-src="{{imageUrl}}{{currentCustomer.logoImageUrl}}" on-double-tap="getPartyDetail(currentCustomer.partyIdTo)" ng-if="currentCustomer.logoImageUrl"/>
		<h2>{{currentCustomer.groupName}}</h2>
		<p>
			<b><i class='fa fa-map-marker'></i>&nbsp;{{getLabel('Address')}}: </b>
			{{currentCustomer.address1}} &nbsp; {{currentCustomer.city}}
		</p>
		<p>
			<b><i class='fa fa-phone'></i> {{getLabel('Phone')}}: </b>
			<a href="tel:{{currentCustomer.phoneNumber.contactNumber}}" ng-if="currentCustomer.phoneNumber.contactNumber">{{currentCustomer.phoneNumber.contactNumber}}</a>
		</p>
	</ion-item>
</ion-list>