<ion-modal-view>
	<ion-header-bar class="bar-positive">
		<div class="button buttons button-clear" ng-click="productdetail.hide()">
			<i class="icon ion-close">&nbsp</i>
		</div>
		<h1 class="title">{{getLabel('ProductDetail')}}</h1>
	</ion-header-bar>
	<ion-content on-pull-refresh="getProductDetail(selectedProductId, currentProductStoreId, true)" scope="self">
		<!-- <ion-refresher
	    pulling-text="{{getLabel('PullToRefresh')}}"
	    on-refresh="getProductDetail(selectedProductId, currentProductStoreId, true)"></ion-refresher> -->
		<ion-list>
			<ion-item class='item-img'>
				<img src="assets/images/default.jpg" ng-if="!selectedProduct.image && !selectedProduct.image_small">
				<img ng-src="{{imageUrl}}{{selectedProduct.image}}" ng-if="selectedProduct.image">
				<img ng-src="{{imageUrl}}{{selectedProduct.image_small}}" ng-if="!selectedProduct.image && selectedProduct.image_small">
			</ion-item>
			<ion-item>
				<h3 class='item-info-label'>{{getLabel('ProductId')}}</h3>
				<span class='item-info'>{{selectedProduct.productCode}}</span>
			</ion-item>
			<ion-item class='item-text-wrap'>
				<h3>{{getLabel('ProductName')}}</h3>
				<p>{{selectedProduct.productName}}</p>
			</ion-item>
			<ion-item>
				<h3>{{getLabel('description')}}</h3>
				<p>{{selectedProduct.description}}</p>
			</ion-item>
			<ion-item>
				<h3 class='item-info-label'>{{getLabel('DefaultPrice')}}</h3>
				<span class='item-info'>{{formatNumberDecimal(selectedProduct.listPrice)}}<sup>đ</sup></span>
			</ion-item>
			<ion-item>
				<h3 class='item-info-label'>{{getLabel('ListPrice')}}</h3>
				<span class='item-info'>{{formatNumberDecimal(selectedProduct.priceVAT)}}<sup>đ</sup></span>
			</ion-item>
			<ion-item class='item-divider'>
				{{getLabel('Promotion')}}
			</ion-item>
			<ion-item ng-repeat="promos in selectedProduct.listPromoRules" class='item-text-wrap'>
				{{promos.ruleText}}
			</ion-item>
		</ion-list>
	</ion-content>
</ion-modal-view>