@font-face {
  font-family: 'Myriad Pro';
  src: url('fonts/MYRIADPRO-REGULAR.eot'); /* IE9 Compat Modes */
  src: url('fonts/MYRIADPRO-REGULAR.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/MYRIADPRO-REGULAR.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/MYRIADPRO-REGULAR.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/MYRIADPRO-REGULAR.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/MYRIADPRO-REGULAR.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body{padding-top:0px;font-family: Myriad Pro, Arial,Tahoma, Verdana sans-serif; background-color:#fff;border-top:1px solid #f15a22;
font-size:13px;line-height:21px;color:#333;font-weight:normal;}
time{display:none;color:#333;}
a, a:visited{color:#333;text-decoration:none;}
strong{font-weight:600;}
h1,h2,h3,h4,h5,h6{color:#333;font-weight:600;}
h1{font-size:50px;line-height:40px;}
h2{padding:5px 0px;}
h3{font-size:20px;line-height:30px;padding:5px 0px;}
img{max-width: 100%;}
ul{margin:0;padding:0;}
ul li{list-style:none outside none;}
.font-arial{font-family:Arial;}
.wrapword{
white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
word-break: break-all;
white-space: normal;
}
.clear{clear:both;}
section {
    background: #f1f1f1 none repeat scroll 0 0;
    margin:0 auto 1px;
    max-width: 640px;
    position: relative;
    width: 100%;
}
.bgf, .wnew, .wfaq{display:block;background:#fff;}
[class^="iconmobile-"], [class*="iconmobile-"] {
    background-image: url("../Images/mphuongchinh.png");
    background-repeat: no-repeat;
    background-size: 300px 200px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    width: 30px;
}
.all-store ul li{display:block;padding:5px 0;}
/* header menu */
.wrap{display:block;position:relative;width:315px;}
nav ul {
	padding: 20px 0 20px 0;
}
nav a {
	color: #282b2d;
	display: block;
	padding: 10px 10px 10px 0;
	border-bottom:1px solid #f1f1f1;
}
.responsive-nav-close{width:35px;height:35px;background: url("../Images/icon-close.png") no-repeat 0 0;}
.responsive-nav-icon {
	line-height: normal;
	padding: 0;
	width:45px;height:40px;
	top: 0%; left: 0%;
}
.one{float:left;background-color:#fff;border-right:1px solid #dfdfdd;}
.iconmobile-menu{background-position:0 0;}
.responsive-nav-icon:hover,
.responsive-nav-close:hover {
	opacity: .7;
}
.responsive-nav-close {
	top: 0px; right: 0px;
}
.responsive-nav-icon,
.responsive-nav-close {
    cursor: pointer;
    display: none;
}
#overlay {
    background: 0 0 rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    width: 100%;
    z-index: 90;
}
.responsive-nav-close {
	display: block;
	position: absolute;
	z-index: 1;
}
.responsive-nav-icon{display: block;
	position: relative;
	z-index: 1;}
nav.nav-header {
	height: 100%;
	padding: 10px;
	position: fixed;
	top: 0; left: -400px;
	-moz-transition: all 0.5s linear 0s;
	-webkit-transition: all 0.5s linear 0s;
	-ms-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
	width: 0;
	background: #fff;
	clear: both;
	font-size: 16px;
	font-weight: 300;
	line-height: 1;
	margin: 0;
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6)
}
nav.slide-in {
	left: 0;
	overflow-y: scroll;
	width: 290px;
	z-index: 100;
}
.iconmobile-logo {
    height: 28px;
    margin: 5px 6px 7px;
    width: 183px;
    background-position:0 -40px;
}
a.s-cart{display:inline-block;font-size:12px;position:relative;float:right;margin:0 7px 0 0;}
.iconmobile-cart{background-position:-247px 5px; height:40px;width:36px;float:right;margin:0;}
a.s-cart .cart-quantity{position:absolute;right:3px;top:3px; color:#fff;}
.account{float:right;display:block;}
.iconmobile-acc{background-position:-192px -33px; height:40px;width:35px;float:right;margin:0;}
.account .dropdown-menu{right:0 !important;padding:6px 10px;left:inherit;border-radius:0;}

#search-site {
    background: #fff;
    display: block;
    overflow: hidden;
    padding: 0;
    position: relative;
    max-width:640px;
}

#search-site .topinput {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dfdfdd;
    float: left;
    font-size: 13px;
    height: 36px;
    padding-top: 3px;
    text-indent: 10px;
    width: calc(100% - 75px);
}

#search-site .btntop {
    border: 1px solid #dfdfdd;
    background:#fff;
    float: right;
    height: 36px;
    width: 75px;
    padding:2px;
    border-left:none;
}

#search-site .btntop .iconmobile-search
{
    background-position:-231px -35px;height:32px;width:70px;
}
.mstore a{border:none;padding:0;display:inline-block;color:#f15a22;}
.mstore h3{font-size:16px; margin:0;text-align:center;}
.mstore h4{font-size:14px;margin:3px 0 10px;}
.mstore p{font-size:12px;line-height:18px;}
/* end header menu */
/* banner */
#owl-banner {
    display: block;
    overflow: hidden;
    position: relative;
}
#owl-banner .item img, #owl-slideproduct .item img {
    display: block;
    height: auto;
    width: 100%;
}
.owl-buttons .owl-prev {
    background: rgba(216, 216, 216, 0.6) none repeat scroll 0 0;
    border-radius: 4px;
    color: #f9f9f9;
    font-family: -webkit-body;
    font-size: 26px;
    padding:5px 10px 10px;
    position: absolute;
    top: 40%;
    left:10px;
}
.owl-buttons .owl-next {
    background: rgba(216, 216, 216, 0.6) none repeat scroll 0 0;
    border-radius: 4px;
    color: #f9f9f9;
    font-family: -webkit-body;
    font-size: 26px;
    padding: 5px 10px 10px;
    position:absolute;
    right: 10px;
    top: 40%;
}

/* end banner */
/* hot product */
.newproduct,.hotproduct{ color: #666;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3em;
    margin: 20px 5px 10px;
    overflow: hidden;
    text-transform: uppercase;}
#owl-newproduct, #owl-hotproduct{margin-left:3px;overflow:hidden;}
#owl-hotproduct .item {
    background:#fff none repeat scroll 0 0;
    border: 1px solid #ececec;
    height: 250px;
    margin-right: 5px;
    position: relative;
}
#owl-hotproduct .item a {
    background: #fff none repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
}

#owl-hotproduct .item img {
    display: block;
    height: auto;
    max-width: 100%;
}
#owl-hotproduct .item h3 {
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3em;
    margin: 10px 5px 0;
}

#owl-hotproduct .item strong {
    color: #d0021b;
    float: left;
    font-size: 14px;
    margin: 0 5px;
}

#owl-hotproduct .item button {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f15a22;
    border-radius: 4px;
    bottom: 10px;
    color: #f15a22;
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 6px 10px;
    position: absolute;
    right: 10px;
    z-index: 10;
}

#owl-newproduct .item a,#owl-reproduct .item a {
    background: #fff none repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
}
#owl-newproduct .item img,#owl-reproduct .item img  {
    display: block;
    margin: 10px auto 15px;
    max-height: 120px;
    max-width: 120px;
}

#owl-newproduct .item h3,#owl-reproduct .item h3 {
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3em;
    margin: 10px 5px 5px;
}

#owl-newproduct .item strong,#owl-reproduct .item strong {
    color: #d0021b;
    float: left;
    font-size: 12px;
    margin: 0 5px 5px;
}
#owl-newproduct .item,#owl-reproduct .item {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ececec;
    height: 225px;
    margin-right: 5px;
    position: relative;
}
/* end hot product */
/* home news */
.homenews figure {
    background: #f0f0f0 none repeat scroll 0 0;
    border-bottom: 1px solid #e8e8e8;
    display: block;
    margin-top:10px;
    overflow: hidden;
}
.homenews h3 {
    background: #e6e6e6 none repeat scroll 0 0;
    color: #424242;
    float: left;
    font-size: 13px;
    line-height: 1.3em;
    padding: 10px 20px 8px;
    text-align: center;
    text-transform: uppercase;
    margin:0;
    font-weight:normal;
}
.homenews figure b {
    border-bottom: 35px solid #bababa;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    float: left;
    height: 0;
    width: 0;
}
.homenews ul{background:#fff;min-height:244px;}
.homenews ul li{padding:8px 0 6px 6px;border-bottom:1px solid #dfdfdf;display:block;overflow:hidden;}
.homenews ul li:last-child{border:0;}
.homenews ul li img{float:left;margin:0 6px 0 6px;width:60px;height:55px;}
.homenews ul li a{display:block;line-height:16px;}
.homenews ul li span{font-size:11px;color:#666;}
.homenews a.newsother {
    border: 1px solid #f15a22;
    border-radius: 5px;
    color: #f15a22;
    display: block;
    font-size: 13px;
    margin: 10px auto;
    overflow: hidden;
    padding: 5px 20px;
    text-transform: uppercase;
    width: 176px;
}
/* end home news */
/* footer */
footer{margin-bottom:35px;}
.fmenu{display:block;overflow:hidden;background:#fff;margin-top:10px;}
.fmenu h4{color:#333;text-transform:uppercase;font-size:14px;border-bottom:1px solid #dfdfdd;padding:10px 2px;margin:0;}
.fmenu ul li{background: url("../Images/go.png") no-repeat center right;margin:0 10px;border-bottom:1px solid #dfdfdd;}
.fmenu ul li:last-child{border:none;}
.fmenu ul li a{display:block;padding:6px 20px 7px 0px;font-size:14px;}
.iconmobile-gc{background-position:-228px 0;width:17px;height:19px;margin-right:6px;}
.iconmobile-collagen{background-position:-206px 0;width:17px;height:19px;margin-right:6px;}
.iconmobile-soc{background-position:-185px 0;width:17px;height:19px;margin-right:6px;}
.iconmobile-ntc{background-position:-164px 0;width:17px;height:19px;margin-right:6px;}
.iconmobile-tpcn{background-position:-142px 0;width:17px;height:19px;margin-right:6px;}
.iconmobile-mp{background-position:-121px 0;width:17px;height:19px;margin-right:6px;}
.iconmobile-tbyt{background-position:-99px 0;width:17px;height:19px;margin-right:6px;}
.iconmobile-ld{background-position:-77px 0;width:17px;height:19px;margin-right:6px;}
.iconmobile-hd{background-position:-56px 0;width:17px;height:19px;margin-right:6px;}
#accordion{border-top:2px solid #f15a22;}
.panel-body{background:#f1f1f1;}
.panel-body h3{margin:0;font-weight:normal;text-transform:uppercase;color:#333;font-size:14px;}
.panel-body a{color:#f15a22;}
#newslettter{  background: #fff none repeat scroll 0 0;
    height: 30px;
    margin: 0 0px 30px 0;
    position: relative;
    width: 100%;}
.footerinput {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dfdfdd;
    float: left;
    font-size: 13px;
    height: 31px;
    padding-top: 3px;
    position: relative;
    text-indent: 10px;
    width: calc(100% - 80px);
}
.btnSendMail {
    background: #f15a22 none repeat scroll 0 0;
    float: right;
    height: 30px;
    width: 78px;
    padding:0;
    color:#fff;
    text-transform:uppercase;
    border:none;
    font-size:11px;
}
.help li{display:block;padding:5px 0;}
.help li a{font-size:14px;color:#666;}
.social{display:block;padding:10px 2px;}
.iconmobile-fb{background-position: 0px -97px;width:38px;height:38px; margin: 0 2px;}
.iconmobile-gp{background-position: -38px -97px;width:38px;height:38px; margin: 0 2px;}
.iconmobile-yt{background-position: -76px -97px;width:38px;height:38px; margin: 0 2px;}
.iconmobile-add{background-position: -95px -71px;width:13px;height:19px; margin: 0 2px;}
/* end footer */
/* product */
ul.filter {
    display: block;
    overflow: visible;
    position: relative;
    text-align: center;
    background:#fff;
}
ul.filter li {
    color: #666;
    float: left;
    font-size: 12px;
    padding: 0;
    text-align: center;
    width: 33.33%;
    background:#fff;
    position:relative;
    margin-bottom:8px;
}
ul.filter li select{width:100%;height:30px;border:1px solid #dadada;text-align:center;padding-right:5%;
    border-right:none;border-top:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;}
ul.filter li:first-child select{border-left:none;}
.filter li:last-child select{border-right:none;}

ul.filter li b {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #888;
    height: 0;
    right:5%;
    position: absolute;
    top: 12px;
    width: 0;
}

.listproduct {
    border-left: 1px solid #ececec;
    border-top: 1px solid #ececec;
    display: block;
    margin: 5px auto 0;
    overflow: hidden;
    width: 100%;
}
.listproduct li.feature {
    width: 100%;
}
.listproduct li {
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
    cursor: pointer;
    float: left;
    height: 275px;
    overflow: hidden;
    position: relative;
    width: 50%;
}

.listproduct li a {
    background: #fff none repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
}
.listproduct li.feature img {
    margin:0 0 15px 0;
}
.listproduct li img {
    display: block;
    margin: 20px auto;
    width: auto;
}

.listproduct li.feature h3 {
    margin: 0 10px 5px;
}
.listproduct li h3 {
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3em;
    margin: 0 10px 5px;
}

.listproduct li b {
    color: #d0021b;
    float: left;
    font-size: 14px;
    margin: 0 9px 5px;
}

.listproduct li button {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f15a22;
    border-radius: 4px;
    bottom: 5px;
    color: #f15a22;
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 6px 10px;
    position: absolute;
    right: 5px;
    z-index: 10;
    text-transform:uppercase;
}
.wrap_page {
    display: block;
    overflow: hidden;
    padding: 6px 10px;
}

.pagination a.actpage {
    background: #d2d2d2 none repeat scroll 0 0;
    border: 1px solid #d2d2d2;
    color: #000;
}
.pagination a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    color: #666;
    float: left;
    font-size: 14px;
    margin-right: 12px;
    padding: 6px 12px;
    text-align: center;
}

.pagination .next {
    border-bottom: 7px solid transparent;
    border-left: 7px solid #919191;
    border-top: 7px solid transparent;
    float: left;
    height: 0;
    margin: 4px 0;
    width: 0;
}

.pagination .pre {
    border-bottom: 7px solid transparent;
    border-right: 7px solid #919191;
    border-top: 7px solid transparent;
    float: left;
    height: 0;
    margin: 4px 0;
    width: 0;
}
.detailsproduct{background:#fff;}
.detailsproduct h1 {
    color: #333;
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3em;
    padding: 10px 2px 5px;
    margin:0;
}
#owl-slideproduct .obj{position:relative;}

.countSlide {
    background: rgba(0, 0, 0, 0.16) none repeat scroll 0 0;
    border-radius: 10px;
    bottom: 0;
    color: #fff;
    margin-bottom: 5px;
    padding: 5px 10px;
    position: absolute;
    right: 5px;
}
.countSlide span:first-child {
    font-weight: bold;
}
#owl-slideproduct .item p {
    background: #f3f3f3 none repeat scroll 0 0;
    color: #666;
    display: block;
    font-size: 13px;
    overflow: hidden;
    padding: 10px;
    margin:0;
}
.price{display:block;padding:10px 2px ;}
.price .old-price{font-size:15px;color:#666;text-decoration:line-through;margin-right:12px;}
.price .sale-price{color:#d0021b;font-size:20px;font-weight:bold;}
.price .sale-price span{font-size:15px;}
.infopromotion {
    color: #27ae60;
    display: block;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.3em;
}
.detailpromotion {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dfdfdd;
    color:#27ae60;
    border-radius: 4px;
    display: block;
    margin: 6px 1px 9px;
    overflow: hidden;
    position: relative;
    padding:5px 20px;
    font-size:14px;
}
.iconmobile-check {
    background-position: -67px -20px;
    height: 20px;
    margin-right: 8px;
    width: 15px;
}
.infocomes li {
    color: #545454;
    display: block;
    font-size: 13px;
    overflow: hidden;
    padding: 3px 0 0 8px;
}
.infocomes li a{color:#288ad6;}
.btn-buy{display:block;width:95%;background:#f15a22;color:#fff !important;font-size:20px;text-align:center;padding:10px 0 6px 0;margin:10px auto 0;border-radius:4px;font-weight:bold;}
.btn-buy span{display:block;font-size:13px;}
.call-back{display:block;width:95%;background:#22934e;color:#fff !important;font-size:19px;text-align:center;padding:10px 0 6px 0;margin:10px auto 0;border-radius:4px;font-weight:bold;}
.call-back span{display:block;font-size:12px;}
.call-center{margin:10px 0;text-align:center;}
.call-center a{color:#d0021b;font-size:20px;}
.productinfo{display:block;}
.productinfo h3{
    color: #666;
    display: block;
    font-size: 20px;
    line-height: 1.3em;
    margin-bottom: 10px;
    border-top:1px solid #dfdfdd;
}
.productinfo ul li a{color:#288ad6;}
.productinfo ul li span {
    color: #666;
    display: table-cell;
    font-size: 13px;
    padding: 6px 5px;
    vertical-align: top;
    width: 35%;
}

.productinfo ul li div {
    color: #333;
    display: table-cell;
    font-size: 13px;
    padding: 6px 5px;
    vertical-align: top;
    width: auto;
}

.productinfo ul li {
    background: #fff none repeat scroll 0 0;
    display: table;
    width: 100%;font-size:12px;
}
.productinfo #accordion,.productinfo .panel{border:none;}
.productinfo .panel{border:none;color:#288ad6;text-align:center;}
.productinfo .panel-body{color:#333;text-align:left;padding:5px ;}
.productinfo .panel-body h2, .productinfo .panel-body h3, .productinfo .panel-body h4{ color: #333;
    display: block;border:none;
    font-size: 16px;text-transform:none;
    line-height: 1.3em;
    margin: 4px 0 0 0;}
.find-all-store{display:block;background:#f6f5f5;padding:10px;}
.find-all-store h4{color:#288ad6;text-align:center;text-transform:uppercase;font-size:16px;margin:3px 0 14px;}
.find-all-store b{font-size:14px;}
.find-all-store p a{color:#288ad6;}
.find-all-store p{font-size:12px; color:#666;}
.iconmobile-goi{background-position:-30px -73px;width:25px;height:23px;margin-right:6px;}
.iconmobile-pay{background-position:-1px -73px;width:25px;height:23px;margin-right:6px;}
.iconmobile-point{background-position:-285px 0;width:15px;height:21px;margin-right:3px;}
p.goi span{color:#f15a22;font-size:14px;}
p.goi b{color:#d0021b;}
.fixb{display:block;position:fixed;bottom:0; left:0;width:100%;font-size:15px;}
.fixb .getphone{display:block;float:left;width:49.5%;background:#22934e;padding:5px 0;text-align:center;color:#fff;}
.fixb .callnow{display:block;float:right;width:49.5%;background:#f15a22;padding:5px 0;text-align:center;color:#fff;}
#phoneModal .modal-dialog{width:90%;margin:30px auto}
#phoneModal .modal-content {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: relative;
}
#phoneModal .modal-body-phone {
    overflow: hidden;
    padding: 10px;
}
#phoneModal  .modal-header {
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.4286px;
    padding: 6px 10px;
}
#phoneModal .review-text {
    border-radius: 0;
    margin-bottom: 3px;
    width: 93%;
}
#phoneModal .btn-info {
    background: rgba(95, 82, 125, 0.25) none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #333;
}
/* end product */
/* comments */
.box-cmt textarea {
    border: 1px solid #d6d6d6;
    box-shadow: none;
    box-sizing: border-box;
    color: #666 !important;
    display: block;
    font-size: 12px;
    height: 60px;
    max-height: 400px;
    min-height: 60px;
    outline: medium none;
    overflow: auto;
    padding: 4px 5px 18px;
    resize: none;
    text-align: left;
    text-indent: 10px;
    width: 100%;
}
.block-form-user {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #dfdfdd #dfdfdd;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding: 6px 0;
    overflow:hidden;
}
.block-form-user .form-control {
    border-radius: 0;
    margin-bottom: 2px;
    box-shadow:none;
}
.block-form-user .btn-ask{background:#f15a22;border-radius:0;color:#fff;}
.ask {
    padding: 10px 15px 10px 0;
}
.replay {
    background-color: #f9f9f7;
    margin-left: 30px;
    padding: 6px 9px;
    border:1px solid #e7e7e7;
    margin-right:2px;
}
.replay img, .ask img {
    float: left;
    margin: 1px 10px 0 0;
}
.content{margin:5px 0 5px 30px;}
.content .alif{font-size:11px;color:#4a90e2;}
.content .time{font-size:11px;color:#666;}
.content .dot{padding:0 4px;}
.content p{margin-bottom:3px;}
.lilich {margin:0;}
.replay .mob{background:#eebc49;padding:3px 5px;margin-left:8px;font-size:11px;}
.lst-cmt a{color:#4a90e2;}
.lst-cmt .pagcomment {
    clear: both;
    display: block;
    margin: 10px auto;
    overflow: hidden;
    padding: 8px 2px;
}
h3.ret{font-size:18px;line-height:1.3;padding:0 2px;}
.lst-cmt .pagcomment a {
    background: #eee none repeat scroll 0 0;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    float: left;
    font-size: 12px;
    margin-right: 4px;
    padding: 4px 10px;
    text-align: center;
}

.lst-cmt .pagcomment span {
    background: #eee none repeat scroll 0 0;
    border-radius: 3px;
    clear: none !important;
    color: #333;
    cursor: pointer;
    float: left;
    font-size: 12px;
    margin-right: 4px;
    padding: 4px 10px;
    text-align: center;
}

.lst-cmt .pagcomment span.active {
    background: #ccc none repeat scroll 0 0;
    border-radius: 3px;
    clear: none !important;
    color: #333;
    cursor: pointer;
    float: left;
    font-size: 12px;
    margin-right: 4px;
    padding: 4px 10px;
    text-align: center;
}

/* end comments */
.sidebar{padding:0 2px;}
.sidebar h3{  color: #666;
    display: block;
    font-size: 18px;
    line-height: 1.3em;
    margin: 15px 0 6px;
    overflow: hidden;}
.sidebar ul li a{display:block;overflow:hidden;padding:8px 0;}
.sidebar ul li h4{margin:0;padding-bottom:5px;font-size:13px;font-weight:normal;line-height:1.3;color:#666;}
.sidebar ul li img{float:left;margin:0 6px 10px 0;}
.sidebar ul li span{color:#666;font-size:12px;}
/* news */

.barnavnews {
    background: #fff none repeat scroll 0 0;
    display: block;
    height: auto;
}
.barnavnews .choosecate {
    color: #000;
    display: block;
    font-size: 16px;
    padding: 9px;
    position: relative;
    width: 100%;
    border-bottom:1px solid #dfdfdd;
}
.barnavnews .panel {margin:0;border:none;}
.barnavnews .panel-heading{padding:0;}
.barnavnews .panel-body{background:#fff;padding:0;}
.barnavnews .panel-body li{border-bottom:1px solid #dfdfdd;padding:6px 0;}
.barnavnews .panel-body li a{color:#444;font-size:15px;padding-left:5px;}
.barnavnews .choosecate b:after {
    content:'>';
    font:28px "Consolas", monospace;
    color:#666;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:50%; top:2px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}
.barnavnews .choosecate b:before {
    content:'';
    right:50%; top:0px;
    width:35px; height:25px;
    position:absolute;
    pointer-events:none;
    display:block;
}
.catenews,.allnews {
    display: block;
    overflow: hidden;
    background:#fff;
}
.catenews.home li:first-child {
    margin: 0 0 10px;
}
.catenews li, .allnews li {
    display: block;
    margin: 0 3px 15px;
    overflow: hidden;
    position: relative;
}
.catenews li a.tone {
    margin-bottom: 0.5%;
    position: relative;
    border:none;
}
.catenews li a, .allnews li a {
    display: block;
    overflow: hidden;
}
.catenews li a.ttwo {
    float: left;
    position: relative;
    width: 49.75%;
}
.catenews li a.tthree {
    float: right;
    position: relative;
    width: 49.75%;
}
.catenews li a.tone img {
    border-radius: 0;
    display: block;
    float: none;
    height: auto;
    margin: 0;
    position: relative;
    width: 100%;
}
.catenews li img {
    margin: 0;
    width: 100%;
    height:auto;
}
.catenews li .cover {
    background: #f3f3f3;
    display:block;
}
.allnews h3, .catenews h3{margin:0;font-size:14px;line-height:1.3;padding:5px 3px;}

.catenews li div label {
    color: #d0021b;
    font-size: 12px;
    margin:0;font-weight:normal;
}
.catenews li a.ttwo h3, .catenews li a.tthree h3{min-height:55px;}
.allnews li img {
    float: left;
    height: auto;
    margin: 6px 10px 15px 0;
    width: 140px;
}
.allnews li div {
    color: #9b9b9b;
    display: inline;
    font-size: 12px;
    white-space: nowrap;
}
.allnews li span {
    color: #9b9b9b;
    font-size: 12px;
    overflow: hidden;
}
.allnews .wrap_page{background:#fff;}
.allnews .wrap_page .pagination{margin:0;}
.adsnews{display:block;
    margin:10px 0 20px;}
.adsnews img {
    display: block;
    height: auto;
    margin: 0;
    position: relative;
    width: 100%;
}
.catenewsfoot {
    background: #fff none repeat scroll 0 0;
    border-top: 1px solid #dfdfdf;
    display: block;
    overflow: hidden;
}
.catenewsfoot li {
    border-bottom: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    float: left;
    overflow: hidden;
    width: 49.8%;
}
.catenewsfoot li a {
    color: #4a90e2;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 12px 0;
    text-align: center;
}
.catenewsfoot li:nth-child(2n+2) {
    border-right: 0 none;
}
.iconmobile-comm{background-position:-56px -72px; width:13px;height:11px;margin:0 3px 0 6px;}
.article {
    margin: 0;
    overflow: hidden;
    padding:0 10px;
    font-size:14px;
    display:block;
}
.article h1 {
    color: #333;
    display: block;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3em;
    margin: 20px 0;
    overflow: hidden;
}
.article h3, h4, h5{margin:10px 0 3px 0;line-height:1.3;font-size:15px;padding:0;}
.article a{color:#288ad6;}
.article p{margin-bottom:3px;}
.article > div {
    width: auto;
}
.timeupdate {
    background: #f2f2f2 none repeat scroll 0 0;
    display: block;
    margin: 10px 0;
    overflow: hidden;
    padding: 6px 10px 5px;
}
.timeupdate span {
    color: #9b9b9b;
    float: left;
    font-size: 14px;
}.timeupdate div label {
    color: #d0021b;
    font-size: 12px;
    margin:0;
}
.timeupdate div {
    color: #9b9b9b;
    float: left;
    font-size: 14px;
    margin-left: 10px;
}.article h2 {
    margin: 0 0 10px;
    font-size:14px;line-height:1.3;
}
.article img{
    display: block;
    height: auto !important;
    margin: 15px auto;
    max-width: 100%;
}
.article .likeshare{float:right;margin:20px 20px 10px 0;display:block;}
.comment{display:block;margin:15px 0;}
.reproduct .owl-carousel .owl-wrapper-outer, #owl-renews .owl-wrapper-outer{background:#fff;}

#owl-renews .item a {
    background: #fff none repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
}
#owl-renews .item img{
    margin: 0;
    width:100%;
    height:auto;
}

#owl-renews .item h3{
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
    margin: 10px 5px 5px;
}
#owl-renews .item h3 label {
    color: #d0021b;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

#owl-renews .item strong {
    color: #d0021b;
    float: left;
    font-size: 12px;
    margin: 0 5px 5px;
}
#owl-renews .item {
    background: #fff none repeat scroll 0 0;
    height: 225px;
    margin-right: 15px;
    position: relative;
}
/* end news */
/* faq */
.fbreadcrumb
{
   display:block;
   position:relative;
   overflow:hidden;
   padding:6px 2px;
}
.fbreadcrumb * {
    color: #666;
    float: left;
    font-size: 12px;
}
.fbreadcrumb a{color:#666;}
.fbreadcrumb h1{margin:0;padding:0;line-height:1.8;font-weight:normal;color: #666; font-size: 12px;}
.fbreadcrumb strong {
    color: #888;
    font-size: 16px;
    margin: 0 6px;
}
.box-cmt select{width:100%;height:34px; text-align:center;color:#999;border:1px solid #ccc;margin-bottom:2px;}
.send-cmt{display:block;overflow:hidden;margin:0 1px;}
.tab-content > .active {
    display: block;
    visibility:visible;
}
.nav-tabs{display:block;height:30px;margin-top:15px;border-bottom:1px solid #dddddd;}
.nav-tabs > li{margin-left:9px;}
.nav-tabs > li a {
    background: #fff none repeat scroll 0 0;
    color: #444;
    display: block;
    font-size: 15px;
    padding: 4px 15px;
    text-align: center;
}
.nav-tabs > li.active a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #dddddd #dddddd -moz-use-text-color;
    border-image: none;
    border-radius: 1px 1px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    color: #333;
    font-weight: 600;
    height: 30px;
    white-space:nowrap;
}

.listask {
    display: block;
    margin: 10px auto;
    overflow: visible;
    position: relative;
}
.listask li {
    border-bottom: 1px solid #ddd;
    display: block;
    height: 68px;
    overflow: visible;
    padding: 10px 3px;
    line-height:1.3;
}
.listask li .linkimg {
    float: left;
    height: 45px;
    margin-right: 10px;
    overflow: hidden;
    width: 70px;
}
.listask li img {
    display: block;
    max-width: 70px;
}
.listask li .linktitle {
    display: block;
    position: relative;
}
.listask li .linktitle h3 {
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:0;padding:0;font-weight:normal;
}
.listask li .infomore {
    color: #4a90e2;
    display: inline;
    font-size: 11px;
    margin-right: 4px;
}.pagiask {
    display: block;
    overflow: hidden;
    padding:0 2px;
}
.pagiask a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    color: #666;
    float: left;
    font-size: 14px;
    margin-right: 12px;
    padding: 4px 10px;
    text-align: center;
    white-space: nowrap;
    margin-bottom:10px;
}
.pagiask a.actpage {
    background: #d2d2d2 none repeat scroll 0 0;
    border: 1px solid #d2d2d2;
    color: #000;
}.asktopic {
    margin-top: 10px;
    display: block;
    padding:0 2px;
}
.asktopic .title {
    border-bottom: 1px solid #d7d7d7;
    clear: both;
    display: block;
    height: 41px;
    padding: 5px 0;
}
.asktopic .title h2 {
    border-bottom: 3px solid #f15a22;
    color: #555;
    float: left;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 0;
    text-transform: uppercase;
    margin:0;
}
.asktopic .topicname
{
    clear:both;
    color: #888;
    float: left;
    font-size: 14px;
    padding: 12px 0;
    width: 50%;
}
.asktopic .numberask {
    color: #888;
    float: left;
    font-size: 14px;
    padding: 12px 0;
    text-align: right;
    width: 50%;
}
.asktopic ul {
    border-top: 1px solid #ddd;
    clear: both;
    display: block;
    margin-top: 5px;
    overflow: visible;
}
.asktopic li {
    border-bottom: 1px solid #ccc;
    float: none;
    overflow: hidden;
    padding: 10px 0;
}
.asktopic li a {
    color: #288ad8;
    display: inline;
    font-size: 14px;
    padding: 10px;
}
.asktopic li span {
    color: #666;
    float: right;
    margin-right:10px;
}
.breadleft {
    border-bottom: 1px solid #d7d7d7;
    clear: both;
    display: block;
    height: 40px;
    margin: 10px 2px;
    overflow: hidden;
    position: relative;
}
.breadleft .title {
    border-bottom: 3px solid #f15a22;
    clear: both;
    float: left;
    padding: 0px 0 4px;
}
.breadleft .title strong {
    color: #666;
    display: inline;
    font-size: 18px;
    padding: 8px 0;
    text-transform: uppercase;
}
.breadleft .title h2 {
    color: #288ad6;
    display: inline;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 0;
    text-transform: uppercase;
    margin:0;line-height:1.8;
}
.remak{display:block;overflow:hidden;padding:8px;border:1px solid #ccc;margin:20px 2px;}
.remak a{display:block;}
.remak span{display:block;color:#d0021b;font-weight:bold;font-size:21px;margin-top:10px;}
.remak img{float:left;margin:0 10px 0 0;}
.remak h3{margin:0;line-height:1.3;font-size:16px;}
.userask {
    display: block;
    overflow: hidden;
    line-height:1.3;
    margin:10px 0;
}
.userask .linkpic {
    float: left;
    height: 50px;
    margin: 0 10px;
    overflow: hidden;
    width: 50px;
}
.userask img {
    border-radius: 60px;
    display: block;
    height: 100%;
    margin-top: 0;
    width: 100%;
}
.userask .linkusername {
    color: #666;
    display: block;
    font-size: 14px;
    margin-top: 3px;
    padding-top: 3px;
}
.userask label {
    color: #666;
    float: left;
    font-size: 12px;
    margin: 6px 4px 0 0;
}
.userask .linktags {
    color: #288ad6;
    float: left;
    font-size: 13px;
    margin: 6px 4px 0 0;
}
.infoask {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: #333;
    display: block;
    font-size: 14px;
    margin: 10px 1px 0;
    overflow: visible;
    padding: 10px;
    position: relative;
}
.infoask h1 {
    color: #444;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin:12px 0 0 0;
    padding: 0 0 16px;
    line-height:1.3;
}
.wfaq .likeshare {
    display: block;
    float: right;
    margin: 10px 10px 10px 0;
}.comment .rowcomment {
    border-bottom: 1px solid #ddd;
    clear: both;
    display: block;
    margin: 15px 0;
    min-height: 46px;
}
.comment .rowcomment ul {
    display: block;
    width: 145px;
}
.comment .rowcomment ul li.active {
    background: #f15a22 none repeat scroll 0 0;
    color: #fff;
    text-align:center;
}
.comment .rowcomment ul li h2.bl {
    font-size: 13px;
    font-weight: bold;
    line-height: 46px;
    margin:0;padding:0;color:#fff;
}.refaq {
    display: block;
    margin: 0 0 20px 0;
    overflow: visible;
    position: relative;
    border:none !important;
}
.refaq li {
    display: block;
    overflow: visible;
    padding: 10px 0;
    border:none;
}
.refaq li .linktitle {
    display: block;
    position: relative;
    padding:0;
}
.refaq li .linktitle h3 {
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.3em;
    margin:0;padding:0;
    width: 95%;font-weight:normal;
}.refaq li span {
    color: #288ad6;
    display: inline;
    font-size: 11px;
    margin-right: 4px;
    float:none;
}
/* end faq */
