.wrapper{
	clear: both;
}
.whome{
	padding-top: 0;
}
.bestcomment a figure{
    text-align: justify;
}
.usage_tips a h3{
	/*text-align: justify;*/
}
.comment, .renews, .article, .reproduct{
	width: 100%;
}
nav{
	width: 385px
}
.step-container{
	clear: both;
}
.reject{
	display: none;
}
.reject-title{
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.top30{
	margin-top: 30px;
	font-size: 18px;
	font-weight: bold;
}
.bottom30{
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: bold;
}
.homeproduct li{
	background: #FFF;
}
.homeproduct li img {
    width: auto;
    min-height: auto;
    height: 182px;
    width: 413px;
}
.homeproduct li h3 , .homeproduct li b{
    font-family: arial;
}
.main-product-price{
	font-weight: bold;
    font-size: 14px;
}
.price-old{
    text-decoration: line-through;
}
.moreproduct a{
	padding: 0;
}
.moreproduct form button{
	border: none;
	background: none;
	outline: none;
    padding: 5px 10px;
}
.jqx-validator-hint {
	min-height: 24px;
    height: auto;
    border: 1px solid #D41212;
    background-color: #D41212;
}
.jqx-fill-state-normal-validation, .jqx-widget-header-validation{
	border: 1px solid #D41212;
    background-color: #D41212;
    height: auto;
    color: #FFF;
}
.jqx-fill-state-normal-validation a{
	color: #FFF;
}
.jqx-validator-hint a{
	color: #FFF;
    font-weight: bold;
}
.moneypay input {
    margin-left: 1px;
}
.question, .asktopic{
	float: none;
	width: 100%;
}
.icon-shortcut {
	width: 25px;
    height: 25px;
    background-image: none;
    background-color: #ccc;
    margin-right: 7px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 26px;
    font-style: normal;
	display: inline-block;
}
.icon-shortcut-larger {
	width: 50px;
    height: 50px;
    background-image: none;
    background-color: #ccc;
    margin-right: 7px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 51px;
    font-style: normal;
	display: inline-block;
}
.fastsearch .order{
	margin-top: 5px;
}
.clearfilter{
    border: none;
    outline: none;
    display: none;
    background: none;
    font-size: 14px;
    color: #D41212;
    margin-left: 5px;
}

.filter li .arrdown{
	color: #288ad6;
    font-size: 17px;
    position: relative;
    top: 2px;
    margin-left: 5px;
}
.fk-arrdown{
	color: #288ad6;
    font-size: 17px;
    position: relative;
    top: 2px;
    margin-left: 5px;
}
.filter-active{
	background: #f7f7f7
}
.sidebar{
	padding-left: 0;
}
.latestnews li img {
    display: block;
    height: 200px;
    width: auto;
    margin: 0 auto;
}
.carousel-inner img {
    height: 280px !important;
}