@import "../lib/ionic/scss/variables_small";

$header : 44px;
$size : 56px;
$size-mini : 40px;
$margin: 16px;
$top: 10px;
$font-size: 1.5rem;
$font-size-min: 1rem;

$paddingInput : 5px;
$margin-input : 5px;
$height-input : 40px;
$font-size-icon-circle: 16px;
$font-size-medium: 13px;
$font-size-small: 11px;
$font-size-icon-quantity: 25px;
$border-color: #EAEAEA;
$olbius-outside: #66CCFF;
$olbius-inside: #0099CC;
$citem-padding: 3px;
$pdEmpty : 16px;
$default-color: #333;
$bg-color: #EEE;
$bg-default: #FFF;
$avatar-width: 70px;
$avatar-big-width: 120px;
$padding-thumb-left: $avatar-width + $paddingInput * 2;
$input-right-width: 200px;

$login-input-color: #EEE;
$bg-login-item: rgba(255,255,255,0.2);
$login-container-height : 285px;
$product-image-size: 70px;
$width-quantity : 60px;
$wreg-quantity: 25px;