.item.item-active{
  border-color: #b2b2b2;
    background-color: #f8f8f8;
    color: #B71C1C;
}
.item.item-input{
  // height: $height-input;
}
.item.item-toggle{
  padding-top: $pdEmpty;
  padding-bottom: $pdEmpty;
}
.item.item-chart{
  @extend .no-padding;
}
.item{
  font-size: $font-size-medium;

  h3, p{
    font-size: $font-size-medium;
  }
  p.item-row{
    color: $default-color;
    font-size: $font-size-medium;
  }
  p.item-row.description{
    margin-left: $margin-input;
  }
  .item-row{
    margin-bottom: 4px;

    &last-child{
      margin-bottom: 0;
    }
  }

  a.balanced{
    font-weight: bold;
  }
  .item-info-label{
    float: left;
  }
  .item-info{
      float: right;
      color: $default-color;
      font-size: $font-size-small;
  }
 .wrap-text{
   white-space: normal;
 }
 .normal-textarea{
   height: 50px;
 }
 .medium-textarea{
   height: 100px;
 }
 .large-textarea{
   height: 150px;
 }
 .giant-textarea{
   height: 200px;
 }
 .active-route{
   color: $balanced;
 }
}
 .item-text-wrap{
    textarea{
      width: 100%;
    }
  }
.item-img{
    img{
      width: 100%;
      text-align: center;
    }
  }
.icon-circle{
  border-radius: 50%;
  color: #FFF;
  background: $positive;
  width: $item-icon-font-size;
  height: $item-icon-font-size;
  font-size: $font-size-icon-circle;
}
.icon-circle-middle{
  @extend .icon-circle;
  @include centerVerticalAbsolute($item-icon-font-size);
}
@include renderBackground('icon-circle');
.item-icon-left .icon-circle, .item-icon-right .icon-circle{
  @extend .icon-circle;
}
.item-icon-left .icon-circle-middle, .item-icon-right .icon-circle-middle{
  @extend .icon-circle-middle;
}
.no-padding-vertical{
   padding-top: 0 !important;
   padding-bottom: 0 !important;
}
.no-padding-horizon{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no-padding{
  @extend .no-padding-vertical;
  @extend .no-padding-horizon;
}

.left{
  @include absoluteTopLeft();
}

.right{
  @include absoluteTopRight();
}
.item-stacked-label{
  background: $bg-default;
}
.item-input-right{
  padding-right: $input-right-width;
}
.item-input-right{
  input{
    @extend .right;
    width: $input-right-width;
    padding: $pdEmpty $paddingInput;
    height: 100%;
    text-align: right;
    border: none;
  }
}
.item-stacked-label{
  p{
    margin-top: $margin-input;
  }
}
.item-contact-person {
  height: $height-input;
}
.item-contact-person{
  input{
    width: 50%;
    padding: $paddingInput;
    height: $height-input;
  }
  input:first-child{
    @extend .left;
  }
  input:last-child{
    @extend .right;
    text-align: right;
  }
}

.profile-picture{
  text-align: center;
  margin-bottom: $margin-input;
  position: relative;
}
.avatar{
  max-width: $avatar-big-width;
  max-height: $avatar-big-width;
  min-width: $avatar-big-width;
  border-radius: $avatar-big-width/2;
}
button.capture{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  border-radius: $avatar-big-width/2;
  @extend .left;
}
.item-space{
  margin-bottom: 5px;
}
.item.item-space-top{
  margin-top: $paddingInput;

  &:first-child{
    margin-top: 0;
  }
}
.item-icon-left{
  .input-label{
    padding-left: $item-icon-font-size + $paddingInput;
  }
}

.product-item{
  padding-left: $paddingInput;
  margin-bottom: 5px;
  border-radius: 5px;
  width: 100%;
  margin-left: 0;

  .product-content{
    min-height: $product-image-size;

    .product-content-img{
      width: $product-image-size;
      height: $product-image-size;
      float: left;
      margin-right: $margin-input;

      img{
        max-width: $product-image-size;
        max-height: $product-image-size;
        width: 100%;
        height: 100%;
      }
    }
    .product-content-text{
      float: right;
      width: calc(100% - #{$product-image-size + $margin-input});

    }

  }
  .editable-product{
    height: $height-input;
    background: #FFF;
    border: none;
    box-shadow: 0 0 1px #ccc;
    width: 100%;
  }
}
.product-item{
    h1, h2, h3, h4, h5, h6{
      white-space: normal;
    }
}
.cart-item{
  @extend .product-item;
  padding-right: $width-quantity + $paddingInput;
}
.order-item{
  color: $default_color;
}
.cart {
  .cart-item{
    padding: 0;

    .item-content{
      padding: $paddingInput;
      padding-right: $width-quantity + $paddingInput;

      .cart-content{
          min-height: $product-image-size;
      }

      .cart-content-img{
        width: $product-image-size;
        height: $product-image-size;
        float: left;
        margin-right: $margin-input;

        img{
            max-width: $product-image-size;
            max-height: $product-image-size;
            width: 100%;
            height: 100%;
        }
      }
    }
  }
}
.promotion-item{
  background: rgba(76, 217, 100, 0.1);
  .item-content{
    background: transparent;

    .cartquantity{
        border-left: 1px solid #DDDDDD;
    }
  }
}
.item-thumbnail-left.cart-item{
  // padding-bottom: $citem-padding;
}
//
.item-empty{
  padding: $size / 2 + $margin;
  border: none;
  background: transparent;
}

.child{
  position: absolute;
  top: 0;
  height: 100%;
}
.cartquantity{
   right: 0;
    width: $width-quantity;
    border-left: 1px solid $border-color;
    @extend .child;
}
.cartquantity{
  input{
    @extend .child;
    text-align: center;
    left: 0;
    width: $width-quantity - $wreg-quantity;
  }
  .quantity-content{
    text-align: center;
    position: relative;
    height: 20px;
    line-height: 20px;
    margin-top: -10px;
    top: 50%
  }
  $off : 5px;
  $woff: $font-size-icon-quantity + 2*$off;
  .regulator{
    @extend .child;
    right: 0;
    width: $woff;
  }
  .rex{
    font-size: $font-size-icon-quantity;
    position: absolute;
    right: 0;
    height: 50%;
    text-align: center;
    width: $woff;
  }
  .rex i{
    position: absolute;
    @include centerHorizonAbsolute($font-size-icon-quantity);
  }
  .rexsub{
    @extend .rex;
    top: 0;
  }
  .rexsub i{
    bottom: 10px;
  }
  .rexadd{
    @extend .rex;
    bottom: 0;
  }
  .rexadd i {
    top: 10px;
  }
}