<div class='img-camera-container' ng-if="options.preview">
	<loading id="loadingid"></loading>
	<img class='image-camera' id="{{id}}"/>
</div>
<img class='image-camera hide' id="{{id}}" ng-if="!options.preview"/>
<div id="camera" class="center">
	<div style="display:block">
		<input type="file" class='image-camera-input' accept="image/*" id="inputSelect{{id}}" ng-model="image" image-reader/>
		<button class="btn btn-app btn-grey" ng-click="takePicture()">
			<i class="ace-icon fa fa-camera"></i> Camera
		</button>
	</div>
</div>
