<div class="row upload-image">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form id="fileupload" method="POST" enctype="multipart/form-data"
              data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
            <div class="fileupload-buttonbar col-lg-7 col-md-7 col-sm-6 col-xs-12">
                <span class="btn btn-success fileinput-button margin-0" ng-class="{disabled: disabled}">
                    <i class="ace-icon fa fa-image"></i>
                    <span>Đổi ảnh</span>
                    <input type="file" name="files[]" ng-disabled="disabled">
                </span>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 fade" data-ng-class="{in: active()}">
                <div class="progress progress-striped active margin-0" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
            </div>
        </form>
    </div>
</div>