<!--forgot password-->
<div class="widget-body">
    <div class="widget-main">
        <h4 class="header red  bigger"><i class="icon-key"></i> Nhận mật khẩu </h4>

        <p>
            Nhập email để nhận thông tin hướng dẫn
        </p>
        <form>
            <fieldset>
                <label> <span class="block input-icon input-icon-right">
                        <input type="email" class="span12" placeholder="Email" />
                        <i class="icon-envelope"></i> </span> </label>
                <div class="clearfix">
                    <button onclick="return false;" class="width-45 pull-right btn btn-small btn-danger">
                        <i class="icon-lightbulb"></i>
                        Gửi thông tin!
                    </button>
                </div>
            </fieldset>
        </form>
    </div><!-- /widget-main -->
    <div class="toolbar center">
        <a href="#" ng-click="changeState(0)" class="back-to-login-link">
            Quay về màn hình đăng nhập <i class="icon-arrow-right"></i>
        </a>
    </div>
</div><!-- /widget-body -->
