<div class="navbar navbar-default"  ng-controller="HeaderController" id="header">
	<div class="navbar-container">
		<div class="main-header-bt" ng-click="showLeftBar()">
			<i class="fa fa-bars sidebar-logo">&nbsp;</i>
		</div>
		<div class="nav-header">
			<span class="header-title lg-header-title md-header-title sm-header-title xs-header-title">{{headerTitle}}</span>
		</div>
		<div class="main-header-bt" ng-click="reloadState()">
			<i class="fa fa-refresh sidebar-logo">&nbsp;</i>
		</div>
	</div>
</div>
