<!--login form-->
<div class="row">
	<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 login-form">
		<input id="userName" name="USERNAME" type="text" class="login-input"
			placeholder="Username" ng-model="credentials.USERNAME"  ng-enter="login()"/>
	</div>
	<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 login-form">
		<input id="password" name="PASSWORD" type="password"
			class="login-input" placeholder="Password"
			ng-model="credentials.PASSWORD"  ng-enter="login()"/>
	</div>
	<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 login-form login-button-action">
		<button class="login-input login-button" ng-click="login()">
			{{LanguageFactory.getLabel('Login')}}
		</button>
	</div>
</div>
