<div id="left" class="sidebar-nav snap-drawer snap-drawer-left" ng-controller="SidebarController">
	<ul class="list-action">
		<li class="action">
			<div class="user">
				<div ng-click="checkStateChange('profile')">
					<div class="user-avatar">
						<img ng-src="{{employee.avatar}}" ng-show="employee.avatar"/>
						<img src="assets/avatars/avatar.png" ng-show="!employee.avatar"/>
					</div>
					<div class="user-name" ng-if="!employee.fullName">
						<span  ng-if="employee.firstName">{{employee.firstName + " "}}</span>
						<span  ng-if="employee.middleName">{{employee.middleName + " "}}</span>
						<span  ng-if="employee.lastName">{{employee.lastName}}</span>
					</div>
					<div class="user-name" ng-if="employee.fullName">
						<span>{{employee.fullName}}</span>
					</div>
				</div>
				<div class="iconLanguage white-color">
					<input type="image" src="assets/images/en.png" name="english" ng-click="LanguageFactory.change('en')"/>
					<input type="image" src="assets/images/vi.png" name="vietnamese" ng-click="LanguageFactory.change('vi')"/>
				</div>
			</div>
		</li>
		<li class="action">
			<div ng-click="checkStateChange('main')">
				<i class="c-icon fa fa-home white-color"></i>&nbsp;<span >{{LanguageFactory.getLabel('Menu')}}</span>
			</div>
		</li>
		<li class="action">
			<div ng-click="checkStateChange('order/create/true')">
				<i class="c-icon fa fa-list-ul white-color"></i>&nbsp;<span >{{LanguageFactory.getLabel('CreateOutRouteOrder')}}</span>
			</div>
		<li class="action">
			<div ng-click="checkStateChange('store')">
				<i class="c-icon fa fa-list-ul white-color"></i>&nbsp;<span >{{LanguageFactory.getLabel('SelectInventoryStore')}}</span>
			</div>
		</li>
		<li class="action">
			<div ng-click="checkStateChange('customer/create')">
				<i class="c-icon fa fa-user white-color"></i>&nbsp;<span >{{LanguageFactory.getLabel('CreateCustomer')}}</span>
			</div>
		</li>
		<li class="action">
			<div ng-click="checkStateChange('employee-leave')">
				<i class="c-icon fa fa-fighter-jet white-color"></i>&nbsp;<span >{{LanguageFactory.getLabel('ForLeave')}}</span>
			</div>
		</li>
		<li class="action">
			<a href="javascript:void(0)" ng-click="logout()" >
				<i class="c-icon fa fa-power-off white-color"></i>&nbsp;<span >{{LanguageFactory.getLabel('Logout')}}</span>
			</div>
		</li>
	</ul>
	<div class="url-config">
		<input ng-model="url" type="text" class="col-xs-12 col-sm-12" placeholder="Enter base url"/>
		<button class="url-config-reload" ng-click="urlConfig()"><i class="c-icon fa fa-refresh"></i></button>
	</div>
</div>
