.map-container{
	position: relative;
	height: 490px;
}
.map-container .googlemap{
	height: 100%;
}
.map-container .action{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 600px;
	z-index: 2;
}
.map-container .action-small{
	width: 350px;
}
.action .update-button{
	float: right;
    border-radius: 10px;
    border: none;
}
.action select{
	float: right;
	margin-right: 10px;
	height: 33px;
}
.action .widget-body{
	max-height: 400px;
    overflow: auto;
    padding-bottom: 10px;
}

.map-container .update-button:active{
	outline: none;
}
.collapsed .widget-header{
	margin-bottom: 0;
}
.filter-condition{
	padding: 0 15px;
}
.widget-header .widget-toolbar a, .widget-header .widget-toolbar a i, .widget-header .widget-toolbar a  i[class^='icon-']:before{
	padding: 0;
	margin: 0;
}
.widget-header .widget-toolbar a{
    margin-right: 5px;
}
.widget-header .widget-toolbar a:last-child{
	margin-right: 0;
}
.filter-condition .header-filter{
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.filter-condition .header-filter:first-child{
	margin-top: 0;
}
.filter-condition .select-container{
	margin-bottom: 5px;
}
.select-container .lbl{
	margin-top: 0 !important;
}
.all-input{
    float: left;
    margin-top: 4px;
    margin-right: 5px;
}
.item-thumb-left{
	height: 80px;
}
.item-thumb-left img{
	float: left;
	width: 80px;
	max-height: 80px;
	margin-right: 10px;
}
table.promotion{
	width: 500px;
}
