<!-- <script type="text/ng-template" id="control.tpl.html"> -->
   <a id="viewInfo" ng-show="visible" ng-click="viewInfo()"><i class="icon viewRouteDetail ion-information-circled"></i></a>
<!-- </script> -->
<ui-gmap-google-map center='map.center' zoom='map.zoom' 
	dragging="map.dragging"
	bounds="map.bounds"
	events="map.events"
	options="map.options"
	pan="true"
	control="map.control">
<ui-gmap-marker
        idKey='marker.key'
        coords='marker.coords'
        click='marker.clicked'
        options='marker.options'
        events='marker.event'
        control='marker.control'
        >
</ui-gmap-marker>
<ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible' events="p.events" ng-if="visible"
                  geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
<!-- <ui-gmap-map-control template="control.tpl.html" position="top-right" controller="{{currentController}}" index="-1" ng-if="useControl"></ui-gmap-map-control>  --> 
</ui-gmap-google-map>

