.controls-chzn .error{
	  padding-top: 14px;
	  padding-left: 0;
	  display: inline;
	  text-align: left;
	  float: right;
	  color: #6E0000;
	  width: 300px;
}
.margin-top-10{
	margin-top: 10px;
}
.popup-action-al{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
